<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/101003/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,545},{230,102}}</string>
                <key>offset</key>
                <string>{-4,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,72},{230,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,257},{246,94}}</string>
                <key>offset</key>
                <string>{-3,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,81},{246,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1},{278,72}}</string>
                <key>offset</key>
                <string>{-2,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,100},{278,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{286,64}}</string>
                <key>offset</key>
                <string>{-2,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,104},{286,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,289},{282,74}}</string>
                <key>offset</key>
                <string>{-4,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,93},{282,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{272,80}}</string>
                <key>offset</key>
                <string>{-8,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,91},{272,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,555},{254,86}}</string>
                <key>offset</key>
                <string>{-11,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,92},{254,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,545},{236,86}}</string>
                <key>offset</key>
                <string>{-9,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,95},{236,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,365},{162,146}}</string>
                <key>offset</key>
                <string>{-41,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,32},{162,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,831},{176,144}}</string>
                <key>offset</key>
                <string>{-36,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,38},{176,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1},{198,136}}</string>
                <key>offset</key>
                <string>{-37,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,55},{198,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1},{204,134}}</string>
                <key>offset</key>
                <string>{-37,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,57},{204,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,541},{196,138}}</string>
                <key>offset</key>
                <string>{-35,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,45},{196,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,831},{180,140}}</string>
                <key>offset</key>
                <string>{-41,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,44},{180,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,199},{164,144}}</string>
                <key>offset</key>
                <string>{-50,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,43},{164,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,863},{160,142}}</string>
                <key>offset</key>
                <string>{-53,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,48},{160,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,541},{64,176}}</string>
                <key>offset</key>
                <string>{-26,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,0},{64,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,783},{66,174}}</string>
                <key>offset</key>
                <string>{-22,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,4},{66,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,851},{66,170}}</string>
                <key>offset</key>
                <string>{-21,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,18},{66,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,777},{70,166}}</string>
                <key>offset</key>
                <string>{-21,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,23},{70,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,739},{74,166}}</string>
                <key>offset</key>
                <string>{-20,159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,14},{74,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,753},{76,168}}</string>
                <key>offset</key>
                <string>{-26,164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,8},{76,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,851},{80,170}}</string>
                <key>offset</key>
                <string>{-34,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,7},{80,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,851},{78,172}}</string>
                <key>offset</key>
                <string>{-39,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,9},{78,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,541},{164,168}}</string>
                <key>offset</key>
                <string>{-37,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,0},{164,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,849},{174,166}}</string>
                <key>offset</key>
                <string>{-33,169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,4},{174,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1},{196,148}}</string>
                <key>offset</key>
                <string>{-36,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,19},{196,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,207},{202,136}}</string>
                <key>offset</key>
                <string>{-34,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,26},{202,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,239},{208,138}}</string>
                <key>offset</key>
                <string>{-29,166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,21},{208,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,545},{206,146}}</string>
                <key>offset</key>
                <string>{-30,168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,15},{206,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,201},{196,156}}</string>
                <key>offset</key>
                <string>{-34,167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,11},{196,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,851},{180,168}}</string>
                <key>offset</key>
                <string>{-42,168}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,4},{180,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,545},{230,138}}</string>
                <key>offset</key>
                <string>{3,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,24},{230,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,257},{246,126}}</string>
                <key>offset</key>
                <string>{2,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,39},{246,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,573},{276,104}}</string>
                <key>offset</key>
                <string>{1,146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,58},{276,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{286,96}}</string>
                <key>offset</key>
                <string>{1,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,61},{286,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,577},{284,100}}</string>
                <key>offset</key>
                <string>{3,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,54},{284,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,281},{272,112}}</string>
                <key>offset</key>
                <string>{7,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,45},{272,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{254,132}}</string>
                <key>offset</key>
                <string>{10,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,32},{254,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{236,142}}</string>
                <key>offset</key>
                <string>{8,159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,26},{236,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,411},{142,128}}</string>
                <key>offset</key>
                <string>{6,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,120},{142,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,399},{140,128}}</string>
                <key>offset</key>
                <string>{6,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,120},{140,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,453},{136,128}}</string>
                <key>offset</key>
                <string>{6,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,120},{136,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,297},{134,128}}</string>
                <key>offset</key>
                <string>{6,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,121},{134,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1},{104,152}}</string>
                <key>offset</key>
                <string>{-17,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,111},{104,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,155},{102,152}}</string>
                <key>offset</key>
                <string>{-16,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,111},{102,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1},{98,152}}</string>
                <key>offset</key>
                <string>{-15,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,111},{98,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,815},{98,152}}</string>
                <key>offset</key>
                <string>{-15,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,111},{98,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,811},{38,160}}</string>
                <key>offset</key>
                <string>{-20,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,104},{38,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,505},{38,160}}</string>
                <key>offset</key>
                <string>{-20,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,104},{38,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,505},{38,160}}</string>
                <key>offset</key>
                <string>{-20,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,104},{38,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1},{38,160}}</string>
                <key>offset</key>
                <string>{-20,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,104},{38,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,711},{100,140}}</string>
                <key>offset</key>
                <string>{-26,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,104},{100,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,155},{98,140}}</string>
                <key>offset</key>
                <string>{-26,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,104},{98,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,309},{96,142}}</string>
                <key>offset</key>
                <string>{-25,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,103},{96,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,449},{94,142}}</string>
                <key>offset</key>
                <string>{-24,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,103},{94,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,813},{142,108}}</string>
                <key>offset</key>
                <string>{-7,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,112},{142,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1},{138,110}}</string>
                <key>offset</key>
                <string>{-7,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,111},{138,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,591},{136,112}}</string>
                <key>offset</key>
                <string>{-8,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,111},{136,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101003/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,141},{134,112}}</string>
                <key>offset</key>
                <string>{-7,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,111},{134,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_101003@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad18f4bbf77d962b5eacadcc57425218:ad15f92ac0133da6dc18ea1154f16966:648e989e7233382c98aa2b01e5945e73$</string>
            <key>textureFileName</key>
            <string>wing_101003@0.png</string>
        </dict>
    </dict>
</plist>
