<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/100004/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,985},{190,154}}</string>
                <key>offset</key>
                <string>{-28,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,97},{190,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,567},{222,128}}</string>
                <key>offset</key>
                <string>{6,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,96},{222,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,269},{82,178}}</string>
                <key>offset</key>
                <string>{-46,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,66},{82,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1035},{154,190}}</string>
                <key>offset</key>
                <string>{-68,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,54},{154,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,877},{106,198}}</string>
                <key>offset</key>
                <string>{-68,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,75},{106,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,741},{200,152}}</string>
                <key>offset</key>
                <string>{17,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,83},{200,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1299},{176,164}}</string>
                <key>offset</key>
                <string>{-49,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,65},{176,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,859},{216,154}}</string>
                <key>offset</key>
                <string>{-53,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,61},{216,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,443},{236,122}}</string>
                <key>offset</key>
                <string>{-16,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,93},{236,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1119},{182,134}}</string>
                <key>offset</key>
                <string>{-3,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,81},{182,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,587},{224,152}}</string>
                <key>offset</key>
                <string>{-33,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,70},{224,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1087},{190,150}}</string>
                <key>offset</key>
                <string>{28,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,68},{190,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1175},{84,122}}</string>
                <key>offset</key>
                <string>{35,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,101},{84,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1013},{160,124}}</string>
                <key>offset</key>
                <string>{42,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,98},{160,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,895},{186,118}}</string>
                <key>offset</key>
                <string>{12,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,105},{186,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,703},{222,116}}</string>
                <key>offset</key>
                <string>{-7,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,99},{222,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,697},{218,160}}</string>
                <key>offset</key>
                <string>{8,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,80},{218,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,719},{216,164}}</string>
                <key>offset</key>
                <string>{15,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,74},{216,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,597},{232,104}}</string>
                <key>offset</key>
                <string>{23,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,139},{232,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1303},{156,178}}</string>
                <key>offset</key>
                <string>{20,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,81},{156,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,471},{226,130}}</string>
                <key>offset</key>
                <string>{-16,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,108},{226,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{242,98}}</string>
                <key>offset</key>
                <string>{-17,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,134},{242,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1131},{104,168}}</string>
                <key>offset</key>
                <string>{-25,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,64},{104,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1015},{102,176}}</string>
                <key>offset</key>
                <string>{-26,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,60},{102,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1},{106,140}}</string>
                <key>offset</key>
                <string>{-12,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,105},{106,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,301},{162,142}}</string>
                <key>offset</key>
                <string>{-34,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,90},{162,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,607},{224,128}}</string>
                <key>offset</key>
                <string>{-18,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,88},{224,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,737},{220,130}}</string>
                <key>offset</key>
                <string>{-17,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,84},{220,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,491},{236,104}}</string>
                <key>offset</key>
                <string>{-16,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,116},{236,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,1293},{82,144}}</string>
                <key>offset</key>
                <string>{-27,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,86},{82,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,603},{220,114}}</string>
                <key>offset</key>
                <string>{-9,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,94},{220,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,821},{216,100}}</string>
                <key>offset</key>
                <string>{-17,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,106},{216,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,109},{190,134}}</string>
                <key>offset</key>
                <string>{-12,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,74},{190,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/death-1/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,617},{132,166}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,71},{132,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/death-1/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1015},{108,134}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,147},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/death-1/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,895},{186,116}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,189},{186,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/death-1/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{250,40}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,224},{250,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/death-1/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,75},{250,74}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,250},{250,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1},{276,72}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,185},{276,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1},{270,76}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,185},{270,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1303},{76,160}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,178},{76,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,741},{188,134}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,189},{188,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,271},{246,78}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,204},{246,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{276,78}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,197},{276,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,125},{244,116}}</string>
                <key>offset</key>
                <string>{11,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,109},{244,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,243},{244,116}}</string>
                <key>offset</key>
                <string>{12,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,111},{244,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,249},{244,116}}</string>
                <key>offset</key>
                <string>{11,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,112},{244,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{246,122}}</string>
                <key>offset</key>
                <string>{4,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,106},{246,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1},{246,122}}</string>
                <key>offset</key>
                <string>{0,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,107},{246,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1},{244,122}}</string>
                <key>offset</key>
                <string>{-3,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,109},{244,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,367},{242,122}}</string>
                <key>offset</key>
                <string>{-3,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,110},{242,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,361},{242,124}}</string>
                <key>offset</key>
                <string>{-1,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,108},{242,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1131},{164,164}}</string>
                <key>offset</key>
                <string>{-19,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,71},{164,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,951},{178,164}}</string>
                <key>offset</key>
                <string>{-14,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,71},{178,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,923},{198,162}}</string>
                <key>offset</key>
                <string>{-5,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,75},{198,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,869},{198,164}}</string>
                <key>offset</key>
                <string>{-5,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,73},{198,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1179},{152,168}}</string>
                <key>offset</key>
                <string>{-18,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,70},{152,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1295},{152,168}}</string>
                <key>offset</key>
                <string>{-22,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,70},{152,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1239},{52,184}}</string>
                <key>offset</key>
                <string>{-24,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,49},{52,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,79},{48,188}}</string>
                <key>offset</key>
                <string>{-21,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,50},{48,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1239},{54,188}}</string>
                <key>offset</key>
                <string>{-17,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,52},{54,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1191},{46,186}}</string>
                <key>offset</key>
                <string>{-21,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,50},{46,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,1239},{54,184}}</string>
                <key>offset</key>
                <string>{-26,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,49},{54,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1239},{54,184}}</string>
                <key>offset</key>
                <string>{-26,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,51},{54,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,785},{158,164}}</string>
                <key>offset</key>
                <string>{-19,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,66},{158,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1295},{162,162}}</string>
                <key>offset</key>
                <string>{-18,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,64},{162,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1015},{168,162}}</string>
                <key>offset</key>
                <string>{-18,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,60},{168,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1297},{180,162}}</string>
                <key>offset</key>
                <string>{-19,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,58},{180,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,487},{242,118}}</string>
                <key>offset</key>
                <string>{-3,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,90},{242,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,125},{244,122}}</string>
                <key>offset</key>
                <string>{-7,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,87},{244,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,79},{246,122}}</string>
                <key>offset</key>
                <string>{-12,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,91},{246,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,151},{246,118}}</string>
                <key>offset</key>
                <string>{-10,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,95},{246,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{246,118}}</string>
                <key>offset</key>
                <string>{-7,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,92},{246,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,203},{246,118}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,92},{246,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,323},{242,118}}</string>
                <key>offset</key>
                <string>{2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,94},{242,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,467},{240,118}}</string>
                <key>offset</key>
                <string>{2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,94},{240,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,351},{242,118}}</string>
                <key>offset</key>
                <string>{-1,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,93},{242,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,465},{156,144}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,153},{156,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,623},{116,170}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,146},{116,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1191},{46,182}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,135},{46,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1141},{46,182}}</string>
                <key>offset</key>
                <string>{-20,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,136},{46,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1015},{50,184}}</string>
                <key>offset</key>
                <string>{-21,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,135},{50,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,449},{96,166}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,137},{96,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1295},{156,120}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,152},{156,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1333},{152,130}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,147},{152,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_100004@0.png</string>
            <key>size</key>
            <string>{1464,1464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f509c26739e49a42e03e236165d427eb:59affa05d90bd7f0ca8d3dec2a1fa118:dec7776fd40ec8670115815550763ec2$</string>
            <key>textureFileName</key>
            <string>wing_100004@0.png</string>
        </dict>
    </dict>
</plist>
