<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/101002/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,755},{170,88}}</string>
                <key>offset</key>
                <string>{-1,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,80},{170,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,407},{172,90}}</string>
                <key>offset</key>
                <string>{-2,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,79},{172,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1},{176,86}}</string>
                <key>offset</key>
                <string>{-4,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,80},{176,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1},{178,86}}</string>
                <key>offset</key>
                <string>{-4,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,77},{178,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,757},{176,92}}</string>
                <key>offset</key>
                <string>{-6,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,69},{176,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,581},{172,90}}</string>
                <key>offset</key>
                <string>{-7,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,75},{172,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,233},{172,88}}</string>
                <key>offset</key>
                <string>{-9,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,84},{172,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,757},{170,82}}</string>
                <key>offset</key>
                <string>{-6,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,96},{170,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,753},{128,126}}</string>
                <key>offset</key>
                <string>{-36,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,53},{128,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,755},{132,126}}</string>
                <key>offset</key>
                <string>{-31,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,53},{132,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,331},{134,118}}</string>
                <key>offset</key>
                <string>{-29,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,57},{134,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,493},{136,116}}</string>
                <key>offset</key>
                <string>{-26,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,54},{136,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,631},{134,122}}</string>
                <key>offset</key>
                <string>{-23,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,44},{134,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,481},{128,126}}</string>
                <key>offset</key>
                <string>{-31,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,45},{128,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,631},{120,128}}</string>
                <key>offset</key>
                <string>{-40,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,52},{120,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,631},{122,126}}</string>
                <key>offset</key>
                <string>{-47,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,62},{122,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,315},{60,144}}</string>
                <key>offset</key>
                <string>{-29,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,29},{60,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,211},{58,142}}</string>
                <key>offset</key>
                <string>{-25,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,32},{58,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,609},{60,140}}</string>
                <key>offset</key>
                <string>{-24,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,32},{60,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,493},{58,136}}</string>
                <key>offset</key>
                <string>{-22,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,30},{58,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,701},{52,138}}</string>
                <key>offset</key>
                <string>{-18,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,24},{52,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,461},{58,140}}</string>
                <key>offset</key>
                <string>{-24,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,25},{58,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,467},{62,140}}</string>
                <key>offset</key>
                <string>{-31,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,31},{62,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,197},{64,144}}</string>
                <key>offset</key>
                <string>{-35,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,35},{64,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,347},{130,134}}</string>
                <key>offset</key>
                <string>{-31,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,29},{130,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,197},{132,132}}</string>
                <key>offset</key>
                <string>{-27,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,34},{132,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,755},{134,130}}</string>
                <key>offset</key>
                <string>{-26,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,34},{134,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,211},{136,128}}</string>
                <key>offset</key>
                <string>{-23,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,32},{136,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,339},{142,126}}</string>
                <key>offset</key>
                <string>{-17,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,32},{142,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,193},{144,128}}</string>
                <key>offset</key>
                <string>{-21,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,31},{144,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,569},{142,130}}</string>
                <key>offset</key>
                <string>{-26,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,33},{142,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,211},{136,134}}</string>
                <key>offset</key>
                <string>{-36,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,33},{136,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,583},{172,108}}</string>
                <key>offset</key>
                <string>{0,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,51},{172,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{172,106}}</string>
                <key>offset</key>
                <string>{1,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,56},{172,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{176,104}}</string>
                <key>offset</key>
                <string>{2,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,56},{176,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1},{178,100}}</string>
                <key>offset</key>
                <string>{3,150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,56},{178,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1},{176,100}}</string>
                <key>offset</key>
                <string>{5,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,54},{176,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{174,106}}</string>
                <key>offset</key>
                <string>{6,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,50},{174,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,119},{170,112}}</string>
                <key>offset</key>
                <string>{8,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,49},{170,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{172,116}}</string>
                <key>offset</key>
                <string>{5,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,47},{172,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,483},{146,106}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,140},{146,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,103},{148,106}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,139},{148,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,103},{150,106}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,138},{150,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,89},{152,106}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,138},{152,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,355},{106,136}}</string>
                <key>offset</key>
                <string>{-26,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,129},{106,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,343},{106,136}}</string>
                <key>offset</key>
                <string>{-25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,129},{106,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,347},{108,134}}</string>
                <key>offset</key>
                <string>{-25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,130},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,179},{110,134}}</string>
                <key>offset</key>
                <string>{-25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,130},{110,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,889},{36,142}}</string>
                <key>offset</key>
                <string>{-22,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,121},{36,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,609},{34,140}}</string>
                <key>offset</key>
                <string>{-21,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,122},{34,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,891},{34,140}}</string>
                <key>offset</key>
                <string>{-21,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,122},{34,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,935},{34,142}}</string>
                <key>offset</key>
                <string>{-21,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,121},{34,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,751},{102,118}}</string>
                <key>offset</key>
                <string>{-25,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,122},{102,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,729},{104,118}}</string>
                <key>offset</key>
                <string>{-25,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,122},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,609},{106,118}}</string>
                <key>offset</key>
                <string>{-25,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,122},{106,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,871},{106,118}}</string>
                <key>offset</key>
                <string>{-24,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,122},{106,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,483},{144,84}}</string>
                <key>offset</key>
                <string>{1,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,129},{144,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,483},{146,84}}</string>
                <key>offset</key>
                <string>{1,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,129},{146,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,107},{150,84}}</string>
                <key>offset</key>
                <string>{1,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,128},{150,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101002/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,755},{150,84}}</string>
                <key>offset</key>
                <string>{1,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,128},{150,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_101002@0.png</string>
            <key>size</key>
            <string>{978,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5bfa81b9bd66dd4da2751dae01a27f5:98f93347125a29f8edc17144556d4bee:bc4e40e6f3cbe4adbcb7f97b55543feb$</string>
            <key>textureFileName</key>
            <string>wing_101002@0.png</string>
        </dict>
    </dict>
</plist>
