<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/100004/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1051},{84,214}}</string>
                <key>offset</key>
                <string>{-36,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,64},{84,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1155},{158,180}}</string>
                <key>offset</key>
                <string>{-43,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,113},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,141},{196,178}}</string>
                <key>offset</key>
                <string>{-22,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,102},{196,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1319},{186,158}}</string>
                <key>offset</key>
                <string>{-14,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,67},{186,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,985},{72,200}}</string>
                <key>offset</key>
                <string>{-53,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,70},{72,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,507},{234,124}}</string>
                <key>offset</key>
                <string>{-9,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,101},{234,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,973},{174,180}}</string>
                <key>offset</key>
                <string>{-87,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,56},{174,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1307},{176,174}}</string>
                <key>offset</key>
                <string>{-70,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,61},{176,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,973},{176,124}}</string>
                <key>offset</key>
                <string>{7,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,110},{176,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,697},{106,172}}</string>
                <key>offset</key>
                <string>{1,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,66},{106,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{246,138}}</string>
                <key>offset</key>
                <string>{-37,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,81},{246,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,329},{64,136}}</string>
                <key>offset</key>
                <string>{3,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,97},{64,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,979},{150,152}}</string>
                <key>offset</key>
                <string>{-4,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,76},{150,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,121},{196,122}}</string>
                <key>offset</key>
                <string>{21,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,95},{196,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{230,138}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,102},{230,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,321},{230,142}}</string>
                <key>offset</key>
                <string>{-1,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,99},{230,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1125},{124,186}}</string>
                <key>offset</key>
                <string>{17,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,74},{124,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,123},{190,142}}</string>
                <key>offset</key>
                <string>{11,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,92},{190,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,679},{118,172}}</string>
                <key>offset</key>
                <string>{-16,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,70},{118,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,301},{114,176}}</string>
                <key>offset</key>
                <string>{-16,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,66},{114,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,787},{92,190}}</string>
                <key>offset</key>
                <string>{-6,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,58},{92,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,471},{84,188}}</string>
                <key>offset</key>
                <string>{3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,65},{84,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,971},{196,126}}</string>
                <key>offset</key>
                <string>{5,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,114},{196,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,527},{228,124}}</string>
                <key>offset</key>
                <string>{-8,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,121},{228,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,347},{120,178}}</string>
                <key>offset</key>
                <string>{-13,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,64},{120,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1315},{144,168}}</string>
                <key>offset</key>
                <string>{3,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,81},{144,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1187},{200,120}}</string>
                <key>offset</key>
                <string>{-23,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,116},{200,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1039},{210,114}}</string>
                <key>offset</key>
                <string>{-35,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,121},{210,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,757},{226,124}}</string>
                <key>offset</key>
                <string>{-18,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,90},{226,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,123},{176,118}}</string>
                <key>offset</key>
                <string>{-28,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,118},{176,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,971},{72,150}}</string>
                <key>offset</key>
                <string>{-34,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,80},{72,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1313},{64,160}}</string>
                <key>offset</key>
                <string>{-26,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,62},{64,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,125},{230,124}}</string>
                <key>offset</key>
                <string>{2,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,86},{230,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,251},{230,124}}</string>
                <key>offset</key>
                <string>{-1,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,84},{230,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,123},{232,88}}</string>
                <key>offset</key>
                <string>{-25,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,134},{232,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,563},{156,130}}</string>
                <key>offset</key>
                <string>{-21,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,91},{156,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/casting/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,569},{126,142}}</string>
                <key>offset</key>
                <string>{-18,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,74},{126,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/death-1/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,985},{200,122}}</string>
                <key>offset</key>
                <string>{14,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,101},{200,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/death-1/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,699},{224,108}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,165},{224,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/death-1/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,743},{238,82}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,193},{238,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,553},{246,86}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,189},{246,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,329},{182,140}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,176},{182,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,801},{236,112}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,178},{236,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1051},{254,104}}</string>
                <key>offset</key>
                <string>{23,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,177},{254,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,635},{94,150}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,170},{94,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1169},{126,138}}</string>
                <key>offset</key>
                <string>{16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,172},{126,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,973},{178,138}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,178},{178,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,1319},{162,134}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,178},{162,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/dig/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,263},{270,82}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,195},{270,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1},{242,120}}</string>
                <key>offset</key>
                <string>{2,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,109},{242,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1},{244,118}}</string>
                <key>offset</key>
                <string>{7,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,109},{244,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,141},{246,120}}</string>
                <key>offset</key>
                <string>{9,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,108},{246,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{246,120}}</string>
                <key>offset</key>
                <string>{7,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,107},{246,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,537},{194,160}}</string>
                <key>offset</key>
                <string>{-8,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,74},{194,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,347},{202,158}}</string>
                <key>offset</key>
                <string>{-5,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,77},{202,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,533},{194,164}}</string>
                <key>offset</key>
                <string>{-5,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,71},{194,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,377},{184,166}}</string>
                <key>offset</key>
                <string>{-7,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,69},{184,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1309},{170,168}}</string>
                <key>offset</key>
                <string>{-12,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,69},{170,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1315},{148,168}}</string>
                <key>offset</key>
                <string>{-22,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,71},{148,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,267},{60,190}}</string>
                <key>offset</key>
                <string>{-24,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,53},{60,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1131},{68,190}}</string>
                <key>offset</key>
                <string>{-23,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,56},{68,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1131},{62,190}}</string>
                <key>offset</key>
                <string>{-22,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,56},{62,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,377},{58,190}}</string>
                <key>offset</key>
                <string>{-20,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,54},{58,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1123},{62,182}}</string>
                <key>offset</key>
                <string>{-30,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,50},{62,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1323},{60,182}}</string>
                <key>offset</key>
                <string>{-30,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,51},{60,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,811},{188,160}}</string>
                <key>offset</key>
                <string>{-26,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,58},{188,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1309},{174,164}}</string>
                <key>offset</key>
                <string>{-26,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,57},{174,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,803},{158,166}}</string>
                <key>offset</key>
                <string>{-22,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,60},{158,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1151},{152,166}}</string>
                <key>offset</key>
                <string>{-20,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,65},{152,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,809},{194,160}}</string>
                <key>offset</key>
                <string>{-19,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,58},{194,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,213},{202,158}}</string>
                <key>offset</key>
                <string>{-20,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,60},{202,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,373},{200,158}}</string>
                <key>offset</key>
                <string>{-21,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,61},{200,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,377},{196,158}}</string>
                <key>offset</key>
                <string>{-22,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,62},{196,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{244,122}}</string>
                <key>offset</key>
                <string>{-13,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,94},{244,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1},{246,120}}</string>
                <key>offset</key>
                <string>{-12,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,96},{246,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,801},{248,116}}</string>
                <key>offset</key>
                <string>{-5,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,92},{248,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,799},{156,144}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,153},{156,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,479},{154,148}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,152},{154,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,971},{152,152}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,151},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,699},{110,172}}</string>
                <key>offset</key>
                <string>{-19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,145},{110,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,805},{124,166}}</string>
                <key>offset</key>
                <string>{-17,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,148},{124,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1153},{132,164}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,148},{132,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1385},{58,182}}</string>
                <key>offset</key>
                <string>{-22,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,137},{58,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,811},{116,160}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,137},{116,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,695},{106,162}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,138},{106,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1313},{86,170}}</string>
                <key>offset</key>
                <string>{-22,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,135},{86,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,557},{156,120}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,151},{156,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100004/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,251},{154,124}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,150},{154,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_100004@1.png</string>
            <key>size</key>
            <string>{1484,1484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f509c26739e49a42e03e236165d427eb:59affa05d90bd7f0ca8d3dec2a1fa118:dec7776fd40ec8670115815550763ec2$</string>
            <key>textureFileName</key>
            <string>wing_100004@1.png</string>
        </dict>
    </dict>
</plist>
