<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/101001/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,125},{144,56}}</string>
                <key>offset</key>
                <string>{0,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,108},{144,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1},{158,50}}</string>
                <key>offset</key>
                <string>{-1,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,109},{158,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1},{182,38}}</string>
                <key>offset</key>
                <string>{-1,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,127},{182,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1},{188,38}}</string>
                <key>offset</key>
                <string>{-1,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,127},{188,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,41},{184,40}}</string>
                <key>offset</key>
                <string>{0,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,119},{184,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,69},{172,54}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,101},{172,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,121},{154,68}}</string>
                <key>offset</key>
                <string>{-1,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,89},{154,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,173},{144,64}}</string>
                <key>offset</key>
                <string>{-1,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,97},{144,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,625},{108,94}}</string>
                <key>offset</key>
                <string>{-30,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,81},{108,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,663},{116,94}}</string>
                <key>offset</key>
                <string>{-29,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,77},{116,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,387},{132,84}}</string>
                <key>offset</key>
                <string>{-30,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,94},{132,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,365},{132,78}}</string>
                <key>offset</key>
                <string>{-28,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,100},{132,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,239},{132,84}}</string>
                <key>offset</key>
                <string>{-25,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,88},{132,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,423},{124,96}}</string>
                <key>offset</key>
                <string>{-18,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,70},{124,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,659},{112,102}}</string>
                <key>offset</key>
                <string>{-15,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,61},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,695},{104,100}}</string>
                <key>offset</key>
                <string>{-22,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,69},{104,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,243},{52,120}}</string>
                <key>offset</key>
                <string>{-25,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,52},{52,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,379},{48,118}}</string>
                <key>offset</key>
                <string>{-21,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,50},{48,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,161},{50,110}}</string>
                <key>offset</key>
                <string>{-19,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,65},{50,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,273},{50,104}}</string>
                <key>offset</key>
                <string>{-17,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,72},{50,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,669},{46,108}}</string>
                <key>offset</key>
                <string>{-14,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,62},{46,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,173},{38,118}}</string>
                <key>offset</key>
                <string>{-9,150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,47},{38,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,517},{36,120}}</string>
                <key>offset</key>
                <string>{-9,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,43},{36,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,121},{42,120}}</string>
                <key>offset</key>
                <string>{-17,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,47},{42,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,555},{106,116}}</string>
                <key>offset</key>
                <string>{-28,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,45},{106,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,521},{118,112}}</string>
                <key>offset</key>
                <string>{-26,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,45},{118,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,287},{132,98}}</string>
                <key>offset</key>
                <string>{-27,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,63},{132,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{134,88}}</string>
                <key>offset</key>
                <string>{-26,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,72},{134,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,223},{134,94}}</string>
                <key>offset</key>
                <string>{-23,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,64},{134,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{126,106}}</string>
                <key>offset</key>
                <string>{-16,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,51},{126,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,513},{110,114}}</string>
                <key>offset</key>
                <string>{-12,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,44},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,663},{104,116}}</string>
                <key>offset</key>
                <string>{-20,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,44},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,125},{144,96}}</string>
                <key>offset</key>
                <string>{2,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,61},{144,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,83},{160,88}}</string>
                <key>offset</key>
                <string>{2,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,65},{160,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,61},{182,68}}</string>
                <key>offset</key>
                <string>{1,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,89},{182,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{188,58}}</string>
                <key>offset</key>
                <string>{1,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,99},{188,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1},{184,66}}</string>
                <key>offset</key>
                <string>{1,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,89},{184,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,41},{172,78}}</string>
                <key>offset</key>
                <string>{1,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,76},{172,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{154,88}}</string>
                <key>offset</key>
                <string>{2,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,67},{154,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,191},{144,94}}</string>
                <key>offset</key>
                <string>{2,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,62},{144,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,325},{126,96}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,139},{126,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{126,96}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,139},{126,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,417},{126,94}}</string>
                <key>offset</key>
                <string>{-3,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,141},{126,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,319},{126,96}}</string>
                <key>offset</key>
                <string>{-3,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,139},{126,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,473},{96,112}}</string>
                <key>offset</key>
                <string>{-33,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,135},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,499},{96,112}}</string>
                <key>offset</key>
                <string>{-33,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,135},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,571},{96,112}}</string>
                <key>offset</key>
                <string>{-33,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,135},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,597},{96,112}}</string>
                <key>offset</key>
                <string>{-33,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,135},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,549},{56,108}}</string>
                <key>offset</key>
                <string>{-31,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,138},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,499},{56,108}}</string>
                <key>offset</key>
                <string>{-31,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,138},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,609},{56,108}}</string>
                <key>offset</key>
                <string>{-31,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,138},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,721},{56,108}}</string>
                <key>offset</key>
                <string>{-31,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,138},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,527},{96,82}}</string>
                <key>offset</key>
                <string>{-30,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,124},{96,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,719},{96,82}}</string>
                <key>offset</key>
                <string>{-30,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,124},{96,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,625},{96,82}}</string>
                <key>offset</key>
                <string>{-30,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,124},{96,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,719},{96,82}}</string>
                <key>offset</key>
                <string>{-30,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,124},{96,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,271},{126,56}}</string>
                <key>offset</key>
                <string>{4,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,134},{126,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,293},{126,56}}</string>
                <key>offset</key>
                <string>{4,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,134},{126,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,399},{126,56}}</string>
                <key>offset</key>
                <string>{4,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,134},{126,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101001/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,421},{126,56}}</string>
                <key>offset</key>
                <string>{4,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,134},{126,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_101001@0.png</string>
            <key>size</key>
            <string>{802,802}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf724df1c37b5cbd92cb74887611cd11:7c2095a1b990dad154eb1120878b8ef5:00db34ad189491b75643c60217aa9e1d$</string>
            <key>textureFileName</key>
            <string>wing_101001@0.png</string>
        </dict>
    </dict>
</plist>
