<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/100007/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1579},{218,182}}</string>
                <key>offset</key>
                <string>{35,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,96},{218,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,721},{148,226}}</string>
                <key>offset</key>
                <string>{-42,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,46},{148,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,715},{152,234}}</string>
                <key>offset</key>
                <string>{-72,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,68},{152,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,699},{126,238}}</string>
                <key>offset</key>
                <string>{-69,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,63},{126,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{270,222}}</string>
                <key>offset</key>
                <string>{35,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,67},{270,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1563},{172,202}}</string>
                <key>offset</key>
                <string>{-7,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,60},{172,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,215},{256,182}}</string>
                <key>offset</key>
                <string>{-35,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,73},{256,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1601},{260,164}}</string>
                <key>offset</key>
                <string>{-4,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,101},{260,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1599},{242,166}}</string>
                <key>offset</key>
                <string>{-2,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,95},{242,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{268,182}}</string>
                <key>offset</key>
                <string>{24,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,76},{268,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{278,192}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,122},{278,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,775},{262,178}}</string>
                <key>offset</key>
                <string>{-13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,122},{262,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1027},{258,140}}</string>
                <key>offset</key>
                <string>{-22,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,153},{258,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,253},{138,206}}</string>
                <key>offset</key>
                <string>{-34,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,75},{138,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1585},{150,174}}</string>
                <key>offset</key>
                <string>{-34,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,104},{150,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1333},{250,160}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,154},{250,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1087},{210,190}}</string>
                <key>offset</key>
                <string>{29,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,146},{210,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,411},{268,146}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,156},{268,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1},{270,170}}</string>
                <key>offset</key>
                <string>{-23,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,134},{270,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,1333},{92,244}}</string>
                <key>offset</key>
                <string>{-39,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,54},{92,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,473},{182,150}}</string>
                <key>offset</key>
                <string>{-41,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,155},{182,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1333},{140,228}}</string>
                <key>offset</key>
                <string>{-51,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,79},{140,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,545},{250,182}}</string>
                <key>offset</key>
                <string>{-38,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,64},{250,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1619},{266,146}}</string>
                <key>offset</key>
                <string>{-29,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,81},{266,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1353},{264,118}}</string>
                <key>offset</key>
                <string>{-20,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,109},{264,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,905},{80,148}}</string>
                <key>offset</key>
                <string>{-38,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,147},{80,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,461},{120,158}}</string>
                <key>offset</key>
                <string>{-56,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,148},{120,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,437},{110,236}}</string>
                <key>offset</key>
                <string>{-42,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,53},{110,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,173},{262,120}}</string>
                <key>offset</key>
                <string>{12,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,109},{262,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,729},{258,124}}</string>
                <key>offset</key>
                <string>{21,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,101},{258,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,423},{186,120}}</string>
                <key>offset</key>
                <string>{-55,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,147},{186,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1153},{150,142}}</string>
                <key>offset</key>
                <string>{-61,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,147},{150,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/casting/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,173},{248,188}}</string>
                <key>offset</key>
                <string>{-22,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,73},{248,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/death-1/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1223},{270,128}}</string>
                <key>offset</key>
                <string>{25,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,144},{270,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/death-1/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,395},{252,150}}</string>
                <key>offset</key>
                <string>{26,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,125},{252,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/death-1/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,583},{248,136}}</string>
                <key>offset</key>
                <string>{-50,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,183},{248,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/death-1/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,935},{282,118}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,142},{282,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/death-1/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,147},{314,64}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,196},{314,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/death-1/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,225},{324,78}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,247},{324,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/dig/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,215},{306,92}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,168},{306,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/dig/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,559},{256,154}}</string>
                <key>offset</key>
                <string>{34,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,136},{256,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/dig/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1175},{254,156}}</string>
                <key>offset</key>
                <string>{36,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,135},{254,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/dig/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1421},{150,204}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,133},{150,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/dig/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,855},{258,170}}</string>
                <key>offset</key>
                <string>{31,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,167},{258,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/dig/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,153},{254,178}}</string>
                <key>offset</key>
                <string>{30,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,161},{254,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/dig/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{246,212}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,148},{246,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/dig/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,147},{314,104}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,188},{314,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1},{284,150}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,139},{284,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1039},{278,156}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,140},{278,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,775},{274,158}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,139},{274,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,549},{264,154}}</string>
                <key>offset</key>
                <string>{21,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,137},{264,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,547},{260,150}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,138},{260,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1335},{262,144}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,144},{262,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1},{280,144}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,148},{280,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1},{286,144}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,146},{286,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,903},{218,198}}</string>
                <key>offset</key>
                <string>{-37,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,100},{218,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,907},{222,192}}</string>
                <key>offset</key>
                <string>{-36,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,107},{222,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,213},{252,180}}</string>
                <key>offset</key>
                <string>{-27,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,121},{252,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1353},{246,180}}</string>
                <key>offset</key>
                <string>{-27,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,122},{246,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,705},{222,196}}</string>
                <key>offset</key>
                <string>{-39,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,109},{222,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,827},{78,232}}</string>
                <key>offset</key>
                <string>{-33,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,58},{78,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1333},{100,226}}</string>
                <key>offset</key>
                <string>{-42,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,66},{100,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,869},{110,222}}</string>
                <key>offset</key>
                <string>{-48,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,69},{110,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,981},{104,216}}</string>
                <key>offset</key>
                <string>{-49,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,77},{104,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1101},{92,220}}</string>
                <key>offset</key>
                <string>{-44,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,73},{92,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1103},{70,230}}</string>
                <key>offset</key>
                <string>{-31,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,61},{70,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1521},{186,204}}</string>
                <key>offset</key>
                <string>{-42,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,56},{186,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,1573},{192,200}}</string>
                <key>offset</key>
                <string>{-39,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,61},{192,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1013},{138,210}}</string>
                <key>offset</key>
                <string>{-54,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,51},{138,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,1297},{150,210}}</string>
                <key>offset</key>
                <string>{-49,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,53},{150,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1217},{194,202}}</string>
                <key>offset</key>
                <string>{-41,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,59},{194,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,625},{278,148}}</string>
                <key>offset</key>
                <string>{-8,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,94},{278,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1055},{266,166}}</string>
                <key>offset</key>
                <string>{-21,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,74},{266,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1169},{264,164}}</string>
                <key>offset</key>
                <string>{-22,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,72},{264,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1335},{260,162}}</string>
                <key>offset</key>
                <string>{-22,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,75},{260,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,253},{270,156}}</string>
                <key>offset</key>
                <string>{-11,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,88},{270,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/run/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1319},{280,150}}</string>
                <key>offset</key>
                <string>{-4,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,95},{280,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1055},{160,166}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,151},{160,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1727},{34,184}}</string>
                <key>offset</key>
                <string>{-20,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,139},{34,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1573},{46,184}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,140},{46,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,871},{56,182}}</string>
                <key>offset</key>
                <string>{-24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,142},{56,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,721},{70,182}}</string>
                <key>offset</key>
                <string>{-27,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,142},{70,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1195},{224,136}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,144},{224,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1299},{220,138}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,144},{220,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100007/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,871},{218,140}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,144},{218,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_100007@0.png</string>
            <key>size</key>
            <string>{1766,1766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa5214f6323a90063aa2e1cf18da9f50:74da03fc616dc086126c335ba558628d:4f38969a8d9385ed28d48dad9dcccd93$</string>
            <key>textureFileName</key>
            <string>wing_100007@0.png</string>
        </dict>
    </dict>
</plist>
