<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/101007/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,133},{276,144}}</string>
                <key>offset</key>
                <string>{1,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,90},{276,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,593},{278,142}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,92},{278,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,295},{284,144}}</string>
                <key>offset</key>
                <string>{2,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,91},{284,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{290,146}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,88},{290,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{290,144}}</string>
                <key>offset</key>
                <string>{2,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{290,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1},{290,142}}</string>
                <key>offset</key>
                <string>{1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,86},{290,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,145},{284,140}}</string>
                <key>offset</key>
                <string>{1,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,89},{284,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,287},{278,142}}</string>
                <key>offset</key>
                <string>{1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,89},{278,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,431},{198,206}}</string>
                <key>offset</key>
                <string>{-43,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,39},{198,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,431},{202,204}}</string>
                <key>offset</key>
                <string>{-42,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,40},{202,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,637},{208,198}}</string>
                <key>offset</key>
                <string>{-40,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,45},{208,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,219},{208,194}}</string>
                <key>offset</key>
                <string>{-40,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,47},{208,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,279},{210,186}}</string>
                <key>offset</key>
                <string>{-43,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,51},{210,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,219},{210,188}}</string>
                <key>offset</key>
                <string>{-43,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,49},{210,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,415},{206,194}}</string>
                <key>offset</key>
                <string>{-43,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,45},{206,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,639},{202,202}}</string>
                <key>offset</key>
                <string>{-43,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,40},{202,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,127},{74,230}}</string>
                <key>offset</key>
                <string>{-30,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,0},{74,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,141},{76,230}}</string>
                <key>offset</key>
                <string>{-28,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,0},{76,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,431},{82,224}}</string>
                <key>offset</key>
                <string>{-26,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,4},{82,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,219},{84,216}}</string>
                <key>offset</key>
                <string>{-24,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,9},{84,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,437},{86,206}}</string>
                <key>offset</key>
                <string>{-25,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,16},{86,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,881},{84,210}}</string>
                <key>offset</key>
                <string>{-27,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,13},{84,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,657},{80,220}}</string>
                <key>offset</key>
                <string>{-28,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,5},{80,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,141},{76,228}}</string>
                <key>offset</key>
                <string>{-29,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,0},{76,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,279},{194,202}}</string>
                <key>offset</key>
                <string>{-45,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{194,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,467},{198,202}}</string>
                <key>offset</key>
                <string>{-44,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,0},{198,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,483},{202,194}}</string>
                <key>offset</key>
                <string>{-43,155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,4},{202,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,667},{202,188}}</string>
                <key>offset</key>
                <string>{-43,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,8},{202,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,843},{202,180}}</string>
                <key>offset</key>
                <string>{-46,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,13},{202,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,679},{202,184}}</string>
                <key>offset</key>
                <string>{-46,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,10},{202,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,623},{200,194}}</string>
                <key>offset</key>
                <string>{-45,156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,3},{200,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,679},{196,200}}</string>
                <key>offset</key>
                <string>{-45,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{274,150}}</string>
                <key>offset</key>
                <string>{-2,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,35},{274,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,593},{278,146}}</string>
                <key>offset</key>
                <string>{-2,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,38},{278,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1},{286,138}}</string>
                <key>offset</key>
                <string>{-3,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,44},{286,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,1},{290,130}}</string>
                <key>offset</key>
                <string>{-3,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,49},{290,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,1},{290,124}}</string>
                <key>offset</key>
                <string>{-3,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,53},{290,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1},{290,128}}</string>
                <key>offset</key>
                <string>{-3,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,50},{290,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1},{284,138}}</string>
                <key>offset</key>
                <string>{-2,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,42},{284,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,873},{278,146}}</string>
                <key>offset</key>
                <string>{-3,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,36},{278,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,879},{216,138}}</string>
                <key>offset</key>
                <string>{1,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,103},{216,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,857},{216,138}}</string>
                <key>offset</key>
                <string>{1,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,103},{216,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,881},{216,138}}</string>
                <key>offset</key>
                <string>{1,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,103},{216,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,131},{216,138}}</string>
                <key>offset</key>
                <string>{1,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,103},{216,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,865},{156,172}}</string>
                <key>offset</key>
                <string>{-36,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,98},{156,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,489},{156,172}}</string>
                <key>offset</key>
                <string>{-36,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,98},{156,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,489},{156,172}}</string>
                <key>offset</key>
                <string>{-36,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,98},{156,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,203},{156,172}}</string>
                <key>offset</key>
                <string>{-36,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,98},{156,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,825},{52,180}}</string>
                <key>offset</key>
                <string>{-31,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,88},{52,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,967},{52,180}}</string>
                <key>offset</key>
                <string>{-31,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,88},{52,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,377},{52,180}}</string>
                <key>offset</key>
                <string>{-31,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,88},{52,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,431},{52,180}}</string>
                <key>offset</key>
                <string>{-31,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,88},{52,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,203},{152,152}}</string>
                <key>offset</key>
                <string>{-39,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,87},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,485},{152,152}}</string>
                <key>offset</key>
                <string>{-39,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,87},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,639},{152,152}}</string>
                <key>offset</key>
                <string>{-39,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,87},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,793},{152,152}}</string>
                <key>offset</key>
                <string>{-39,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,87},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,271},{216,126}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,96},{216,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,271},{216,126}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,96},{216,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,663},{216,126}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,96},{216,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101007/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,663},{216,126}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,96},{216,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_101007@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b3cb0698652af1d6bf197f48c3db30d:fc7964529b3e451ffc261d6699e46204:f29c498e337c992bb80501e0d1ee7a53$</string>
            <key>textureFileName</key>
            <string>wing_101007@0.png</string>
        </dict>
    </dict>
</plist>
