<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/101004/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1},{312,108}}</string>
                <key>offset</key>
                <string>{2,124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,78},{312,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1},{318,106}}</string>
                <key>offset</key>
                <string>{0,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,75},{318,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1},{322,98}}</string>
                <key>offset</key>
                <string>{-3,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,86},{322,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,325},{320,96}}</string>
                <key>offset</key>
                <string>{-4,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,87},{320,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,327},{322,102}}</string>
                <key>offset</key>
                <string>{-4,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,76},{322,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,653},{322,108}}</string>
                <key>offset</key>
                <string>{-3,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,67},{322,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,647},{318,114}}</string>
                <key>offset</key>
                <string>{-2,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,65},{318,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{312,116}}</string>
                <key>offset</key>
                <string>{-2,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,69},{312,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,311},{240,168}}</string>
                <key>offset</key>
                <string>{-15,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,29},{240,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,315},{244,162}}</string>
                <key>offset</key>
                <string>{-16,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,31},{244,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,633},{244,146}}</string>
                <key>offset</key>
                <string>{-25,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,52},{244,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{244,136}}</string>
                <key>offset</key>
                <string>{-30,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,58},{244,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,635},{246,140}}</string>
                <key>offset</key>
                <string>{-21,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,45},{246,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1},{242,160}}</string>
                <key>offset</key>
                <string>{-8,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,22},{242,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1},{234,174}}</string>
                <key>offset</key>
                <string>{-6,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,12},{234,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,237},{222,178}}</string>
                <key>offset</key>
                <string>{-11,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,15},{222,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,967},{54,210}}</string>
                <key>offset</key>
                <string>{-15,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,0},{54,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,247},{62,204}}</string>
                <key>offset</key>
                <string>{-14,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,0},{62,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,553},{78,184}}</string>
                <key>offset</key>
                <string>{-18,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,17},{78,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,551},{84,170}}</string>
                <key>offset</key>
                <string>{-19,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,24},{84,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,543},{84,178}}</string>
                <key>offset</key>
                <string>{-16,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,10},{84,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,561},{70,188}}</string>
                <key>offset</key>
                <string>{-7,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,0},{70,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,827},{54,196}}</string>
                <key>offset</key>
                <string>{-4,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,0},{54,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,975},{48,202}}</string>
                <key>offset</key>
                <string>{-8,155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,0},{48,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,619},{206,184}}</string>
                <key>offset</key>
                <string>{-19,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,6},{206,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,221},{214,172}}</string>
                <key>offset</key>
                <string>{-17,162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,8},{214,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,867},{216,156}}</string>
                <key>offset</key>
                <string>{-22,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,24},{216,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1},{214,146}}</string>
                <key>offset</key>
                <string>{-26,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,29},{214,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1},{218,148}}</string>
                <key>offset</key>
                <string>{-18,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,21},{218,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,629},{228,152}}</string>
                <key>offset</key>
                <string>{-6,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,15},{228,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,307},{234,162}}</string>
                <key>offset</key>
                <string>{-4,164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,11},{234,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,633},{232,170}}</string>
                <key>offset</key>
                <string>{-9,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,10},{232,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,321},{312,122}}</string>
                <key>offset</key>
                <string>{-3,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,54},{312,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,323},{318,110}}</string>
                <key>offset</key>
                <string>{-1,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,58},{318,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{324,96}}</string>
                <key>offset</key>
                <string>{2,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,73},{324,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{320,96}}</string>
                <key>offset</key>
                <string>{3,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,70},{320,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,651},{322,90}}</string>
                <key>offset</key>
                <string>{3,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,70},{322,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,327},{324,86}}</string>
                <key>offset</key>
                <string>{2,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,70},{324,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,643},{316,94}}</string>
                <key>offset</key>
                <string>{1,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,67},{316,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,635},{312,104}}</string>
                <key>offset</key>
                <string>{1,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,64},{312,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,827},{190,142}}</string>
                <key>offset</key>
                <string>{-5,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,117},{190,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,811},{186,142}}</string>
                <key>offset</key>
                <string>{-5,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,118},{186,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,879},{182,144}}</string>
                <key>offset</key>
                <string>{-5,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,118},{182,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,437},{180,144}}</string>
                <key>offset</key>
                <string>{-5,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,118},{180,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,373},{146,176}}</string>
                <key>offset</key>
                <string>{-33,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,103},{146,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1},{142,174}}</string>
                <key>offset</key>
                <string>{-33,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,105},{142,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,883},{140,176}}</string>
                <key>offset</key>
                <string>{-33,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,104},{140,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,185},{138,176}}</string>
                <key>offset</key>
                <string>{-33,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,104},{138,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,245},{60,184}}</string>
                <key>offset</key>
                <string>{-25,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,95},{60,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,217},{60,184}}</string>
                <key>offset</key>
                <string>{-25,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,95},{60,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1},{60,184}}</string>
                <key>offset</key>
                <string>{-25,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,95},{60,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,187},{60,184}}</string>
                <key>offset</key>
                <string>{-25,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,95},{60,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,859},{126,156}}</string>
                <key>offset</key>
                <string>{-27,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,99},{126,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,461},{124,156}}</string>
                <key>offset</key>
                <string>{-27,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,99},{124,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,363},{122,156}}</string>
                <key>offset</key>
                <string>{-27,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,100},{122,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,177},{120,156}}</string>
                <key>offset</key>
                <string>{-27,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,100},{120,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,619},{190,112}}</string>
                <key>offset</key>
                <string>{4,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,108},{190,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,619},{186,112}}</string>
                <key>offset</key>
                <string>{4,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,109},{186,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1},{182,112}}</string>
                <key>offset</key>
                <string>{4,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,110},{182,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101004/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,437},{180,114}}</string>
                <key>offset</key>
                <string>{4,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,109},{180,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_101004@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1935a889e37f7c0bce156550cf10c6d0:739454f3463e92aee9a99d258a282ba2:576fe7ccf6a038facca114fc40344402$</string>
            <key>textureFileName</key>
            <string>wing_101004@0.png</string>
        </dict>
    </dict>
</plist>
