<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/100005/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1175},{140,192}}</string>
                <key>offset</key>
                <string>{-39,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,113},{140,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,805},{106,196}}</string>
                <key>offset</key>
                <string>{-55,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,105},{106,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,403},{132,220}}</string>
                <key>offset</key>
                <string>{-63,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,87},{132,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,819},{102,206}}</string>
                <key>offset</key>
                <string>{-62,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,84},{102,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,885},{210,154}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,118},{210,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,685},{118,202}}</string>
                <key>offset</key>
                <string>{-53,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,80},{118,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{236,182}}</string>
                <key>offset</key>
                <string>{-32,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,82},{236,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{224,190}}</string>
                <key>offset</key>
                <string>{-50,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,94},{224,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,685},{194,182}}</string>
                <key>offset</key>
                <string>{-62,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,82},{194,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1213},{154,162}}</string>
                <key>offset</key>
                <string>{-7,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,91},{154,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,527},{218,154}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,117},{218,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,537},{214,146}}</string>
                <key>offset</key>
                <string>{-9,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,106},{214,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1},{110,160}}</string>
                <key>offset</key>
                <string>{-13,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,90},{110,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1259},{142,170}}</string>
                <key>offset</key>
                <string>{38,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,104},{142,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,683},{212,134}}</string>
                <key>offset</key>
                <string>{-30,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,90},{212,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1},{250,140}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,155},{250,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,337},{238,116}}</string>
                <key>offset</key>
                <string>{-15,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,166},{238,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1377},{118,188}}</string>
                <key>offset</key>
                <string>{52,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,133},{118,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{224,180}}</string>
                <key>offset</key>
                <string>{18,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,115},{224,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1389},{116,176}}</string>
                <key>offset</key>
                <string>{-34,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,96},{116,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,537},{132,146}}</string>
                <key>offset</key>
                <string>{-33,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,121},{132,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1141},{246,128}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,170},{246,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,487},{74,206}}</string>
                <key>offset</key>
                <string>{-39,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,75},{74,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1389},{176,114}}</string>
                <key>offset</key>
                <string>{-38,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,172},{176,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1379},{182,126}}</string>
                <key>offset</key>
                <string>{-53,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,169},{182,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1369},{126,190}}</string>
                <key>offset</key>
                <string>{-46,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,99},{126,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,563},{204,168}}</string>
                <key>offset</key>
                <string>{-32,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,82},{204,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,183},{224,152}}</string>
                <key>offset</key>
                <string>{-32,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,84},{224,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,127},{240,124}}</string>
                <key>offset</key>
                <string>{-26,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,102},{240,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,167},{228,106}}</string>
                <key>offset</key>
                <string>{-19,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,122},{228,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1145},{68,104}}</string>
                <key>offset</key>
                <string>{-33,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,161},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,403},{72,128}}</string>
                <key>offset</key>
                <string>{-38,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,154},{72,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,209},{236,106}}</string>
                <key>offset</key>
                <string>{10,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,126},{236,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1079},{118,94}}</string>
                <key>offset</key>
                <string>{-54,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,159},{118,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/casting/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1097},{170,114}}</string>
                <key>offset</key>
                <string>{-44,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,149},{170,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/death-1/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1213},{164,142}}</string>
                <key>offset</key>
                <string>{-11,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,144},{164,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/death-1/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,143},{250,64}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,188},{250,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/dig/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1},{258,124}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,168},{258,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/dig/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1},{228,164}}</string>
                <key>offset</key>
                <string>{34,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,135},{228,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/dig/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,163},{136,158}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,146},{136,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/dig/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1099},{146,182}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,142},{146,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/dig/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,275},{216,160}}</string>
                <key>offset</key>
                <string>{28,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,171},{216,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/dig/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,377},{258,94}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,203},{258,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,377},{254,138}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,147},{254,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,887},{242,144}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,148},{242,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,337},{238,146}}</string>
                <key>offset</key>
                <string>{15,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,144},{238,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,253},{234,132}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,151},{234,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,883},{202,178}}</string>
                <key>offset</key>
                <string>{-30,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,114},{202,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,899},{198,178}}</string>
                <key>offset</key>
                <string>{-30,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,113},{198,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,317},{206,168}}</string>
                <key>offset</key>
                <string>{-29,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,126},{206,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,577},{218,162}}</string>
                <key>offset</key>
                <string>{-25,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,131},{218,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,673},{210,156}}</string>
                <key>offset</key>
                <string>{-29,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,137},{210,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,733},{200,164}}</string>
                <key>offset</key>
                <string>{-34,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,130},{200,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,923},{192,174}}</string>
                <key>offset</key>
                <string>{-36,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,122},{192,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,869},{68,204}}</string>
                <key>offset</key>
                <string>{-29,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,77},{68,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1131},{70,204}}</string>
                <key>offset</key>
                <string>{-28,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,78},{70,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,939},{76,204}}</string>
                <key>offset</key>
                <string>{-30,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,79},{76,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,685},{82,202}}</string>
                <key>offset</key>
                <string>{-33,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,83},{82,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,913},{96,194}}</string>
                <key>offset</key>
                <string>{-42,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,88},{96,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,453},{98,190}}</string>
                <key>offset</key>
                <string>{-44,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,89},{98,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1467},{96,190}}</string>
                <key>offset</key>
                <string>{-43,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,91},{96,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1131},{80,194}}</string>
                <key>offset</key>
                <string>{-36,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,88},{80,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1063},{66,202}}</string>
                <key>offset</key>
                <string>{-30,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,82},{66,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,913},{166,178}}</string>
                <key>offset</key>
                <string>{-35,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,76},{166,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,939},{168,180}}</string>
                <key>offset</key>
                <string>{-35,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,76},{168,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,1093},{156,180}}</string>
                <key>offset</key>
                <string>{-38,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,79},{156,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1283},{142,182}}</string>
                <key>offset</key>
                <string>{-45,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,76},{142,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1379},{126,182}}</string>
                <key>offset</key>
                <string>{-44,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,69},{126,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1379},{134,182}}</string>
                <key>offset</key>
                <string>{-43,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,72},{134,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1109},{148,178}}</string>
                <key>offset</key>
                <string>{-43,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,76},{148,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,493},{158,178}}</string>
                <key>offset</key>
                <string>{-42,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,78},{158,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1203},{178,174}}</string>
                <key>offset</key>
                <string>{-34,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,81},{178,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,633},{254,132}}</string>
                <key>offset</key>
                <string>{-4,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,109},{254,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,637},{248,118}}</string>
                <key>offset</key>
                <string>{-4,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,114},{248,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1},{246,124}}</string>
                <key>offset</key>
                <string>{-7,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,110},{246,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,127},{238,134}}</string>
                <key>offset</key>
                <string>{-17,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,97},{238,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,263},{234,138}}</string>
                <key>offset</key>
                <string>{-19,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,92},{234,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,741},{232,140}}</string>
                <key>offset</key>
                <string>{-17,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,93},{232,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,387},{234,138}}</string>
                <key>offset</key>
                <string>{-13,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,99},{234,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/run/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,889},{250,132}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,113},{250,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,323},{156,128}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,173},{156,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1213},{112,164}}</string>
                <key>offset</key>
                <string>{-28,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,159},{112,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,1275},{136,152}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,165},{136,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,1109},{112,150}}</string>
                <key>offset</key>
                <string>{-28,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,145},{112,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1259},{100,154}}</string>
                <key>offset</key>
                <string>{-30,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,145},{100,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1275},{154,114}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,152},{154,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1413},{154,118}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,151},{154,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100005/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1415},{150,124}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,149},{150,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_100005@1.png</string>
            <key>size</key>
            <string>{1566,1566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dc1cc80ce7bb19170e5b1c66442c3dd:eec324f4cccdf7a745a97d2a2d093dfe:12582efbae59cac584a6bf1b19c8f246$</string>
            <key>textureFileName</key>
            <string>wing_100005@1.png</string>
        </dict>
    </dict>
</plist>
