<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/101006/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,647},{236,174}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,80},{236,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,137},{240,172}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,86},{240,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1},{250,168}}</string>
                <key>offset</key>
                <string>{-1,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,89},{250,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{254,164}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,90},{254,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{254,158}}</string>
                <key>offset</key>
                <string>{1,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,92},{254,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,167},{250,162}}</string>
                <key>offset</key>
                <string>{1,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,89},{250,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,171},{240,170}}</string>
                <key>offset</key>
                <string>{1,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,83},{240,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,419},{236,174}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,80},{236,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,413},{180,220}}</string>
                <key>offset</key>
                <string>{-31,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,40},{180,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,185},{182,216}}</string>
                <key>offset</key>
                <string>{-32,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,47},{182,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,403},{186,210}}</string>
                <key>offset</key>
                <string>{-32,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,51},{186,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1},{190,204}}</string>
                <key>offset</key>
                <string>{-33,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,51},{190,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,431},{186,206}}</string>
                <key>offset</key>
                <string>{-33,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,47},{186,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,169},{184,210}}</string>
                <key>offset</key>
                <string>{-33,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,45},{184,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,1},{182,218}}</string>
                <key>offset</key>
                <string>{-32,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,41},{182,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,239},{180,220}}</string>
                <key>offset</key>
                <string>{-31,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,40},{180,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,139},{80,238}}</string>
                <key>offset</key>
                <string>{-37,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,6},{80,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,413},{80,234}}</string>
                <key>offset</key>
                <string>{-37,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,12},{80,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,657},{82,228}}</string>
                <key>offset</key>
                <string>{-35,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,14},{82,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,621},{82,222}}</string>
                <key>offset</key>
                <string>{-33,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,15},{82,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,657},{82,224}}</string>
                <key>offset</key>
                <string>{-34,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,10},{82,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,621},{80,230}}</string>
                <key>offset</key>
                <string>{-35,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,8},{80,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,171},{80,236}}</string>
                <key>offset</key>
                <string>{-36,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,6},{80,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,395},{80,238}}</string>
                <key>offset</key>
                <string>{-37,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,6},{80,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,635},{164,204}}</string>
                <key>offset</key>
                <string>{-33,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,8},{164,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,1},{166,204}}</string>
                <key>offset</key>
                <string>{-33,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,11},{166,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,557},{170,196}}</string>
                <key>offset</key>
                <string>{-32,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,16},{170,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,615},{172,192}}</string>
                <key>offset</key>
                <string>{-32,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,16},{172,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,821},{176,194}}</string>
                <key>offset</key>
                <string>{-35,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,11},{176,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,355},{172,200}}</string>
                <key>offset</key>
                <string>{-34,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,8},{172,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1},{166,204}}</string>
                <key>offset</key>
                <string>{-33,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,7},{166,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,421},{164,204}}</string>
                <key>offset</key>
                <string>{-33,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,8},{164,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1},{236,144}}</string>
                <key>offset</key>
                <string>{-1,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,41},{236,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,379},{240,142}}</string>
                <key>offset</key>
                <string>{-1,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,46},{240,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,167},{250,138}}</string>
                <key>offset</key>
                <string>{-1,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,51},{250,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1},{254,134}}</string>
                <key>offset</key>
                <string>{0,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,53},{254,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,136}}</string>
                <key>offset</key>
                <string>{-2,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,47},{256,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{250,140}}</string>
                <key>offset</key>
                <string>{-2,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,43},{250,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,419},{240,142}}</string>
                <key>offset</key>
                <string>{-1,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,42},{240,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,193},{236,144}}</string>
                <key>offset</key>
                <string>{-1,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,41},{236,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,801},{158,134}}</string>
                <key>offset</key>
                <string>{0,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,117},{158,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,853},{156,136}}</string>
                <key>offset</key>
                <string>{1,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,116},{156,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,755},{154,136}}</string>
                <key>offset</key>
                <string>{1,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,117},{154,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,661},{152,138}}</string>
                <key>offset</key>
                <string>{2,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,116},{152,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,885},{122,172}}</string>
                <key>offset</key>
                <string>{-27,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,99},{122,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,627},{120,172}}</string>
                <key>offset</key>
                <string>{-26,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,99},{120,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,801},{118,172}}</string>
                <key>offset</key>
                <string>{-25,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,99},{118,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,639},{118,172}}</string>
                <key>offset</key>
                <string>{-25,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,99},{118,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,137},{42,186}}</string>
                <key>offset</key>
                <string>{-27,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,82},{42,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,635},{42,184}}</string>
                <key>offset</key>
                <string>{-27,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,84},{42,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,379},{42,184}}</string>
                <key>offset</key>
                <string>{-27,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,84},{42,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,193},{42,184}}</string>
                <key>offset</key>
                <string>{-27,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,84},{42,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,841},{114,160}}</string>
                <key>offset</key>
                <string>{-28,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,84},{114,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,557},{114,158}}</string>
                <key>offset</key>
                <string>{-27,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,85},{114,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,355},{114,158}}</string>
                <key>offset</key>
                <string>{-27,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,86},{114,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,717},{114,158}}</string>
                <key>offset</key>
                <string>{-27,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,86},{114,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,887},{158,126}}</string>
                <key>offset</key>
                <string>{-1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,101},{158,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,169},{156,124}}</string>
                <key>offset</key>
                <string>{-2,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,103},{156,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,809},{152,124}}</string>
                <key>offset</key>
                <string>{-2,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,103},{152,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/101006/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,755},{152,124}}</string>
                <key>offset</key>
                <string>{-3,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,103},{152,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_101006@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3de2e9ae70955924c091c804efdd1fc6:3bdcf8dcf7487f88e95f78ade85a3253:2e34aadcd9a3e851acaee29467d6b3af$</string>
            <key>textureFileName</key>
            <string>wing_101006@0.png</string>
        </dict>
    </dict>
</plist>
