<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wing/100006/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,167},{82,244}}</string>
                <key>offset</key>
                <string>{-30,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,76},{82,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,815},{108,224}}</string>
                <key>offset</key>
                <string>{-35,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,101},{108,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,847},{136,228}}</string>
                <key>offset</key>
                <string>{-35,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,105},{136,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1429},{206,190}}</string>
                <key>offset</key>
                <string>{6,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,97},{206,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,1281},{194,174}}</string>
                <key>offset</key>
                <string>{24,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,115},{194,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,925},{210,176}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,109},{210,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,395},{120,224}}</string>
                <key>offset</key>
                <string>{-52,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,75},{120,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,529},{226,194}}</string>
                <key>offset</key>
                <string>{-52,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,82},{226,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1279},{174,186}}</string>
                <key>offset</key>
                <string>{-12,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,80},{174,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1161},{212,176}}</string>
                <key>offset</key>
                <string>{-6,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,105},{212,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1355},{82,206}}</string>
                <key>offset</key>
                <string>{29,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,96},{82,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,1161},{108,206}}</string>
                <key>offset</key>
                <string>{35,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,95},{108,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,963},{136,204}}</string>
                <key>offset</key>
                <string>{34,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,95},{136,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1369},{206,128}}</string>
                <key>offset</key>
                <string>{-7,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,106},{206,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,621},{196,160}}</string>
                <key>offset</key>
                <string>{-25,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,83},{196,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,337},{240,168}}</string>
                <key>offset</key>
                <string>{-8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,148},{240,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1103},{174,188}}</string>
                <key>offset</key>
                <string>{46,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,129},{174,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1101},{134,200}}</string>
                <key>offset</key>
                <string>{-28,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,92},{134,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,985},{214,174}}</string>
                <key>offset</key>
                <string>{22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,149},{214,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1},{254,158}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,163},{254,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,507},{232,166}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,141},{232,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,763},{82,230}}</string>
                <key>offset</key>
                <string>{-44,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,71},{82,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,977},{104,218}}</string>
                <key>offset</key>
                <string>{-50,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,62},{104,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1339},{126,186}}</string>
                <key>offset</key>
                <string>{-51,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,75},{126,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1281},{204,176}}</string>
                <key>offset</key>
                <string>{-40,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,69},{204,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,745},{230,150}}</string>
                <key>offset</key>
                <string>{-32,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,82},{230,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,913},{80,116}}</string>
                <key>offset</key>
                <string>{-37,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,164},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1103},{80,174}}</string>
                <key>offset</key>
                <string>{-40,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,136},{80,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,597},{240,146}}</string>
                <key>offset</key>
                <string>{7,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,102},{240,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,381},{234,146}}</string>
                <key>offset</key>
                <string>{-6,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,96},{234,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/casting/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1467},{152,108}}</string>
                <key>offset</key>
                <string>{-50,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,155},{152,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/death-1/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,251},{242,128}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,150},{242,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/death-1/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,757},{224,124}}</string>
                <key>offset</key>
                <string>{21,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,134},{224,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/death-1/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{252,106}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,152},{252,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/dig/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1},{262,106}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,179},{262,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/dig/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{268,102}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,180},{268,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/dig/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,105},{264,106}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,179},{264,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/dig/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1},{258,148}}</string>
                <key>offset</key>
                <string>{29,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,150},{258,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/dig/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,109},{258,144}}</string>
                <key>offset</key>
                <string>{30,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,149},{258,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/dig/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{256,132}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,185},{256,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/dig/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{264,120}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,184},{264,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,161},{244,174}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,147},{244,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,307},{244,174}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,148},{244,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,647},{232,166}}</string>
                <key>offset</key>
                <string>{22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,149},{232,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,483},{240,162}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,153},{240,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,409},{244,162}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,157},{244,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1},{250,164}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,157},{250,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,123},{256,166}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,155},{256,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1089},{190,208}}</string>
                <key>offset</key>
                <string>{-32,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,110},{190,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1275},{190,208}}</string>
                <key>offset</key>
                <string>{-31,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,112},{190,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,891},{220,196}}</string>
                <key>offset</key>
                <string>{-24,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,125},{220,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,725},{224,186}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,133},{224,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1023},{202,192}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,128},{202,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,819},{194,202}}</string>
                <key>offset</key>
                <string>{-35,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,119},{194,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1083},{190,212}}</string>
                <key>offset</key>
                <string>{-33,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,110},{190,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,167},{80,226}}</string>
                <key>offset</key>
                <string>{-36,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,74},{80,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,675},{80,226}}</string>
                <key>offset</key>
                <string>{-35,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,75},{80,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,883},{78,212}}</string>
                <key>offset</key>
                <string>{-42,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,85},{78,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,897},{78,220}}</string>
                <key>offset</key>
                <string>{-42,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,78},{78,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1459},{166,198}}</string>
                <key>offset</key>
                <string>{-38,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,68},{166,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,963},{136,198}}</string>
                <key>offset</key>
                <string>{-42,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,67},{136,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1467},{150,194}}</string>
                <key>offset</key>
                <string>{-40,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,69},{150,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,151},{254,154}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,101},{254,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,291},{252,154}}</string>
                <key>offset</key>
                <string>{-7,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,99},{252,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,447},{244,148}}</string>
                <key>offset</key>
                <string>{-5,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,102},{244,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,455},{244,146}}</string>
                <key>offset</key>
                <string>{-7,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,103},{244,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,603},{238,158}}</string>
                <key>offset</key>
                <string>{-21,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,83},{238,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,731},{232,158}}</string>
                <key>offset</key>
                <string>{-24,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,81},{232,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,573},{240,156}}</string>
                <key>offset</key>
                <string>{-16,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,91},{240,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/run/40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,255},{254,152}}</string>
                <key>offset</key>
                <string>{-2,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,109},{254,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1101},{166,132}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,164},{166,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1455},{166,134}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,163},{166,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1455},{126,170}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,148},{126,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1457},{134,166}}</string>
                <key>offset</key>
                <string>{-18,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,150},{134,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1467},{132,156}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,137},{132,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1303},{124,160}}</string>
                <key>offset</key>
                <string>{-22,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,136},{124,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,995},{114,164}}</string>
                <key>offset</key>
                <string>{-24,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,135},{114,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1457},{104,168}}</string>
                <key>offset</key>
                <string>{-25,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,134},{104,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1227},{166,126}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,153},{166,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1101},{166,128}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,152},{166,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>wing/100006/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,1269},{166,132}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,150},{166,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wing_100006@1.png</string>
            <key>size</key>
            <string>{1626,1626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d80865dd6ded15a682093355eb32162:442a3c40a8083b64b3ccb82b196ae062:04eb7b489131a70335d116d4f904cc79$</string>
            <key>textureFileName</key>
            <string>wing_100006@1.png</string>
        </dict>
    </dict>
</plist>
