<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>auto_attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,165},{160,70}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,351},{160,70}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,327},{162,72}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,349},{162,72}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{162,68}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,353},{162,68}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,165},{162,68}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,353},{162,68}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1},{162,70}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,351},{162,70}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{162,72}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,349},{162,72}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,165},{160,74}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,347},{160,74}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,165},{160,74}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,347},{160,74}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,169},{160,78}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,343},{160,78}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,87},{160,80}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,341},{160,80}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{160,84}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,337},{160,84}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{160,76}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,345},{160,76}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,327},{158,76}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,345},{158,76}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,83},{158,80}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,341},{158,80}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>auto_attack/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{160,80}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,341},{160,80}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>auto_attack@0.png</string>
            <key>size</key>
            <string>{470,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:129ff0c2c741189ef29702d23de6df30:dbfdc0d0c74d123a75afc72d248694e8:907c6658681c1fc2ca58244087ab2552$</string>
            <key>textureFileName</key>
            <string>auto_attack@0.png</string>
        </dict>
    </dict>
</plist>
