<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>select_monster/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{121,68}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{121,68}}</string>
                <key>sourceSize</key>
                <string>{153,104}</string>
            </dict>
            <key>select_monster/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{121,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{121,68}}</string>
                <key>sourceSize</key>
                <string>{153,104}</string>
            </dict>
            <key>select_monster/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,71},{121,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{121,68}}</string>
                <key>sourceSize</key>
                <string>{153,104}</string>
            </dict>
            <key>select_monster/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,71},{121,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{121,68}}</string>
                <key>sourceSize</key>
                <string>{153,104}</string>
            </dict>
            <key>select_monster/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,141},{121,66}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{121,66}}</string>
                <key>sourceSize</key>
                <string>{153,104}</string>
            </dict>
            <key>select_monster/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,71},{121,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{121,68}}</string>
                <key>sourceSize</key>
                <string>{153,104}</string>
            </dict>
            <key>select_monster/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,71},{121,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{121,68}}</string>
                <key>sourceSize</key>
                <string>{153,104}</string>
            </dict>
            <key>select_monster/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{121,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{121,68}}</string>
                <key>sourceSize</key>
                <string>{153,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>select_monster@0.png</string>
            <key>size</key>
            <string>{246,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d29639d0fb4a8d7a0982f0f8f111ac81:a836e06d0736f514ff48e2640667c3cc:4fc569935ac86c9ebed00df8925c2183$</string>
            <key>textureFileName</key>
            <string>select_monster@0.png</string>
        </dict>
    </dict>
</plist>
