<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>select_player/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>select_player/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>select_player/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,1},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>select_player/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,137},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>select_player/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>select_player/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>select_player/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,137},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
            <key>select_player/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1},{134,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,72}}</string>
                <key>sourceSize</key>
                <string>{134,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>select_player@0.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:152b2e1c4e6713608cf758b4c54c0130:8ff6db29a0a147aaa6dcf10471e56d0a:c621bf522b0acb812083eea61280e16f$</string>
            <key>textureFileName</key>
            <string>select_player@0.png</string>
        </dict>
    </dict>
</plist>
