<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10035/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,93},{88,116}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{88,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10035/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,116}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,45},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10035/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,119},{90,116}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,45},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10035/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{90,116}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,45},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10035@0.png</string>
            <key>size</key>
            <string>{210,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1f82535d84e4d6cf334807b6a0e5d1d:9990fac340263e787f2845c6ef09db61:8c96e44b1c54279895bdebbdb3dddb13$</string>
            <key>textureFileName</key>
            <string>m_10035@0.png</string>
        </dict>
    </dict>
</plist>
