<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10008/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{96,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>10008/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{96,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>10008/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{96,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>10008/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{96,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_10008@0.png</string>
            <key>size</key>
            <string>{98,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f92d6747ad40f5831da4072ed1c9a8a6:10c3ed845e46bf1edb9964a0f7ccd310:244b876fedabdd532c5c7267b547fc75$</string>
            <key>textureFileName</key>
            <string>m_10008@0.png</string>
        </dict>
    </dict>
</plist>
