<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10031/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,499},{94,116}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{94,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,317},{94,114}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,56},{94,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,193},{92,116}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,55},{92,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,311},{92,116}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,55},{92,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,413},{84,116}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,53},{84,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,529},{82,114}}</string>
                <key>offset</key>
                <string>{-17,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,55},{82,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,373},{82,116}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{82,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,371},{82,116}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{82,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,235},{80,114}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,52},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,539},{80,114}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,52},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,735},{82,114}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,52},{82,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,735},{82,114}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,52},{82,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,121},{86,112}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{86,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,621},{88,112}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,52},{88,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,621},{86,112}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{86,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,715},{88,112}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,52},{88,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,735},{92,114}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,52},{92,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,729},{92,114}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,52},{92,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,719},{92,114}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,52},{92,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,621},{92,114}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,52},{92,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{98,120}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,55},{98,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{100,120}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,54},{100,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{102,122}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,52},{102,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{100,122}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,53},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,249},{98,120}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,56},{98,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1},{100,122}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,249},{100,122}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,52},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,125},{100,122}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,52},{100,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1},{102,118}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,56},{102,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{96,120}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{96,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1},{90,120}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,53},{90,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,617},{92,120}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,53},{92,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,103},{94,118}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,56},{94,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,101},{90,120}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{90,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{92,122}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,51},{92,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1},{98,120}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,53},{98,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,421},{100,116}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{100,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,413},{98,116}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,53},{98,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,121},{94,118}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,51},{94,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,429},{98,116}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,53},{98,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,741},{102,116}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,53},{102,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,499},{98,116}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,53},{98,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,217},{96,118}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,51},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,617},{98,116}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,53},{98,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,123},{90,116}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,54},{90,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,241},{90,114}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,54},{90,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,613},{96,114}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,53},{96,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,739},{102,114}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,54},{102,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,125},{102,116}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,54},{102,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,243},{102,116}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,53},{102,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,621},{96,114}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,53},{96,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,499},{88,114}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,54},{88,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1},{100,118}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,56},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1},{102,118}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{102,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,475},{100,116}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{100,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,513},{98,116}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,56},{98,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,315},{96,118}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,56},{96,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,199},{100,118}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,55},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,357},{102,116}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,55},{102,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10031/walk/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,301},{100,118}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,54},{100,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10031@0.png</string>
            <key>size</key>
            <string>{850,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be20fcee8c104ff542480cc5d53fa7cd:d08954c1f1f56f4dd43871e8b7b8eaef:8fcb07bcea1406c77804a8b937d4cb52$</string>
            <key>textureFileName</key>
            <string>m_10031@0.png</string>
        </dict>
    </dict>
</plist>
