<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10044/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,122}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,44},{88,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10044/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{88,122}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,44},{88,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10044/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{88,122}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,44},{88,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10044/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,91},{88,122}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,44},{88,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10044@0.png</string>
            <key>size</key>
            <string>{214,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6548e0354e8bebfe1dc18bb41ee97182:2712314feb1912ca7b8385d03a5b561c:759e19eb7e17209834b5965189fb9a6f$</string>
            <key>textureFileName</key>
            <string>m_10044@0.png</string>
        </dict>
    </dict>
</plist>
