<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10009/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{54,70}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{54,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10009/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{54,70}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{54,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10009/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{54,70}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{54,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10009/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{54,70}}</string>
                <key>offset</key>
                <string>{18,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{54,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_10009@0.png</string>
            <key>size</key>
            <string>{72,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5153d32b85d64fe693d6ec66db91ead:02f84da7fdb94ea75697aabb4572828f:ba6c8a4a7a08c165c2badab7994b47f2$</string>
            <key>textureFileName</key>
            <string>m_10009@0.png</string>
        </dict>
    </dict>
</plist>
