<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10013/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{108,134}}</string>
                <key>offset</key>
                <string>{-12,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{108,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{106,134}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{106,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1},{106,132}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{106,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{106,132}}</string>
                <key>offset</key>
                <string>{-12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,36},{106,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,245},{94,132}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{94,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,265},{94,132}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,38},{94,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,357},{90,132}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,37},{90,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,263},{92,130}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,38},{92,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,179},{70,126}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,41},{70,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,399},{70,124}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,42},{70,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,543},{70,122}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,43},{70,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,395},{70,122}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,43},{70,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,787},{82,120}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,47},{82,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,449},{82,118}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,48},{82,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,277},{82,116}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,49},{82,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,361},{82,116}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,49},{82,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{106,110}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{106,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,251},{104,110}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,51},{104,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,135},{106,108}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,52},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,407},{106,108}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,52},{106,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,181},{82,138}}</string>
                <key>offset</key>
                <string>{-14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{82,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,181},{82,138}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,32},{82,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{84,138}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{84,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,683},{84,138}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,32},{84,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1},{86,138}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{86,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,543},{86,138}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,32},{86,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1},{84,138}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,32},{84,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,95},{84,138}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{84,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,179},{82,138}}</string>
                <key>offset</key>
                <string>{-14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,32},{82,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1},{92,134}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,35},{92,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,89},{90,134}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,35},{90,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,87},{90,134}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,34},{90,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,451},{90,132}}</string>
                <key>offset</key>
                <string>{-8,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,36},{90,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,265},{88,132}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{88,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,361},{88,134}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,35},{88,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,87},{90,134}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,35},{90,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,265},{90,134}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,35},{90,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{92,134}}</string>
                <key>offset</key>
                <string>{-7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,35},{92,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,543},{86,120}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,45},{86,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,363},{84,120}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,45},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,445},{84,120}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,44},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,485},{84,120}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,44},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,531},{84,120}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,44},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,683},{84,120}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,44},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,665},{84,120}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,44},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,665},{84,120}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,44},{84,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,543},{86,120}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,45},{86,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,617},{74,116}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,52},{74,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,805},{76,116}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,52},{76,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,629},{76,116}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{76,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,779},{76,116}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,52},{76,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,745},{76,116}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,52},{76,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,723},{76,116}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,52},{76,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,471},{74,118}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,51},{74,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,693},{74,116}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,52},{74,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,769},{74,116}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,52},{74,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,113},{80,114}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,195},{80,114}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,533},{80,114}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,615},{80,114}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,56},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,697},{80,114}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,56},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,629},{80,114}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,56},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,547},{80,116}}</string>
                <key>offset</key>
                <string>{-10,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,54},{80,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,747},{80,114}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,56},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10013/walk/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,607},{80,114}}</string>
                <key>offset</key>
                <string>{-10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,56},{80,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10013@0.png</string>
            <key>size</key>
            <string>{882,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae550c17d67ce8fd50fb07c928b616b7:ddbd6faecc888d4156e13b07a2f439b4:8c36c426dd7bafab16002fd239fae123$</string>
            <key>textureFileName</key>
            <string>m_10013@0.png</string>
        </dict>
    </dict>
</plist>
