<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10006/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,62}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{66,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10006/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,62}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{66,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10006/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,62}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{66,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>10006/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,62}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{66,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m_10006@0.png</string>
            <key>size</key>
            <string>{68,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:862c27f242e64bbe22f6fc6f09fd9010:7ab6bf5837fedc1f03ae4d8d06f7ca4b:5b19c79ae609e60d4170cf2afe6e0417$</string>
            <key>textureFileName</key>
            <string>m_10006@0.png</string>
        </dict>
    </dict>
</plist>
