<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10039/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,121},{92,118}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,48},{92,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10039/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1},{92,118}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,48},{92,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10039/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{94,118}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,48},{94,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10039/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,95},{92,118}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,48},{92,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10039@0.png</string>
            <key>size</key>
            <string>{216,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd9dab5a8c13d27cdbb746617b9b1ba1:63185837af3af52f0ef8915e01707e7d:8cf5189fb79253ef7fb54429640fd9fb$</string>
            <key>textureFileName</key>
            <string>m_10039@0.png</string>
        </dict>
    </dict>
</plist>
