<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10080/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,46}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{58,46}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>10080/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,46}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{58,46}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>10080/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,46}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{58,46}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>10080/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{58,46}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{58,46}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10080@0.png</string>
            <key>size</key>
            <string>{60,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15eb8ce7e4d9e8573c618ba8e8b69c44:a6315ae21d0494a4c8a691c8dc2fdf4b:5b01454a14d1c5a5d15a08360056f19b$</string>
            <key>textureFileName</key>
            <string>m_10080@0.png</string>
        </dict>
    </dict>
</plist>
