<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10034/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{86,126}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,43},{86,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10034/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{88,126}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,43},{88,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10034/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{86,126}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,43},{86,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>10034/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,89},{86,126}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,43},{86,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_10034@0.png</string>
            <key>size</key>
            <string>{218,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53026524d1ac0dd22058b092318c423a:696891827ca5922681b22923f615a845:700c311ae918ee66aa8a2b0803405ed7$</string>
            <key>textureFileName</key>
            <string>m_10034@0.png</string>
        </dict>
    </dict>
</plist>
