<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,107},{186,116}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,38},{186,116}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>loading/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,121},{180,136}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{180,136}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>loading/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,259},{174,116}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,49},{174,116}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>loading/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{192,104}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,50},{192,104}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>loading/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{186,104}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,49},{186,104}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>loading/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,225},{186,104}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,50},{186,104}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>loading/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1},{186,118}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,36},{186,118}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading@0.png</string>
            <key>size</key>
            <string>{412,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6de01c7f66d18ffd727c70600b803149:d2280c9f4f6c1402b6411e386e2874da:974ff1dae27fcd4076f3a96181447f27$</string>
            <key>textureFileName</key>
            <string>loading@0.png</string>
        </dict>
    </dict>
</plist>
