<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5110507/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,651},{132,200}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,105},{132,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,503},{160,234}}</string>
                <key>offset</key>
                <string>{-12,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,91},{160,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,677},{154,222}}</string>
                <key>offset</key>
                <string>{-34,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,80},{154,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,459},{180,224}}</string>
                <key>offset</key>
                <string>{-24,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,76},{180,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{192,256}}</string>
                <key>offset</key>
                <string>{-26,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,60},{192,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,447},{132,202}}</string>
                <key>offset</key>
                <string>{-24,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,91},{132,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,323},{170,212}}</string>
                <key>offset</key>
                <string>{-15,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,85},{170,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,467},{166,228}}</string>
                <key>offset</key>
                <string>{-24,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,73},{166,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1},{142,232}}</string>
                <key>offset</key>
                <string>{-18,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,66},{142,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{180,254}}</string>
                <key>offset</key>
                <string>{-23,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,49},{180,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,323},{124,202}}</string>
                <key>offset</key>
                <string>{-9,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,91},{124,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,715},{124,232}}</string>
                <key>offset</key>
                <string>{-9,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,72},{124,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{132,250}}</string>
                <key>offset</key>
                <string>{-7,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,51},{132,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1},{122,234}}</string>
                <key>offset</key>
                <string>{-5,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,69},{122,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,767},{150,244}}</string>
                <key>offset</key>
                <string>{-22,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,53},{150,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,681},{138,224}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,98},{138,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,235},{132,230}}</string>
                <key>offset</key>
                <string>{-10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,92},{132,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,759},{132,236}}</string>
                <key>offset</key>
                <string>{-8,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,86},{132,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,739},{156,232}}</string>
                <key>offset</key>
                <string>{-14,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,88},{156,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,231},{146,226}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,85},{146,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,901},{122,218}}</string>
                <key>offset</key>
                <string>{-22,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,94},{122,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,231},{126,228}}</string>
                <key>offset</key>
                <string>{-23,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,87},{126,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,701},{124,230}}</string>
                <key>offset</key>
                <string>{-23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,83},{124,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1},{142,224}}</string>
                <key>offset</key>
                <string>{-26,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,83},{142,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,515},{166,242}}</string>
                <key>offset</key>
                <string>{-6,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,75},{166,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,245},{158,234}}</string>
                <key>offset</key>
                <string>{-10,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,72},{158,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,893},{126,208}}</string>
                <key>offset</key>
                <string>{-28,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,97},{126,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1},{142,228}}</string>
                <key>offset</key>
                <string>{-23,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,86},{142,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,259},{142,242}}</string>
                <key>offset</key>
                <string>{-19,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,72},{142,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1},{138,242}}</string>
                <key>offset</key>
                <string>{-11,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,70},{138,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,449},{152,218}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,94},{152,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,481},{152,232}}</string>
                <key>offset</key>
                <string>{-11,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,84},{152,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,469},{138,230}}</string>
                <key>offset</key>
                <string>{-9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,79},{138,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,537},{168,214}}</string>
                <key>offset</key>
                <string>{-11,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,86},{168,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/death-1/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,323},{122,166}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,136},{122,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,1},{160,202}}</string>
                <key>offset</key>
                <string>{-27,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,119},{160,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,853},{164,204}}</string>
                <key>offset</key>
                <string>{-30,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,118},{164,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,669},{140,214}}</string>
                <key>offset</key>
                <string>{-32,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,111},{140,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,163},{158,212}}</string>
                <key>offset</key>
                <string>{-37,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,86},{158,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,163},{158,218}}</string>
                <key>offset</key>
                <string>{-39,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,91},{158,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1},{160,218}}</string>
                <key>offset</key>
                <string>{-37,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,92},{160,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,449},{160,220}}</string>
                <key>offset</key>
                <string>{-37,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,89},{160,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1},{154,224}}</string>
                <key>offset</key>
                <string>{-40,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,83},{154,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,455},{148,224}}</string>
                <key>offset</key>
                <string>{-30,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,71},{148,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,685},{152,224}}</string>
                <key>offset</key>
                <string>{-35,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,69},{152,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,671},{160,220}}</string>
                <key>offset</key>
                <string>{-35,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,77},{160,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,453},{166,222}}</string>
                <key>offset</key>
                <string>{-34,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,76},{166,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,229},{166,224}}</string>
                <key>offset</key>
                <string>{-32,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,70},{166,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1},{162,232}}</string>
                <key>offset</key>
                <string>{-31,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,62},{162,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1},{146,222}}</string>
                <key>offset</key>
                <string>{-14,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,75},{146,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,697},{144,228}}</string>
                <key>offset</key>
                <string>{-14,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,64},{144,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,227},{144,224}}</string>
                <key>offset</key>
                <string>{-13,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,73},{144,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1},{144,226}}</string>
                <key>offset</key>
                <string>{-11,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,72},{144,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,235},{144,232}}</string>
                <key>offset</key>
                <string>{-10,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,66},{144,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,759},{144,240}}</string>
                <key>offset</key>
                <string>{-10,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,56},{144,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,225},{146,222}}</string>
                <key>offset</key>
                <string>{-11,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,70},{146,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,907},{116,208}}</string>
                <key>offset</key>
                <string>{-26,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,103},{116,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,933},{90,214}}</string>
                <key>offset</key>
                <string>{-24,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,89},{90,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,927},{92,218}}</string>
                <key>offset</key>
                <string>{-25,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,85},{92,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5110507@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7a9d28adbee310de6d5c9cc45cb2c7:51c0d5fb961a65ae9a369a3324129f2b:db0ad16ba2815d6d1ee9452bc06e3a8e$</string>
            <key>textureFileName</key>
            <string>r_5110507@0.png</string>
        </dict>
    </dict>
</plist>
