<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5120507/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1},{116,186}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,132},{116,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,389},{154,198}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,118},{154,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,533},{160,172}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,140},{160,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,245},{138,160}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,148},{138,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,547},{172,176}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,149},{172,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,245},{158,136}}</string>
                <key>offset</key>
                <string>{-22,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,158},{158,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,389},{176,154}}</string>
                <key>offset</key>
                <string>{-16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,148},{176,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,247},{140,152}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,152},{140,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,391},{190,154}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,156},{190,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,537},{170,162}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,144},{170,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,249},{170,138}}</string>
                <key>offset</key>
                <string>{-31,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,159},{170,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{116,182}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,140},{116,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1},{120,188}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,137},{120,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,249},{138,174}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,141},{138,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,174}}</string>
                <key>offset</key>
                <string>{-13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,130},{114,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{134,190}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,130},{134,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,245},{134,156}}</string>
                <key>offset</key>
                <string>{-29,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,138},{134,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,251},{138,164}}</string>
                <key>offset</key>
                <string>{-29,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,134},{138,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,123},{126,198}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,117},{126,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1},{116,180}}</string>
                <key>offset</key>
                <string>{-12,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,117},{116,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,1},{116,184}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,112},{116,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1},{118,184}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,113},{118,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,245},{134,200}}</string>
                <key>offset</key>
                <string>{-29,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,108},{134,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,247},{136,186}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,111},{136,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,251},{138,180}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,117},{138,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,123},{126,192}}</string>
                <key>offset</key>
                <string>{-14,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,108},{126,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/death-1/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{124,144}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,160},{124,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,119},{152,124}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,181},{152,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1},{138,118}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,183},{138,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,1},{138,120}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,181},{138,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,119},{124,190}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,141},{124,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,119},{124,190}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,139},{124,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,119},{124,192}}</string>
                <key>offset</key>
                <string>{-10,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,135},{124,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1},{120,188}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,139},{120,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1},{120,184}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,143},{120,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,121},{124,192}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,139},{124,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,123},{124,192}}</string>
                <key>offset</key>
                <string>{-9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,139},{124,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,391},{154,194}}</string>
                <key>offset</key>
                <string>{-27,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,126},{154,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,383},{152,192}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,135},{152,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,385},{152,172}}</string>
                <key>offset</key>
                <string>{-42,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,121},{152,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,533},{160,182}}</string>
                <key>offset</key>
                <string>{-38,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,114},{160,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,543},{166,186}}</string>
                <key>offset</key>
                <string>{-34,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,116},{166,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,547},{170,184}}</string>
                <key>offset</key>
                <string>{-32,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,117},{170,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,545},{166,184}}</string>
                <key>offset</key>
                <string>{-35,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,115},{166,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,385},{152,192}}</string>
                <key>offset</key>
                <string>{-30,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,101},{152,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,381},{150,194}}</string>
                <key>offset</key>
                <string>{-28,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,102},{150,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,381},{150,186}}</string>
                <key>offset</key>
                <string>{-28,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,110},{150,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,389},{152,192}}</string>
                <key>offset</key>
                <string>{-31,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,103},{152,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,539},{162,184}}</string>
                <key>offset</key>
                <string>{-32,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,110},{162,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,539},{164,178}}</string>
                <key>offset</key>
                <string>{-34,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,115},{164,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,545},{166,184}}</string>
                <key>offset</key>
                <string>{-33,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,111},{166,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,547},{166,192}}</string>
                <key>offset</key>
                <string>{-32,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,104},{166,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,123},{124,184}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,113},{124,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,121},{124,148}}</string>
                <key>offset</key>
                <string>{-13,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,148},{124,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5120507@2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ef7d54c0b2d818340cbff6e778cdaa:d2eda72028f1bb445d01a0e8e9923668:8281fdf1040eeebcc70280096db5c1a1$</string>
            <key>textureFileName</key>
            <string>r_5120507@2.png</string>
        </dict>
    </dict>
</plist>
