<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5130507/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,1},{114,186}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,132},{114,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,389},{150,186}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,130},{150,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,389},{150,188}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,133},{150,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,93},{130,186}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,134},{130,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,227},{138,172}}</string>
                <key>offset</key>
                <string>{-25,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,129},{138,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,541},{164,166}}</string>
                <key>offset</key>
                <string>{-25,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,134},{164,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,249},{138,170}}</string>
                <key>offset</key>
                <string>{-19,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,133},{138,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,249},{138,166}}</string>
                <key>offset</key>
                <string>{-24,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,131},{138,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,539},{166,164}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,135},{166,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,249},{138,166}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,132},{138,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,115},{132,164}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,142},{132,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,245},{170,138}}</string>
                <key>offset</key>
                <string>{-33,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,160},{170,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,115},{132,202}}</string>
                <key>offset</key>
                <string>{-11,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,122},{132,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,115},{132,180}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,144},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,363},{148,196}}</string>
                <key>offset</key>
                <string>{-14,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,132},{148,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,117},{132,192}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,125},{132,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1},{108,192}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,118},{108,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,249},{138,192}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,119},{138,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,389},{150,178}}</string>
                <key>offset</key>
                <string>{-27,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,136},{150,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,95},{130,184}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,122},{130,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,367},{148,196}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,115},{148,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,391},{150,178}}</string>
                <key>offset</key>
                <string>{-24,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,124},{150,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,117},{132,168}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,137},{132,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,371},{148,160}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,144},{148,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,391},{150,160}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,144},{150,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/death-1/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,521},{162,170}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,144},{162,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1},{112,146}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,177},{112,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,1},{114,148}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,174},{114,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,227},{150,142}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,174},{150,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,93},{156,130}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,176},{156,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,117},{148,136}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,171},{148,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{140,128}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,176},{140,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1},{112,134}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,172},{112,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,251},{138,184}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,146},{138,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,391},{150,188}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,144},{150,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,541},{164,186}}</string>
                <key>offset</key>
                <string>{-31,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,136},{164,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,541},{164,186}}</string>
                <key>offset</key>
                <string>{-36,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,137},{164,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,543},{164,190}}</string>
                <key>offset</key>
                <string>{-38,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,137},{164,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,535},{162,190}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,137},{162,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,385},{148,188}}</string>
                <key>offset</key>
                <string>{-32,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,138},{148,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,543},{164,170}}</string>
                <key>offset</key>
                <string>{-44,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,129},{164,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,389},{148,172}}</string>
                <key>offset</key>
                <string>{-33,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,127},{148,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,513},{160,178}}</string>
                <key>offset</key>
                <string>{-38,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,117},{160,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,543},{164,180}}</string>
                <key>offset</key>
                <string>{-36,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,120},{164,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,517},{160,176}}</string>
                <key>offset</key>
                <string>{-33,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,123},{160,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,251},{138,172}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,127},{138,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{136,178}}</string>
                <key>offset</key>
                <string>{-10,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,130},{136,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,225},{136,162}}</string>
                <key>offset</key>
                <string>{-17,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,151},{136,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1},{112,168}}</string>
                <key>offset</key>
                <string>{-22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,141},{112,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,1},{112,174}}</string>
                <key>offset</key>
                <string>{-22,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,135},{112,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,162}}</string>
                <key>offset</key>
                <string>{-20,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,136},{90,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{90,166}}</string>
                <key>offset</key>
                <string>{-20,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,132},{90,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1},{90,172}}</string>
                <key>offset</key>
                <string>{-20,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,127},{90,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1},{92,174}}</string>
                <key>offset</key>
                <string>{-20,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,125},{92,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1},{110,172}}</string>
                <key>offset</key>
                <string>{-22,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,123},{110,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,111},{130,158}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,136},{130,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,113},{130,158}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,136},{130,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5130507@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5486370586449a25d2f6b8b8a699d6bc:d26ae80dda14a9a8840b4684ae4b292e:d0bb80b69584b8f1e501fc2196960886$</string>
            <key>textureFileName</key>
            <string>r_5130507@0.png</string>
        </dict>
    </dict>
</plist>
