<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5110507/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{146,200}}</string>
                <key>offset</key>
                <string>{-9,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,111},{146,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1},{146,192}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,113},{146,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,389},{136,186}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,119},{136,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,195},{152,178}}</string>
                <key>offset</key>
                <string>{-20,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,118},{152,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,395},{138,192}}</string>
                <key>offset</key>
                <string>{-24,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,111},{138,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,809},{132,200}}</string>
                <key>offset</key>
                <string>{-20,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,104},{132,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,789},{136,190}}</string>
                <key>offset</key>
                <string>{-32,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,105},{136,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,589},{136,190}}</string>
                <key>offset</key>
                <string>{-32,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,106},{136,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,199},{140,194}}</string>
                <key>offset</key>
                <string>{-22,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,99},{140,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,801},{144,192}}</string>
                <key>offset</key>
                <string>{-8,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,108},{144,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,399},{144,194}}</string>
                <key>offset</key>
                <string>{-24,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,100},{144,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,595},{144,192}}</string>
                <key>offset</key>
                <string>{-14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,102},{144,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1},{146,198}}</string>
                <key>offset</key>
                <string>{-13,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,98},{146,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,809},{140,200}}</string>
                <key>offset</key>
                <string>{-8,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,94},{140,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,403},{142,198}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,101},{142,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/casting/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,603},{158,196}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,100},{158,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/death-1/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1},{142,178}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,127},{142,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,531},{116,150}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,167},{116,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,781},{126,160}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,157},{126,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,375},{154,152}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,167},{154,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,577},{154,158}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,161},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,889},{150,134}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,168},{150,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,833},{146,136}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,167},{146,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,683},{148,146}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,157},{148,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,737},{150,138}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,171},{150,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,181},{150,148}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,163},{150,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1},{150,148}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,163},{150,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,333},{116,138}}</string>
                <key>offset</key>
                <string>{-10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,170},{116,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,531},{108,148}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,163},{108,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/dig/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,181},{110,154}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,159},{110,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,405},{146,200}}</string>
                <key>offset</key>
                <string>{-11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,127},{146,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1},{146,198}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,126},{146,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,403},{144,198}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,127},{144,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,201},{146,196}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,131},{146,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{148,200}}</string>
                <key>offset</key>
                <string>{-10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,130},{148,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,607},{146,200}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,127},{146,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,203},{158,198}}</string>
                <key>offset</key>
                <string>{-37,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,100},{158,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,195},{138,192}}</string>
                <key>offset</key>
                <string>{-19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,118},{138,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{138,192}}</string>
                <key>offset</key>
                <string>{-16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,117},{138,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1},{140,196}}</string>
                <key>offset</key>
                <string>{-14,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,93},{140,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,603},{144,198}}</string>
                <key>offset</key>
                <string>{-14,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,91},{144,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5110507/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,803},{144,198}}</string>
                <key>offset</key>
                <string>{-15,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,91},{144,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5110507@2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7a9d28adbee310de6d5c9cc45cb2c7:51c0d5fb961a65ae9a369a3324129f2b:db0ad16ba2815d6d1ee9452bc06e3a8e$</string>
            <key>textureFileName</key>
            <string>r_5110507@2.png</string>
        </dict>
    </dict>
</plist>
