<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5120507/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{140,186}}</string>
                <key>offset</key>
                <string>{-15,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,129},{140,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,229},{128,182}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,130},{128,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,363},{144,178}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,133},{144,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,351},{140,180}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,142},{140,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,359},{142,164}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,145},{142,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,359},{142,160}}</string>
                <key>offset</key>
                <string>{-13,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,150},{142,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,503},{156,156}}</string>
                <key>offset</key>
                <string>{-23,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,149},{156,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,363},{144,146}}</string>
                <key>offset</key>
                <string>{-26,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,152},{144,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,111},{124,144}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,154},{124,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,351},{140,156}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,146},{140,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,229},{128,154}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,146},{128,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,237},{132,174}}</string>
                <key>offset</key>
                <string>{-15,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,135},{132,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1},{104,168}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,139},{104,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,371},{146,170}}</string>
                <key>offset</key>
                <string>{-26,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,137},{146,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,353},{140,172}}</string>
                <key>offset</key>
                <string>{-32,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,128},{140,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,231},{128,174}}</string>
                <key>offset</key>
                <string>{-20,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,121},{128,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,1},{106,178}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,121},{106,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,231},{128,190}}</string>
                <key>offset</key>
                <string>{-23,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,119},{128,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,107},{122,176}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,124},{122,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1},{104,186}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,113},{104,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1},{104,186}}</string>
                <key>offset</key>
                <string>{-16,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,114},{104,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,233},{128,206}}</string>
                <key>offset</key>
                <string>{-17,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,104},{128,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,233},{128,186}}</string>
                <key>offset</key>
                <string>{-7,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,111},{128,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,1},{104,140}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,184},{104,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,1},{108,142}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,181},{108,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,361},{148,142}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,178},{148,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,361},{144,142}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,176},{144,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{104,98}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,198},{104,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1791,1},{108,106}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,191},{108,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,107},{122,188}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,142},{122,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,223},{126,192}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,136},{126,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,223},{126,192}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,136},{126,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,109},{122,192}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,137},{122,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,109},{122,190}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,141},{122,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,505},{156,186}}</string>
                <key>offset</key>
                <string>{-29,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,134},{156,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,505},{156,186}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,133},{156,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,493},{154,192}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,128},{154,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,507},{156,186}}</string>
                <key>offset</key>
                <string>{-27,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,133},{156,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,493},{154,190}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,135},{154,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,363},{142,188}}</string>
                <key>offset</key>
                <string>{-28,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,134},{142,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,495},{154,174}}</string>
                <key>offset</key>
                <string>{-41,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,119},{154,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,509},{156,184}}</string>
                <key>offset</key>
                <string>{-39,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,110},{156,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,519},{158,180}}</string>
                <key>offset</key>
                <string>{-39,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,118},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,509},{156,182}}</string>
                <key>offset</key>
                <string>{-39,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,118},{156,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,503},{154,180}}</string>
                <key>offset</key>
                <string>{-29,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,112},{154,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{120,194}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,103},{120,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,101},{120,194}}</string>
                <key>offset</key>
                <string>{-8,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,104},{120,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,101},{120,192}}</string>
                <key>offset</key>
                <string>{-8,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,105},{120,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,223},{126,190}}</string>
                <key>offset</key>
                <string>{-8,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,107},{126,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,107},{120,196}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,105},{120,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,107},{120,188}}</string>
                <key>offset</key>
                <string>{-8,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,108},{120,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,225},{126,164}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,150},{126,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,101},{122,168}}</string>
                <key>offset</key>
                <string>{-14,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,146},{122,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{98,160}}</string>
                <key>offset</key>
                <string>{-20,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,136},{98,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1},{98,162}}</string>
                <key>offset</key>
                <string>{-20,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,134},{98,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1},{98,160}}</string>
                <key>offset</key>
                <string>{-20,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,136},{98,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{96,162}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,134},{96,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1},{102,162}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,135},{102,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5120507@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ef7d54c0b2d818340cbff6e778cdaa:d2eda72028f1bb445d01a0e8e9923668:8281fdf1040eeebcc70280096db5c1a1$</string>
            <key>textureFileName</key>
            <string>r_5120507@0.png</string>
        </dict>
    </dict>
</plist>
