<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5130507/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,129},{136,176}}</string>
                <key>offset</key>
                <string>{-6,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,136},{136,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,261},{146,174}}</string>
                <key>offset</key>
                <string>{-28,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,129},{146,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,267},{146,182}}</string>
                <key>offset</key>
                <string>{-19,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,123},{146,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,417},{160,188}}</string>
                <key>offset</key>
                <string>{-14,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,126},{160,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,579},{194,180}}</string>
                <key>offset</key>
                <string>{-7,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,145},{194,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,263},{146,154}}</string>
                <key>offset</key>
                <string>{-29,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,144},{146,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{122,160}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,137},{122,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,129},{136,194}}</string>
                <key>offset</key>
                <string>{-10,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,132},{136,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,267},{146,196}}</string>
                <key>offset</key>
                <string>{-29,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,117},{146,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,417},{160,188}}</string>
                <key>offset</key>
                <string>{-24,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,125},{160,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,415},{158,180}}</string>
                <key>offset</key>
                <string>{-34,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,128},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,269},{146,170}}</string>
                <key>offset</key>
                <string>{-23,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,129},{146,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,1},{128,188}}</string>
                <key>offset</key>
                <string>{-12,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,126},{128,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{126,164}}</string>
                <key>offset</key>
                <string>{-11,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,133},{126,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{126,178}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,128},{126,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{122,186}}</string>
                <key>offset</key>
                <string>{-8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,125},{122,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,269},{146,156}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,144},{146,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1},{128,158}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,142},{128,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1},{126,166}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,134},{126,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,1},{128,162}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,135},{128,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/death-1/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1},{126,154}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,151},{126,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/death-1/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{164,156}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,156},{164,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/death-1/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,409},{156,168}}</string>
                <key>offset</key>
                <string>{-10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,146},{156,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,269},{146,146}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,172},{146,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,1},{160,128}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,178},{160,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{140,120}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,181},{140,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{138,124}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,178},{138,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{134,184}}</string>
                <key>offset</key>
                <string>{-13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,146},{134,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,125},{134,184}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,145},{134,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,261},{144,188}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,145},{144,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,265},{144,182}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,146},{144,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,131},{136,182}}</string>
                <key>offset</key>
                <string>{-14,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,147},{136,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,417},{160,184}}</string>
                <key>offset</key>
                <string>{-35,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,138},{160,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,415},{158,184}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,139},{158,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,417},{158,190}}</string>
                <key>offset</key>
                <string>{-36,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,138},{158,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,411},{156,188}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,138},{156,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,575},{188,176}}</string>
                <key>offset</key>
                <string>{-26,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,125},{188,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,567},{178,174}}</string>
                <key>offset</key>
                <string>{-32,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,128},{178,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,569},{174,178}}</string>
                <key>offset</key>
                <string>{-40,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,127},{174,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,575},{178,184}}</string>
                <key>offset</key>
                <string>{-47,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,126},{178,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,579},{186,188}}</string>
                <key>offset</key>
                <string>{-39,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,123},{186,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,579},{198,182}}</string>
                <key>offset</key>
                <string>{-29,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,128},{198,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,577},{188,178}}</string>
                <key>offset</key>
                <string>{-31,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,129},{188,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,569},{176,174}}</string>
                <key>offset</key>
                <string>{-35,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,129},{176,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,411},{158,172}}</string>
                <key>offset</key>
                <string>{-35,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,124},{158,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,411},{156,182}}</string>
                <key>offset</key>
                <string>{-25,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,123},{156,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,265},{144,182}}</string>
                <key>offset</key>
                <string>{-28,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,121},{144,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,269},{146,178}}</string>
                <key>offset</key>
                <string>{-33,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,122},{146,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,571},{174,178}}</string>
                <key>offset</key>
                <string>{-29,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,127},{174,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,131},{136,174}}</string>
                <key>offset</key>
                <string>{-14,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,127},{136,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,127},{134,172}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,125},{134,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,129},{134,180}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,118},{134,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,131},{136,178}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,126},{136,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,131},{136,190}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,121},{136,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,129},{134,178}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,126},{134,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5130507@2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5486370586449a25d2f6b8b8a699d6bc:d26ae80dda14a9a8840b4684ae4b292e:d0bb80b69584b8f1e501fc2196960886$</string>
            <key>textureFileName</key>
            <string>r_5130507@2.png</string>
        </dict>
    </dict>
</plist>
