<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5130507/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,253},{140,200}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,118},{140,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,255},{142,188}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,122},{142,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,557},{170,188}}</string>
                <key>offset</key>
                <string>{15,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,123},{170,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1},{120,174}}</string>
                <key>offset</key>
                <string>{-22,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,131},{120,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,261},{144,170}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,139},{144,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,551},{168,180}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,127},{168,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,547},{172,166}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,138},{172,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,253},{140,170}}</string>
                <key>offset</key>
                <string>{-12,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,136},{140,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,407},{192,156}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,154},{192,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,557},{170,170}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,135},{170,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,553},{168,168}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,134},{168,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,395},{152,192}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,110},{152,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,559},{170,188}}</string>
                <key>offset</key>
                <string>{-29,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,124},{170,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,257},{142,180}}</string>
                <key>offset</key>
                <string>{-18,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,124},{142,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,257},{142,194}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,120},{142,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,397},{154,176}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,131},{154,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,399},{154,180}}</string>
                <key>offset</key>
                <string>{-25,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,128},{154,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,121},{134,170}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,132},{134,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1},{116,190}}</string>
                <key>offset</key>
                <string>{-5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,124},{116,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,123},{136,158}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,138},{136,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,121},{134,166}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,137},{134,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,123},{134,168}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,137},{134,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1},{118,162}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,135},{118,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,407},{156,160}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,145},{156,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/casting/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1},{118,162}}</string>
                <key>offset</key>
                <string>{-7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,138},{118,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1},{116,156}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,165},{116,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,253},{146,142}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,175},{146,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1},{118,128}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,176},{118,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/dig/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{116,130}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,175},{116,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,119},{132,180}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,145},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,119},{132,180}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,146},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,119},{132,182}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,146},{132,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,395},{152,184}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,145},{152,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,395},{150,182}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,146},{150,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,401},{154,188}}</string>
                <key>offset</key>
                <string>{-36,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,137},{154,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,549},{166,186}}</string>
                <key>offset</key>
                <string>{-26,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,136},{166,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,401},{154,192}}</string>
                <key>offset</key>
                <string>{-32,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,136},{154,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,549},{166,174}}</string>
                <key>offset</key>
                <string>{-45,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,127},{166,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,565},{170,170}}</string>
                <key>offset</key>
                <string>{-34,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,130},{170,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,565},{170,182}}</string>
                <key>offset</key>
                <string>{-51,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,125},{170,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,397},{152,172}}</string>
                <key>offset</key>
                <string>{-35,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,122},{152,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,403},{154,176}}</string>
                <key>offset</key>
                <string>{-35,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,119},{154,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,555},{168,176}}</string>
                <key>offset</key>
                <string>{-31,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,126},{168,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{138,170}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,126},{138,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,253},{140,172}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,130},{140,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,259},{142,182}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,128},{142,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,255},{140,178}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,127},{140,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,117},{132,160}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,153},{132,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,119},{132,166}}</string>
                <key>offset</key>
                <string>{-18,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,147},{132,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,121},{132,166}}</string>
                <key>offset</key>
                <string>{-17,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,146},{132,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1},{116,166}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,144},{116,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{114,174}}</string>
                <key>offset</key>
                <string>{-20,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,135},{114,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,1},{118,162}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,133},{118,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1},{118,164}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,131},{118,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1},{116,170}}</string>
                <key>offset</key>
                <string>{-21,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,125},{116,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,121},{132,162}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,132},{132,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5130507/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,121},{132,166}}</string>
                <key>offset</key>
                <string>{-14,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,128},{132,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5130507@1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5486370586449a25d2f6b8b8a699d6bc:d26ae80dda14a9a8840b4684ae4b292e:d0bb80b69584b8f1e501fc2196960886$</string>
            <key>textureFileName</key>
            <string>r_5130507@1.png</string>
        </dict>
    </dict>
</plist>
