<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5120507/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,235},{132,176}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,141},{132,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,369},{146,172}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,136},{146,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,513},{158,178}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,136},{158,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{144,180}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,139},{144,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,383},{168,152}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,152},{168,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,527},{164,160}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,148},{164,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,513},{174,158}}</string>
                <key>offset</key>
                <string>{-16,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,147},{174,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,523},{172,160}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,143},{172,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1},{112,188}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,135},{112,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,235},{132,192}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,132},{132,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,237},{132,164}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,139},{132,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,239},{132,174}}</string>
                <key>offset</key>
                <string>{-21,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,138},{132,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,239},{132,176}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,136},{132,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,239},{132,174}}</string>
                <key>offset</key>
                <string>{-22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,138},{132,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,233},{130,166}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,131},{130,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,371},{146,182}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,129},{146,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,373},{146,174}}</string>
                <key>offset</key>
                <string>{-35,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,127},{146,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,235},{130,172}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,126},{130,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,241},{132,180}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,118},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1},{112,184}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,113},{112,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/casting/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,115},{124,202}}</string>
                <key>offset</key>
                <string>{-11,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,97},{124,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/death-1/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,375},{150,162}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,150},{150,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/death-1/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,367},{144,164}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,145},{144,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/death-1/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,373},{148,162}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,151},{148,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1},{112,142}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,183},{112,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,241},{146,140}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,176},{146,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{150,128}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,177},{150,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,235},{154,130}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,175},{154,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1},{140,110}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,189},{140,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/dig/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1},{108,110}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,188},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,515},{158,186}}</string>
                <key>offset</key>
                <string>{-29,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,135},{158,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,373},{146,198}}</string>
                <key>offset</key>
                <string>{-28,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,128},{146,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,367},{144,194}}</string>
                <key>offset</key>
                <string>{-29,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,130},{144,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,369},{144,190}}</string>
                <key>offset</key>
                <string>{-28,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,132},{144,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,517},{158,176}}</string>
                <key>offset</key>
                <string>{-39,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,121},{158,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,519},{158,180}}</string>
                <key>offset</key>
                <string>{-38,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,121},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{156,176}}</string>
                <key>offset</key>
                <string>{-40,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,119},{156,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,521},{158,176}}</string>
                <key>offset</key>
                <string>{-29,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,115},{158,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,537},{160,188}}</string>
                <key>offset</key>
                <string>{-30,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,106},{160,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,521},{158,180}}</string>
                <key>offset</key>
                <string>{-29,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,112},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{122,190}}</string>
                <key>offset</key>
                <string>{-8,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,103},{122,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,109},{122,180}}</string>
                <key>offset</key>
                <string>{-8,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,112},{122,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,111},{122,186}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,111},{122,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,111},{122,194}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,108},{122,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/run/40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,111},{122,196}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,107},{122,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,113},{122,168}}</string>
                <key>offset</key>
                <string>{-14,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,145},{122,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,111},{122,162}}</string>
                <key>offset</key>
                <string>{-15,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,151},{122,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{106,168}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,141},{106,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{106,172}}</string>
                <key>offset</key>
                <string>{-12,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,137},{106,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1},{106,170}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,138},{106,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1},{108,168}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,140},{108,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1},{110,156}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,141},{110,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{108,160}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,137},{108,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1},{108,162}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,135},{108,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,115},{122,154}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,142},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,115},{122,154}}</string>
                <key>offset</key>
                <string>{-13,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,142},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5120507/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1603,115},{122,156}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,140},{122,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5120507@1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ef7d54c0b2d818340cbff6e778cdaa:d2eda72028f1bb445d01a0e8e9923668:8281fdf1040eeebcc70280096db5c1a1$</string>
            <key>textureFileName</key>
            <string>r_5120507@1.png</string>
        </dict>
    </dict>
</plist>
