<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5210507/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,179},{162,174}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,137},{162,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,729},{172,178}}</string>
                <key>offset</key>
                <string>{-6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,136},{172,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,183},{178,164}}</string>
                <key>offset</key>
                <string>{-17,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,132},{178,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,707},{172,168}}</string>
                <key>offset</key>
                <string>{-16,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,128},{172,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,537},{166,174}}</string>
                <key>offset</key>
                <string>{-20,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,115},{166,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,721},{174,174}}</string>
                <key>offset</key>
                <string>{-13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,118},{174,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,507},{124,164}}</string>
                <key>offset</key>
                <string>{-13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,152},{124,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,335},{120,164}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,152},{120,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,853},{116,166}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,154},{116,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1},{120,172}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,150},{120,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,521},{112,170}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,145},{112,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,673},{102,162}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,143},{102,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,169},{126,164}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,133},{126,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,341},{130,164}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,131},{130,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,721},{102,176}}</string>
                <key>offset</key>
                <string>{-17,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,137},{102,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,911},{112,174}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,137},{112,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,693},{134,166}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,141},{134,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1},{136,166}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,140},{136,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1},{122,174}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,135},{122,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1},{132,168}}</string>
                <key>offset</key>
                <string>{-10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,139},{132,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,701},{152,170}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,129},{152,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,909},{114,178}}</string>
                <key>offset</key>
                <string>{-22,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,121},{114,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,889},{134,168}}</string>
                <key>offset</key>
                <string>{-31,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,130},{134,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,349},{128,170}}</string>
                <key>offset</key>
                <string>{-27,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,127},{128,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,703},{116,172}}</string>
                <key>offset</key>
                <string>{-18,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,120},{116,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,181},{116,176}}</string>
                <key>offset</key>
                <string>{-18,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,117},{116,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,911},{112,180}}</string>
                <key>offset</key>
                <string>{-16,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,115},{112,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1},{112,174}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,119},{112,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,359},{110,176}}</string>
                <key>offset</key>
                <string>{-16,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,116},{110,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1},{116,176}}</string>
                <key>offset</key>
                <string>{-20,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,118},{116,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,729},{126,180}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,121},{126,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,729},{126,180}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,121},{126,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/death-1/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1},{114,170}}</string>
                <key>offset</key>
                <string>{-17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,126},{114,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/death-1/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,877},{142,162}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,142},{142,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/death-1/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,501},{160,140}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,181},{160,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,837},{112,156}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,162},{112,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1871,837},{110,156}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,162},{110,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,465},{114,158}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,160},{114,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,869},{138,152}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,166},{138,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,581},{138,156}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,162},{138,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,873},{140,148}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,158},{140,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,721},{114,142}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,159},{114,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,183},{124,180}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,147},{124,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,363},{122,178}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,146},{122,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,547},{122,180}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,144},{122,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,365},{126,180}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,145},{126,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{132,180}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,147},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{138,180}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,148},{138,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,547},{132,180}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,144},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{134,180}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,138},{134,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,713},{166,174}}</string>
                <key>offset</key>
                <string>{-33,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,123},{166,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,347},{160,168}}</string>
                <key>offset</key>
                <string>{-29,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,128},{160,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,355},{148,174}}</string>
                <key>offset</key>
                <string>{-31,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,123},{148,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,881},{142,172}}</string>
                <key>offset</key>
                <string>{-37,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,127},{142,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1},{150,174}}</string>
                <key>offset</key>
                <string>{-39,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,129},{150,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,547},{168,178}}</string>
                <key>offset</key>
                <string>{-34,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,127},{168,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1},{148,178}}</string>
                <key>offset</key>
                <string>{-32,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,118},{148,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1},{144,178}}</string>
                <key>offset</key>
                <string>{-33,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,117},{144,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,173},{140,168}}</string>
                <key>offset</key>
                <string>{-30,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,128},{140,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,529},{132,172}}</string>
                <key>offset</key>
                <string>{-28,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,125},{132,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,353},{130,172}}</string>
                <key>offset</key>
                <string>{-27,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,122},{130,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,355},{136,174}}</string>
                <key>offset</key>
                <string>{-29,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,118},{136,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,525},{140,170}}</string>
                <key>offset</key>
                <string>{-36,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,123},{140,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,531},{146,174}}</string>
                <key>offset</key>
                <string>{-36,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,120},{146,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,175},{128,170}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,131},{128,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,177},{132,174}}</string>
                <key>offset</key>
                <string>{-11,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,127},{132,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,697},{130,170}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,131},{130,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,363},{130,178}}</string>
                <key>offset</key>
                <string>{-11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,124},{130,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,177},{128,172}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,126},{128,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,897},{126,174}}</string>
                <key>offset</key>
                <string>{-12,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,120},{126,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{124,180}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,117},{124,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,861},{132,162}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,145},{132,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,333},{130,160}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,147},{130,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,169},{130,162}}</string>
                <key>offset</key>
                <string>{-13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,145},{130,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,1},{128,162}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,145},{128,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,543},{114,176}}</string>
                <key>offset</key>
                <string>{-18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,130},{114,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,531},{114,174}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,132},{114,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,175},{114,172}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,134},{114,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,527},{116,172}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,134},{116,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,181},{82,178}}</string>
                <key>offset</key>
                <string>{-20,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,124},{82,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,351},{116,172}}</string>
                <key>offset</key>
                <string>{-16,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,121},{116,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,353},{114,174}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,119},{114,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,177},{114,174}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,119},{114,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1},{112,172}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,121},{112,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,517},{132,166}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,125},{132,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,685},{132,166}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,125},{132,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1},{132,168}}</string>
                <key>offset</key>
                <string>{-10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,123},{132,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1563,171},{132,168}}</string>
                <key>offset</key>
                <string>{-10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,123},{132,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5210507@1.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a037142fa4dd561eaf4af4cc204a6f:fedd633e1ca28ca30f874b0d1a099740:be07369c405424fff27c0b206184789d$</string>
            <key>textureFileName</key>
            <string>r_5210507@1.png</string>
        </dict>
    </dict>
</plist>
