<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5210507/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,183},{174,182}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,132},{174,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1},{168,184}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,132},{168,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,619},{186,172}}</string>
                <key>offset</key>
                <string>{5,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,133},{186,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,543},{178,176}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,138},{178,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,297},{156,184}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,133},{156,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,175},{174,182}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,136},{174,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,455},{176,162}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,139},{176,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,309},{180,166}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,135},{180,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,321},{180,164}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,138},{180,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1},{168,186}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,135},{168,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,275},{174,176}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,131},{174,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,721},{170,164}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,132},{170,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,807},{184,172}}</string>
                <key>offset</key>
                <string>{-18,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,128},{184,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{192,198}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,124},{192,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,629},{152,170}}</string>
                <key>offset</key>
                <string>{-18,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,118},{152,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,359},{174,182}}</string>
                <key>offset</key>
                <string>{-13,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,108},{174,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1},{176,182}}</string>
                <key>offset</key>
                <string>{-19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,112},{176,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,1},{160,192}}</string>
                <key>offset</key>
                <string>{-21,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,105},{160,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1},{184,196}}</string>
                <key>offset</key>
                <string>{-24,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,103},{184,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{168,198}}</string>
                <key>offset</key>
                <string>{-12,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,96},{168,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1},{180,198}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,107},{180,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1},{172,198}}</string>
                <key>offset</key>
                <string>{-5,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,98},{172,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1},{148,216}}</string>
                <key>offset</key>
                <string>{-9,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,85},{148,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{168,216}}</string>
                <key>offset</key>
                <string>{-22,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,80},{168,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,917},{106,174}}</string>
                <key>offset</key>
                <string>{-18,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,139},{106,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,917},{104,174}}</string>
                <key>offset</key>
                <string>{-17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,126},{104,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,917},{106,176}}</string>
                <key>offset</key>
                <string>{-18,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,124},{106,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,757},{124,176}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,123},{124,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,743},{132,188}}</string>
                <key>offset</key>
                <string>{-21,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,125},{132,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,1},{150,194}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,113},{150,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,887},{112,186}}</string>
                <key>offset</key>
                <string>{-17,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,117},{112,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,201},{108,208}}</string>
                <key>offset</key>
                <string>{-25,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,105},{108,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,791},{124,182}}</string>
                <key>offset</key>
                <string>{-10,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,119},{124,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,179},{140,182}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,119},{140,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,783},{124,182}}</string>
                <key>offset</key>
                <string>{-8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,119},{124,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,619},{112,188}}</string>
                <key>offset</key>
                <string>{-10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,113},{112,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,633},{122,186}}</string>
                <key>offset</key>
                <string>{-15,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,115},{122,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/casting/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,411},{122,196}}</string>
                <key>offset</key>
                <string>{-17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,109},{122,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/death-1/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,907},{104,168}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,125},{104,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,793},{122,186}}</string>
                <key>offset</key>
                <string>{-14,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,141},{122,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,761},{122,184}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,141},{122,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,491},{138,182}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,147},{138,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,477},{140,182}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,145},{140,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,487},{140,182}}</string>
                <key>offset</key>
                <string>{-8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,143},{140,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,171},{136,186}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,137},{136,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,553},{136,188}}</string>
                <key>offset</key>
                <string>{-30,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,132},{136,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,775},{136,188}}</string>
                <key>offset</key>
                <string>{-27,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,131},{136,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,495},{136,182}}</string>
                <key>offset</key>
                <string>{-25,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,136},{136,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,585},{140,188}}</string>
                <key>offset</key>
                <string>{-27,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,132},{140,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,153},{142,186}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,137},{142,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,803},{144,188}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,136},{144,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,163},{140,186}}</string>
                <key>offset</key>
                <string>{-28,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,137},{140,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,179},{130,186}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,138},{130,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,393},{124,190}}</string>
                <key>offset</key>
                <string>{-26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,135},{124,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,367},{126,186}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,138},{126,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,321},{168,176}}</string>
                <key>offset</key>
                <string>{-34,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,120},{168,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,619},{164,170}}</string>
                <key>offset</key>
                <string>{-31,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,127},{164,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,453},{158,180}}</string>
                <key>offset</key>
                <string>{-38,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,125},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,723},{170,182}}</string>
                <key>offset</key>
                <string>{-33,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,124},{170,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,367},{162,184}}</string>
                <key>offset</key>
                <string>{-36,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,122},{162,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,305},{148,182}}</string>
                <key>offset</key>
                <string>{-42,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,121},{148,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,733},{152,178}}</string>
                <key>offset</key>
                <string>{-32,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,116},{152,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,455},{154,180}}</string>
                <key>offset</key>
                <string>{-30,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,114},{154,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,611},{148,180}}</string>
                <key>offset</key>
                <string>{-32,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,111},{148,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,171},{148,182}}</string>
                <key>offset</key>
                <string>{-33,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,109},{148,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,883},{124,176}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,119},{124,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,151},{122,188}}</string>
                <key>offset</key>
                <string>{-11,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,114},{122,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,199},{126,192}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,110},{126,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,609},{128,192}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,107},{128,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/run/40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,631},{128,182}}</string>
                <key>offset</key>
                <string>{-10,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,111},{128,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,885},{82,178}}</string>
                <key>offset</key>
                <string>{-20,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,125},{82,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,635},{84,176}}</string>
                <key>offset</key>
                <string>{-21,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,125},{84,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,1},{86,176}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,126},{86,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5210507@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a037142fa4dd561eaf4af4cc204a6f:fedd633e1ca28ca30f874b0d1a099740:be07369c405424fff27c0b206184789d$</string>
            <key>textureFileName</key>
            <string>r_5210507@0.png</string>
        </dict>
    </dict>
</plist>
