<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role/5210507/dig/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1},{136,152}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,166},{136,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1},{140,140}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,166},{140,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{138,142}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,164},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{140,128}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,171},{140,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,1},{138,136}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,166},{138,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1},{140,142}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,162},{140,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1},{112,148}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,154},{112,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role/5210507/dig/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,148}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,156},{110,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>r_5210507@2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a037142fa4dd561eaf4af4cc204a6f:fedd633e1ca28ca30f874b0d1a099740:be07369c405424fff27c0b206184789d$</string>
            <key>textureFileName</key>
            <string>r_5210507@2.png</string>
        </dict>
    </dict>
</plist>
