<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_role_2_1_show/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,377},{194,370}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,227},{194,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,1525},{196,372}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,224},{196,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,1},{194,374}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,222},{194,374}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1511},{198,376}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,220},{198,376}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,769},{206,378}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,218},{206,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,749},{204,384}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,215},{204,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1561,381},{230,386}}</string>
                <key>offset</key>
                <string>{-30,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,215},{230,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,387},{252,384}}</string>
                <key>offset</key>
                <string>{-40,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,215},{252,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,775},{254,386}}</string>
                <key>offset</key>
                <string>{-37,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,214},{254,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1553},{258,386}}</string>
                <key>offset</key>
                <string>{-36,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,214},{258,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{262,386}}</string>
                <key>offset</key>
                <string>{-34,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,214},{262,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,777},{260,384}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,216},{260,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1165},{262,384}}</string>
                <key>offset</key>
                <string>{-31,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,215},{262,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,1553},{258,384}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,215},{258,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,389},{260,384}}</string>
                <key>offset</key>
                <string>{-28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,215},{260,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1},{260,384}}</string>
                <key>offset</key>
                <string>{-27,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,215},{260,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1551},{262,384}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,215},{262,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1165},{260,386}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,214},{260,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,389},{268,386}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,214},{268,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{264,386}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,214},{264,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,777},{264,386}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,214},{264,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1165},{266,386}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,214},{266,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,777},{264,386}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,214},{264,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{274,386}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,214},{274,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1553},{266,386}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,214},{266,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1165},{266,386}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,214},{266,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1553},{266,386}}</string>
                <key>offset</key>
                <string>{-22,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,214},{266,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,389},{266,386}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,214},{266,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,389},{264,386}}</string>
                <key>offset</key>
                <string>{-23,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,214},{264,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,777},{268,386}}</string>
                <key>offset</key>
                <string>{-24,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,214},{268,386}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,1163},{256,384}}</string>
                <key>offset</key>
                <string>{-18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,216},{256,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1},{240,378}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,220},{240,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1},{246,378}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,221},{246,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1},{248,376}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,222},{248,376}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,381},{238,376}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,222},{238,376}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,759},{220,374}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,224},{220,374}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1135},{206,374}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,224},{206,374}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,1135},{206,374}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,224},{206,374}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1149},{204,374}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,224},{204,374}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_show/00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,1511},{198,372}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,226},{198,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create_role_2_1_show@0.png</string>
            <key>size</key>
            <string>{2004,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:058f10d1508244ea9f2916a408bda0a0:124c0b0e5fd806e041f9ad6966bf1b41:129181a0359f4f54da2208c00a24b9a1$</string>
            <key>textureFileName</key>
            <string>create_role_2_1_show@0.png</string>
        </dict>
    </dict>
</plist>
