<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_role_1_2_show/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,685},{198,362}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,252},{198,362}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1031},{214,372}}</string>
                <key>offset</key>
                <string>{-39,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,251},{214,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1049},{224,376}}</string>
                <key>offset</key>
                <string>{-48,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,253},{224,376}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1049},{206,376}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,254},{206,376}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,685},{184,372}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,254},{184,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1037},{176,372}}</string>
                <key>offset</key>
                <string>{-18,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,255},{176,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1019},{244,372}}</string>
                <key>offset</key>
                <string>{19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,254},{244,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1393},{282,476}}</string>
                <key>offset</key>
                <string>{42,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,156},{282,476}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1453},{342,508}}</string>
                <key>offset</key>
                <string>{24,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,113},{342,508}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1427},{354,502}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,103},{354,502}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1437},{328,502}}</string>
                <key>offset</key>
                <string>{24,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,97},{328,502}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1405},{190,490}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,104},{190,490}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1379},{338,450}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,144},{338,450}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,1059},{256,392}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,213},{256,392}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,317},{286,344}}</string>
                <key>offset</key>
                <string>{-44,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,253},{286,344}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,337},{272,346}}</string>
                <key>offset</key>
                <string>{-45,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,252},{272,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,337},{280,346}}</string>
                <key>offset</key>
                <string>{-58,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,253},{280,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,325},{290,346}}</string>
                <key>offset</key>
                <string>{-66,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,253},{290,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,663},{300,348}}</string>
                <key>offset</key>
                <string>{-69,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,253},{300,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,331},{286,346}}</string>
                <key>offset</key>
                <string>{-50,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,256},{286,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,653},{210,348}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,263},{210,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1},{202,334}}</string>
                <key>offset</key>
                <string>{-12,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,278},{202,334}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1},{230,314}}</string>
                <key>offset</key>
                <string>{-20,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,296},{230,314}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{362,312}}</string>
                <key>offset</key>
                <string>{-64,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,296},{362,312}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{214,336}}</string>
                <key>offset</key>
                <string>{21,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,286},{214,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,1051},{188,384}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,228},{188,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,679},{208,356}}</string>
                <key>offset</key>
                <string>{2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,262},{208,356}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,673},{216,356}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,263},{216,356}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{240,314}}</string>
                <key>offset</key>
                <string>{-25,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,302},{240,314}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1},{336,322}}</string>
                <key>offset</key>
                <string>{-70,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,290},{336,322}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1},{296,328}}</string>
                <key>offset</key>
                <string>{-41,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,283},{296,328}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1},{264,334}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,271},{264,334}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,317},{244,344}}</string>
                <key>offset</key>
                <string>{-42,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,265},{244,344}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,663},{222,354}}</string>
                <key>offset</key>
                <string>{-39,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,259},{222,354}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,685},{210,364}}</string>
                <key>offset</key>
                <string>{-35,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,252},{210,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1003},{198,364}}</string>
                <key>offset</key>
                <string>{-31,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,252},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1013},{198,364}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,252},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_show/00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,685},{196,362}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,252},{196,362}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create_role_1_2_show@0.png</string>
            <key>size</key>
            <string>{1962,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e9bad9d8989c6b16337bea0f497c772:eec898662ad1b0b9143dec89a37df89d:ecd34f7d8117c7fe0e8a264c70a65b48$</string>
            <key>textureFileName</key>
            <string>create_role_1_2_show@0.png</string>
        </dict>
    </dict>
</plist>
