<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_role_1_2_stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{198,364}}</string>
                <key>offset</key>
                <string>{-23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,251},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{196,364}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,251},{196,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1},{198,364}}</string>
                <key>offset</key>
                <string>{-25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,252},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1},{198,364}}</string>
                <key>offset</key>
                <string>{-25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,252},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{200,364}}</string>
                <key>offset</key>
                <string>{-25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,252},{200,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1},{200,364}}</string>
                <key>offset</key>
                <string>{-25,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,251},{200,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1},{200,364}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,252},{200,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,367},{200,364}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,252},{200,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,367},{200,364}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,252},{200,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,367},{202,364}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,252},{202,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,367},{200,364}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,252},{200,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,367},{202,364}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,252},{202,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,367},{202,364}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,252},{202,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,733},{200,364}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,252},{200,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,733},{198,364}}</string>
                <key>offset</key>
                <string>{-26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,251},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,733},{200,364}}</string>
                <key>offset</key>
                <string>{-25,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,251},{200,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,733},{198,364}}</string>
                <key>offset</key>
                <string>{-27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,252},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,733},{198,364}}</string>
                <key>offset</key>
                <string>{-26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,251},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,733},{198,364}}</string>
                <key>offset</key>
                <string>{-25,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,251},{198,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_2_stand/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,733},{196,364}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,251},{196,364}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create_role_1_2_stand@0.png</string>
            <key>size</key>
            <string>{1404,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eafd21f5e8e29508d81d2d29dddd717:8efa12536dcd9e400594caeb383d9027:880f274d99806aa5157c854d1aff59fb$</string>
            <key>textureFileName</key>
            <string>create_role_1_2_stand@0.png</string>
        </dict>
    </dict>
</plist>
