<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_role_3_2_stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,349},{270,346}}</string>
                <key>offset</key>
                <string>{-44,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,258},{270,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,1047},{266,346}}</string>
                <key>offset</key>
                <string>{-42,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,258},{266,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,1},{268,346}}</string>
                <key>offset</key>
                <string>{-41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,258},{268,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1051},{266,346}}</string>
                <key>offset</key>
                <string>{-40,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,258},{266,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1051},{266,346}}</string>
                <key>offset</key>
                <string>{-40,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,258},{266,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,699},{272,346}}</string>
                <key>offset</key>
                <string>{-40,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,258},{272,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{278,348}}</string>
                <key>offset</key>
                <string>{-41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,257},{278,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,353},{276,346}}</string>
                <key>offset</key>
                <string>{-41,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,258},{276,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,349},{272,346}}</string>
                <key>offset</key>
                <string>{-40,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,259},{272,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1},{274,346}}</string>
                <key>offset</key>
                <string>{-43,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,258},{274,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1},{272,346}}</string>
                <key>offset</key>
                <string>{-42,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,259},{272,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{270,348}}</string>
                <key>offset</key>
                <string>{-45,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,258},{270,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,349},{268,348}}</string>
                <key>offset</key>
                <string>{-43,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,258},{268,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,701},{266,348}}</string>
                <key>offset</key>
                <string>{-42,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,258},{266,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1047},{264,348}}</string>
                <key>offset</key>
                <string>{-41,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,258},{264,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{264,350}}</string>
                <key>offset</key>
                <string>{-43,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,257},{264,350}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,701},{266,348}}</string>
                <key>offset</key>
                <string>{-44,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,258},{266,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,697},{266,348}}</string>
                <key>offset</key>
                <string>{-43,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,258},{266,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,697},{266,348}}</string>
                <key>offset</key>
                <string>{-41,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,258},{266,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_2_stand/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1047},{264,348}}</string>
                <key>offset</key>
                <string>{-43,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,257},{264,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create_role_3_2_stand@0.png</string>
            <key>size</key>
            <string>{1398,1398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cfad64b0cf19c7bd0a7d62e439ac479:44136fb0dcd56405b11af42cb50bc5b1:639650702d4f3153f22241860af42501$</string>
            <key>textureFileName</key>
            <string>create_role_3_2_stand@0.png</string>
        </dict>
    </dict>
</plist>
