<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_role_2_1_stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{204,370}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,226},{204,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1121},{200,370}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,226},{200,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,745},{196,370}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,226},{196,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1121},{198,370}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1121},{198,370}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{200,370}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,226},{200,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{198,370}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,373},{200,372}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,225},{200,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1121},{198,370}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1},{198,370}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,747},{200,372}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,225},{200,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,372}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,225},{202,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,373},{198,372}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,225},{198,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,375},{202,372}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,225},{202,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,747},{198,372}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,225},{198,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,373},{196,372}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,225},{196,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,747},{196,372}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,225},{196,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1117},{196,372}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,225},{196,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,749},{202,372}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,225},{202,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1117},{194,372}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,225},{194,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,373},{200,372}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,225},{200,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,747},{200,372}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,225},{200,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1},{198,370}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,373},{198,370}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,373},{198,370}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_1_stand/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,745},{198,370}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,226},{198,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create_role_2_1_stand@0.png</string>
            <key>size</key>
            <string>{1492,1492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2f607247b793ff484c104e69b15e581:366a89c7ba70f2ef29a39b6fb84d341c:b86ba9c273d95f05ed764b4a1eed62a0$</string>
            <key>textureFileName</key>
            <string>create_role_2_1_stand@0.png</string>
        </dict>
    </dict>
</plist>
