<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_role_2_2_show/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,355},{200,336}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,266},{200,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1009},{182,336}}</string>
                <key>offset</key>
                <string>{7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,266},{182,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,335},{166,334}}</string>
                <key>offset</key>
                <string>{14,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,265},{166,334}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1347},{170,336}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,263},{170,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1369},{172,336}}</string>
                <key>offset</key>
                <string>{18,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,263},{172,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,1345},{172,336}}</string>
                <key>offset</key>
                <string>{20,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,263},{172,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,703},{170,338}}</string>
                <key>offset</key>
                <string>{20,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,262},{170,338}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1411},{176,338}}</string>
                <key>offset</key>
                <string>{19,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,262},{176,338}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,363},{176,338}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,261},{176,338}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,671},{188,336}}</string>
                <key>offset</key>
                <string>{14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,263},{188,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1067},{244,342}}</string>
                <key>offset</key>
                <string>{-7,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,266},{244,342}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1429},{330,348}}</string>
                <key>offset</key>
                <string>{-36,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,261},{330,348}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1},{370,366}}</string>
                <key>offset</key>
                <string>{-62,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,234},{370,366}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{334,404}}</string>
                <key>offset</key>
                <string>{-35,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,196},{334,404}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{322,408}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,192},{322,408}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,817},{316,404}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,195},{316,404}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1223},{332,398}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,200},{332,398}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1623},{336,390}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,207},{336,390}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1047},{350,380}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,216},{350,380}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,363},{362,370}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,225},{362,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1},{374,360}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,235},{374,360}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,1},{376,352}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,244},{376,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,369},{378,342}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,254},{378,342}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1067},{386,332}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,264},{386,332}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,713},{388,332}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,263},{388,332}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,1},{392,332}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,263},{392,332}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,335},{390,332}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,263},{390,332}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,735},{388,330}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,264},{388,330}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1411},{324,332}}</string>
                <key>offset</key>
                <string>{-36,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,264},{324,332}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,1685},{306,334}}</string>
                <key>offset</key>
                <string>{-43,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,263},{306,334}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,693},{278,336}}</string>
                <key>offset</key>
                <string>{-40,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,263},{278,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,669},{268,336}}</string>
                <key>offset</key>
                <string>{-38,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,264},{268,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1429},{260,338}}</string>
                <key>offset</key>
                <string>{-37,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,264},{260,338}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1031},{256,336}}</string>
                <key>offset</key>
                <string>{-32,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,266},{256,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_2_2_show/00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,1007},{246,336}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,266},{246,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create_role_2_2_show@0.png</string>
            <key>size</key>
            <string>{2022,2022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b909a378043d96b90589d9f88e42b197:fa3d3fd5640c841e3a174f9c0eb2279f:832f797bba532b2b50c7948beda45509$</string>
            <key>textureFileName</key>
            <string>create_role_2_2_show@0.png</string>
        </dict>
    </dict>
</plist>
