<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_role_3_1_stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1067},{222,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,238},{222,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,355},{218,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,238},{218,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,713},{224,352}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,238},{224,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1063},{218,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,238},{218,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1063},{218,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,238},{218,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1067},{222,352}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,238},{222,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,709},{218,352}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,238},{218,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,709},{220,352}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,237},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,355},{220,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,238},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,1},{216,352}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,238},{216,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1},{220,352}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,237},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,709},{218,352}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,237},{218,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1},{220,352}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,238},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1},{220,352}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,238},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,357},{224,352}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,238},{224,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,355},{220,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,238},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,711},{222,352}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,237},{222,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,355},{220,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,238},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,709},{220,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,238},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1},{224,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,238},{224,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{220,354}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,237},{220,354}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1063},{220,352}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,238},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,355},{222,352}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,238},{222,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,709},{220,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,238},{220,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{218,354}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,237},{218,354}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1},{222,352}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,238},{222,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1063},{216,352}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,238},{216,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_3_1_stand/00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1065},{222,352}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,238},{222,352}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create_role_3_1_stand@0.png</string>
            <key>size</key>
            <string>{1556,1556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eef3c9d07cf88b5b8a5fb1f7a387d14:43054df78cbc153478997733bc131cdc:45799658a6eb3f4b5546a48ecfe39505$</string>
            <key>textureFileName</key>
            <string>create_role_3_1_stand@0.png</string>
        </dict>
    </dict>
</plist>
