<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_role_1_1_show/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1621},{220,372}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,230},{220,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,407},{226,378}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,230},{226,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,1171},{222,378}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,229},{222,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,869},{226,370}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,232},{226,370}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,1241},{218,366}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,234},{218,366}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1551},{236,374}}</string>
                <key>offset</key>
                <string>{-26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,233},{236,374}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1607},{244,384}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,228},{244,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,787},{244,418}}</string>
                <key>offset</key>
                <string>{-7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,217},{244,418}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,387},{358,394}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,256},{358,394}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{388,402}}</string>
                <key>offset</key>
                <string>{9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,242},{388,402}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,783},{316,456}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,170},{316,456}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1195},{290,424}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,203},{290,424}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,791},{312,402}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,233},{312,402}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,1},{494,388}}</string>
                <key>offset</key>
                <string>{-52,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,242},{494,388}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{510,384}}</string>
                <key>offset</key>
                <string>{-45,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,242},{510,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1},{506,384}}</string>
                <key>offset</key>
                <string>{-54,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,241},{506,384}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1},{400,404}}</string>
                <key>offset</key>
                <string>{-42,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,241},{400,404}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,407},{288,460}}</string>
                <key>offset</key>
                <string>{-33,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,164},{288,460}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,387},{248,398}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,209},{248,398}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1207},{246,398}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,206},{246,398}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,787},{242,390}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,214},{242,390}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,1563},{244,380}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,224},{244,380}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,391},{246,376}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,229},{246,376}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,769},{242,376}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,230},{242,376}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1241},{240,378}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,229},{240,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1241},{238,378}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,229},{238,378}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1179},{232,382}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,229},{232,382}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,787},{226,382}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,230},{226,382}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1609},{216,374}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,230},{216,374}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,1147},{218,374}}</string>
                <key>offset</key>
                <string>{-13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,230},{218,374}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1621},{218,372}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,231},{218,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1621},{218,372}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,231},{218,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>create_role_1_1_show/00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1621},{220,372}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,231},{220,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>create_role_1_1_show@0.png</string>
            <key>size</key>
            <string>{1994,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2a256f500fd9e690554369b2f01f90f:1bd40c0fd5b97ce1458c20645f7b4ad5:bb84e6d3a50b0ca487a2553e79f21fa8$</string>
            <key>textureFileName</key>
            <string>create_role_1_1_show@0.png</string>
        </dict>
    </dict>
</plist>
