<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>20046/attack/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,1},{58,72}}</string>
			<key>offset</key>
			<string>{-11,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{88,100},{58,72}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,1},{54,62}}</string>
			<key>offset</key>
			<string>{-3,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{98,115},{54,62}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,185},{66,80}}</string>
			<key>offset</key>
			<string>{-15,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,92},{66,80}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,115},{62,74}}</string>
			<key>offset</key>
			<string>{-13,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,98},{62,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,181},{88,66}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,103},{88,66}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,1},{76,56}}</string>
			<key>offset</key>
			<string>{-10,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,117},{76,56}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,179},{80,66}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,100},{80,66}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,187},{86,66}}</string>
			<key>offset</key>
			<string>{-3,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,102},{86,66}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,1},{98,54}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,108},{98,54}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{94,46}}</string>
			<key>offset</key>
			<string>{-14,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,118},{94,46}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,53},{104,56}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,106},{104,56}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,1},{102,54}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,108},{102,54}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,243},{86,70}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{83,101},{86,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,61},{86,60}}</string>
			<key>offset</key>
			<string>{-10,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,106},{86,60}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,177},{88,64}}</string>
			<key>offset</key>
			<string>{1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,105},{88,64}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,197},{86,68}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,102},{86,68}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,115},{62,76}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{98,98},{62,76}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,49},{58,70}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{95,100},{58,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,177},{64,78}}</string>
			<key>offset</key>
			<string>{4,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{100,100},{64,78}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/attack/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,117},{62,74}}</string>
			<key>offset</key>
			<string>{3,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{100,101},{62,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/death/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,57},{98,58}}</string>
			<key>offset</key>
			<string>{-5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,108},{98,58}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/death/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,57},{96,56}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,104},{96,56}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/death/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,1},{94,54}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,109},{94,54}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/death/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,1},{94,50}}</string>
			<key>offset</key>
			<string>{-4,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,113},{94,50}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,177},{64,74}}</string>
			<key>offset</key>
			<string>{-6,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{90,99},{64,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,59},{60,74}}</string>
			<key>offset</key>
			<string>{-6,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,99},{60,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,111},{60,72}}</string>
			<key>offset</key>
			<string>{-7,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{91,101},{60,72}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,115},{60,74}}</string>
			<key>offset</key>
			<string>{-6,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,99},{60,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,243},{88,70}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,101},{88,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,245},{86,70}}</string>
			<key>offset</key>
			<string>{-5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,101},{86,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,247},{84,70}}</string>
			<key>offset</key>
			<string>{-5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,101},{84,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,249},{86,70}}</string>
			<key>offset</key>
			<string>{-5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,101},{86,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,57},{100,56}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,108},{100,56}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,1},{100,54}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,109},{100,54}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,1},{100,54}}</string>
			<key>offset</key>
			<string>{-5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,108},{100,54}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,1},{100,54}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,109},{100,54}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,315},{88,72}}</string>
			<key>offset</key>
			<string>{-3,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,99},{88,72}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,253},{88,70}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,101},{88,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,255},{86,70}}</string>
			<key>offset</key>
			<string>{-3,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,100},{86,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,267},{88,70}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,101},{88,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,117},{62,78}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,96},{62,78}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,121},{62,78}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,96},{62,78}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,115},{60,76}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,98},{60,76}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/stand/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,123},{62,78}}</string>
			<key>offset</key>
			<string>{-4,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,96},{62,78}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,123},{62,72}}</string>
			<key>offset</key>
			<string>{-11,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,101},{62,72}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,57},{58,72}}</string>
			<key>offset</key>
			<string>{-9,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{90,100},{58,72}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,171},{62,72}}</string>
			<key>offset</key>
			<string>{-5,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,101},{62,72}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,173},{62,74}}</string>
			<key>offset</key>
			<string>{-8,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,98},{62,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,237},{84,68}}</string>
			<key>offset</key>
			<string>{-6,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,101},{84,68}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,307},{84,70}}</string>
			<key>offset</key>
			<string>{-6,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,99},{84,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,311},{84,70}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,101},{84,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,313},{86,70}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,99},{86,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,57},{98,56}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,105},{98,56}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,57},{100,56}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,105},{100,56}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,57},{100,56}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,108},{100,56}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,111},{100,58}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,105},{100,58}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,241},{88,68}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,101},{88,68}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,317},{90,72}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,97},{90,72}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,243},{84,68}}</string>
			<key>offset</key>
			<string>{-5,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,102},{84,68}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,319},{90,74}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,96},{90,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,179},{64,76}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{97,98},{64,76}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,115},{60,80}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,94},{60,80}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,115},{60,76}}</string>
			<key>offset</key>
			<string>{-6,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,98},{60,76}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20046/walk/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,177},{62,80}}</string>
			<key>offset</key>
			<string>{-3,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,95},{62,80}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>m_20046@0.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9b24b49b3bb333660fa07a95b362349f:39fe69d49629ae4306e03ffd5dc33841:bdafcb064c8e7f491e571362cb4d1dd4$</string>
		<key>textureFileName</key>
		<string>m_20046@0.png</string>
	</dict>
</dict>
</plist>
