<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>20111/attack/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,1},{84,94}}</string>
			<key>offset</key>
			<string>{-4,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,59},{84,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,1},{82,96}}</string>
			<key>offset</key>
			<string>{-9,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,58},{82,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,235},{66,90}}</string>
			<key>offset</key>
			<string>{-8,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,64},{66,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,91},{74,94}}</string>
			<key>offset</key>
			<string>{-11,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,59},{74,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,1},{86,90}}</string>
			<key>offset</key>
			<string>{15,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{91,62},{86,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,233},{90,102}}</string>
			<key>offset</key>
			<string>{-19,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,54},{90,102}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,175},{80,88}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,65},{80,88}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,235},{88,90}}</string>
			<key>offset</key>
			<string>{14,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,62},{88,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,179},{84,86}}</string>
			<key>offset</key>
			<string>{8,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,67},{84,86}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,123},{120,108}}</string>
			<key>offset</key>
			<string>{-11,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,43},{120,108}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,1},{112,80}}</string>
			<key>offset</key>
			<string>{23,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,72},{112,80}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,1},{94,86}}</string>
			<key>offset</key>
			<string>{15,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,65},{94,86}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,85},{84,92}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{83,73},{84,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{122,120}}</string>
			<key>offset</key>
			<string>{-11,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,32},{122,120}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,337},{108,80}}</string>
			<key>offset</key>
			<string>{22,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,80},{108,80}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,1},{84,96}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,71},{84,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,85},{88,88}}</string>
			<key>offset</key>
			<string>{-17,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,72},{88,88}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1},{88,134}}</string>
			<key>offset</key>
			<string>{-16,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,26},{88,134}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,349},{70,94}}</string>
			<key>offset</key>
			<string>{3,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,85},{70,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/attack/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,99},{74,96}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,73},{74,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/death/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,1},{82,102}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,69},{82,102}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/death/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,267},{80,84}}</string>
			<key>offset</key>
			<string>{8,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,81},{80,84}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/death/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,403},{66,76}}</string>
			<key>offset</key>
			<string>{-11,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,90},{66,76}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/death/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,265},{84,62}}</string>
			<key>offset</key>
			<string>{-16,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,102},{84,62}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,337},{70,96}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,63},{70,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,91},{70,98}}</string>
			<key>offset</key>
			<string>{-8,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,61},{70,98}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,163},{70,98}}</string>
			<key>offset</key>
			<string>{-8,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,61},{70,98}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,175},{70,96}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,63},{70,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,89},{82,92}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{78,62},{82,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,327},{82,92}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,62},{82,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,327},{82,92}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,62},{82,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,173},{82,92}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{78,62},{82,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,173},{86,88}}</string>
			<key>offset</key>
			<string>{-3,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,64},{86,88}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,87},{86,90}}</string>
			<key>offset</key>
			<string>{-4,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72,62},{86,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,421},{84,90}}</string>
			<key>offset</key>
			<string>{-4,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,62},{84,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,87},{86,90}}</string>
			<key>offset</key>
			<string>{-4,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72,62},{86,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,447},{64,96}}</string>
			<key>offset</key>
			<string>{-10,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,64},{64,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,1},{64,96}}</string>
			<key>offset</key>
			<string>{-10,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,64},{64,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,349},{64,94}}</string>
			<key>offset</key>
			<string>{-10,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,65},{64,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,247},{64,96}}</string>
			<key>offset</key>
			<string>{-10,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,64},{64,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,329},{70,94}}</string>
			<key>offset</key>
			<string>{-8,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,65},{70,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,261},{70,94}}</string>
			<key>offset</key>
			<string>{-8,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,65},{70,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,259},{70,94}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,64},{70,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/stand/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,331},{70,94}}</string>
			<key>offset</key>
			<string>{-8,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,65},{70,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,333},{70,94}}</string>
			<key>offset</key>
			<string>{-6,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{78,64},{70,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,247},{68,96}}</string>
			<key>offset</key>
			<string>{-8,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,62},{68,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,423},{68,94}}</string>
			<key>offset</key>
			<string>{-9,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,64},{68,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,175},{70,96}}</string>
			<key>offset</key>
			<string>{-7,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,62},{70,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,181},{72,92}}</string>
			<key>offset</key>
			<string>{-3,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,64},{72,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,313},{72,94}}</string>
			<key>offset</key>
			<string>{-5,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,62},{72,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,89},{82,94}}</string>
			<key>offset</key>
			<string>{-2,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,62},{82,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,329},{74,92}}</string>
			<key>offset</key>
			<string>{-2,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,62},{74,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,421},{68,90}}</string>
			<key>offset</key>
			<string>{-7,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,63},{68,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,423},{68,88}}</string>
			<key>offset</key>
			<string>{-7,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,63},{68,88}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,175},{82,88}}</string>
			<key>offset</key>
			<string>{0,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{78,63},{82,88}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,435},{76,90}}</string>
			<key>offset</key>
			<string>{-5,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,62},{76,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,317},{78,92}}</string>
			<key>offset</key>
			<string>{-6,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,65},{78,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,421},{70,90}}</string>
			<key>offset</key>
			<string>{-10,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,64},{70,90}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,445},{66,94}}</string>
			<key>offset</key>
			<string>{-7,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,64},{66,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,405},{68,94}}</string>
			<key>offset</key>
			<string>{-9,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,63},{68,94}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,257},{70,88}}</string>
			<key>offset</key>
			<string>{-8,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,65},{70,88}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,423},{70,88}}</string>
			<key>offset</key>
			<string>{-8,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,64},{70,88}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,83},{72,96}}</string>
			<key>offset</key>
			<string>{-6,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,64},{72,96}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>20111/walk/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,401},{72,92}}</string>
			<key>offset</key>
			<string>{-8,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,64},{72,92}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>m_20111@0.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9ea280dd3f1b750079a178eeb00c0f92:e2c5987de2b7add03b17288d0d232929:5d844986cd90d7ac8e79606f8a0ac44c$</string>
		<key>textureFileName</key>
		<string>m_20111@0.png</string>
	</dict>
</dict>
</plist>
