<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>20082/attack/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,295},{126,130}}</string>
			<key>offset</key>
			<string>{-31,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{162,171},{126,130}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,1},{108,146}}</string>
			<key>offset</key>
			<string>{-25,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{177,171},{108,146}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,577},{104,108}}</string>
			<key>offset</key>
			<string>{-17,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{187,186},{104,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,779},{102,110}}</string>
			<key>offset</key>
			<string>{-16,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{189,184},{102,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,683},{102,124}}</string>
			<key>offset</key>
			<string>{-17,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{188,170},{102,124}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,625},{114,140}}</string>
			<key>offset</key>
			<string>{-1,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{198,154},{114,140}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,1},{104,146}}</string>
			<key>offset</key>
			<string>{-31,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{173,155},{104,146}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,111},{124,130}}</string>
			<key>offset</key>
			<string>{-28,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{166,175},{124,130}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,1},{152,108}}</string>
			<key>offset</key>
			<string>{4,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{184,187},{152,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,561},{124,108}}</string>
			<key>offset</key>
			<string>{4,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{198,187},{124,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/10004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,481},{142,118}}</string>
			<key>offset</key>
			<string>{25,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{210,178},{142,118}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/10005.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,687},{108,122}}</string>
			<key>offset</key>
			<string>{4,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{206,176},{108,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{124,148}}</string>
			<key>offset</key>
			<string>{-33,35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{161,147},{124,148}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,1},{150,112}}</string>
			<key>offset</key>
			<string>{-39,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{142,181},{150,112}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,151},{170,98}}</string>
			<key>offset</key>
			<string>{35,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{206,199},{170,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,323},{156,98}}</string>
			<key>offset</key>
			<string>{43,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{221,199},{156,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/20004.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,481},{138,110}}</string>
			<key>offset</key>
			<string>{34,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{221,186},{138,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/20005.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,433},{84,126}}</string>
			<key>offset</key>
			<string>{-8,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{206,176},{84,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,1},{126,144}}</string>
			<key>offset</key>
			<string>{-33,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{160,147},{126,144}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,229},{130,126}}</string>
			<key>offset</key>
			<string>{-24,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{167,170},{130,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,357},{130,122}}</string>
			<key>offset</key>
			<string>{26,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{217,197},{130,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,193},{140,100}}</string>
			<key>offset</key>
			<string>{36,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{222,213},{140,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/30004.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,235},{96,132}}</string>
			<key>offset</key>
			<string>{5,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{213,193},{96,132}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/30005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,909},{114,130}}</string>
			<key>offset</key>
			<string>{-15,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{184,173},{114,130}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,1},{114,142}}</string>
			<key>offset</key>
			<string>{-9,34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{190,151},{114,142}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,767},{114,140}}</string>
			<key>offset</key>
			<string>{-7,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{192,158},{114,140}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,891},{86,132}}</string>
			<key>offset</key>
			<string>{0,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{213,207},{86,132}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,243},{90,118}}</string>
			<key>offset</key>
			<string>{4,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{215,223},{90,118}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/40004.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,111},{106,134}}</string>
			<key>offset</key>
			<string>{-6,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{197,195},{106,134}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/attack/40005.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,427},{132,122}}</string>
			<key>offset</key>
			<string>{-37,24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{153,171},{132,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/death/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,891},{98,126}}</string>
			<key>offset</key>
			<string>{-5,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{202,172},{98,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/death/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,925},{98,100}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{204,206},{98,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/death/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,917},{86,60}}</string>
			<key>offset</key>
			<string>{-1,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{212,249},{86,60}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/death/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,333},{92,58}}</string>
			<key>offset</key>
			<string>{-4,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{206,250},{92,58}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,685},{92,116}}</string>
			<key>offset</key>
			<string>{-4,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{206,171},{92,116}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,685},{92,114}}</string>
			<key>offset</key>
			<string>{-3,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{207,173},{92,114}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,685},{92,114}}</string>
			<key>offset</key>
			<string>{-3,26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,173},{92,114}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,801},{92,114}}</string>
			<key>offset</key>
			<string>{-4,26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{206,173},{92,114}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,431},{110,124}}</string>
			<key>offset</key>
			<string>{4,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,172},{110,124}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,247},{112,122}}</string>
			<key>offset</key>
			<string>{5,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,174},{112,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,453},{112,122}}</string>
			<key>offset</key>
			<string>{5,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,174},{112,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,779},{110,122}}</string>
			<key>offset</key>
			<string>{5,21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{206,174},{110,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,329},{98,126}}</string>
			<key>offset</key>
			<string>{5,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{212,173},{98,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,433},{102,126}}</string>
			<key>offset</key>
			<string>{5,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{210,174},{102,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,557},{104,126}}</string>
			<key>offset</key>
			<string>{5,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{209,174},{104,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,797},{102,126}}</string>
			<key>offset</key>
			<string>{5,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{210,174},{102,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,765},{78,136}}</string>
			<key>offset</key>
			<string>{-12,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,174},{78,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,561},{76,136}}</string>
			<key>offset</key>
			<string>{-11,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,174},{76,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,561},{74,136}}</string>
			<key>offset</key>
			<string>{-13,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{206,174},{74,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,295},{74,136}}</string>
			<key>offset</key>
			<string>{-13,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{206,174},{74,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,891},{80,132}}</string>
			<key>offset</key>
			<string>{-17,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{199,175},{80,132}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,699},{78,134}}</string>
			<key>offset</key>
			<string>{-17,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{200,174},{78,134}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,809},{78,136}}</string>
			<key>offset</key>
			<string>{-18,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{199,172},{78,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/stand/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,371},{80,134}}</string>
			<key>offset</key>
			<string>{-18,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{198,174},{80,134}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,561},{92,122}}</string>
			<key>offset</key>
			<string>{-5,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,171},{92,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,335},{94,122}}</string>
			<key>offset</key>
			<string>{-5,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{204,167},{94,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,453},{88,122}}</string>
			<key>offset</key>
			<string>{-6,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{206,171},{88,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,903},{90,120}}</string>
			<key>offset</key>
			<string>{-7,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{204,169},{90,120}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,889},{108,124}}</string>
			<key>offset</key>
			<string>{5,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,171},{108,124}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,637},{120,126}}</string>
			<key>offset</key>
			<string>{9,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,169},{120,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,891},{112,126}}</string>
			<key>offset</key>
			<string>{2,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{202,172},{112,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,333},{98,126}}</string>
			<key>offset</key>
			<string>{1,22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{208,171},{98,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,433},{108,124}}</string>
			<key>offset</key>
			<string>{0,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{202,175},{108,124}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,577},{106,126}}</string>
			<key>offset</key>
			<string>{11,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{214,173},{106,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,107},{130,122}}</string>
			<key>offset</key>
			<string>{19,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{210,176},{130,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,765},{116,124}}</string>
			<key>offset</key>
			<string>{18,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,174},{116,124}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,231},{96,130}}</string>
			<key>offset</key>
			<string>{-10,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{198,178},{96,130}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,625},{78,138}}</string>
			<key>offset</key>
			<string>{-12,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,175},{78,138}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{841,117},{116,128}}</string>
			<key>offset</key>
			<string>{5,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{203,178},{116,128}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,779},{110,126}}</string>
			<key>offset</key>
			<string>{3,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{204,176},{110,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,147},{80,126}}</string>
			<key>offset</key>
			<string>{-15,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{201,179},{80,126}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,891},{84,132}}</string>
			<key>offset</key>
			<string>{-15,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{199,178},{84,132}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,115},{76,140}}</string>
			<key>offset</key>
			<string>{-15,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{203,179},{76,140}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20082/walk/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,115},{76,138}}</string>
			<key>offset</key>
			<string>{-14,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{204,177},{76,138}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>m_20082@0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1a027e96f9d5e810a92e7f6a27b55b84:1edb4368f783577516220f1ef82a63b5:7b5574fb1bdf8ee51e8b1cd2935988ca$</string>
		<key>textureFileName</key>
		<string>m_20082@0.png</string>
	</dict>
</dict>
</plist>
