<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>20066/attack/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,77},{72,88}}</string>
			<key>offset</key>
			<string>{-12,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,66},{72,88}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,1},{64,92}}</string>
			<key>offset</key>
			<string>{-10,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,62},{64,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,265},{74,90}}</string>
			<key>offset</key>
			<string>{-6,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,64},{74,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,355},{90,96}}</string>
			<key>offset</key>
			<string>{-6,22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,58},{90,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,347},{76,94}}</string>
			<key>offset</key>
			<string>{-11,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,61},{76,94}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,201},{72,90}}</string>
			<key>offset</key>
			<string>{-5,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,65},{72,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,1},{64,90}}</string>
			<key>offset</key>
			<string>{9,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{105,65},{64,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,381},{90,104}}</string>
			<key>offset</key>
			<string>{-9,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,58},{90,104}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,347},{78,98}}</string>
			<key>offset</key>
			<string>{-12,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,59},{78,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,355},{82,90}}</string>
			<key>offset</key>
			<string>{-2,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,67},{82,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,1},{62,88}}</string>
			<key>offset</key>
			<string>{17,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{114,74},{62,88}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,275},{74,98}}</string>
			<key>offset</key>
			<string>{-4,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,65},{74,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,279},{74,100}}</string>
			<key>offset</key>
			<string>{-12,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,59},{74,100}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,339},{74,92}}</string>
			<key>offset</key>
			<string>{-6,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,68},{74,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,1},{60,82}}</string>
			<key>offset</key>
			<string>{8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{106,86},{60,82}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,205},{84,84}}</string>
			<key>offset</key>
			<string>{-9,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,76},{84,84}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,343},{74,98}}</string>
			<key>offset</key>
			<string>{-13,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{78,61},{74,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,61},{64,96}}</string>
			<key>offset</key>
			<string>{-10,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,67},{64,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,1},{74,74}}</string>
			<key>offset</key>
			<string>{-7,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,92},{74,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/attack/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,291},{88,82}}</string>
			<key>offset</key>
			<string>{-10,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,77},{88,82}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/death/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,205},{72,92}}</string>
			<key>offset</key>
			<string>{-1,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{91,74},{72,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/death/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,381},{106,110}}</string>
			<key>offset</key>
			<string>{-32,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,44},{106,110}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/death/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,197},{104,70}}</string>
			<key>offset</key>
			<string>{-23,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,90},{104,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/death/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{108,58}}</string>
			<key>offset</key>
			<string>{-18,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,105},{108,58}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,167},{72,88}}</string>
			<key>offset</key>
			<string>{-6,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,65},{72,88}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,205},{72,88}}</string>
			<key>offset</key>
			<string>{-6,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,65},{72,88}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,257},{74,88}}</string>
			<key>offset</key>
			<string>{-7,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{84,65},{74,88}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,279},{74,88}}</string>
			<key>offset</key>
			<string>{-7,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,65},{74,88}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,61},{64,92}}</string>
			<key>offset</key>
			<string>{-12,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,66},{64,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,1},{62,92}}</string>
			<key>offset</key>
			<string>{-13,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,66},{62,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,61},{64,92}}</string>
			<key>offset</key>
			<string>{-11,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,65},{64,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,65},{66,90}}</string>
			<key>offset</key>
			<string>{-10,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,65},{66,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,65},{66,94}}</string>
			<key>offset</key>
			<string>{-16,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,65},{66,94}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,65},{66,94}}</string>
			<key>offset</key>
			<string>{-16,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,65},{66,94}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,67},{66,96}}</string>
			<key>offset</key>
			<string>{-16,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,64},{66,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,127},{66,96}}</string>
			<key>offset</key>
			<string>{-16,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,64},{66,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,135},{68,92}}</string>
			<key>offset</key>
			<string>{-10,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,65},{68,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,135},{68,92}}</string>
			<key>offset</key>
			<string>{-11,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,65},{68,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,201},{70,92}}</string>
			<key>offset</key>
			<string>{-10,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,65},{70,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,265},{72,94}}</string>
			<key>offset</key>
			<string>{-9,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,63},{72,94}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,269},{72,92}}</string>
			<key>offset</key>
			<string>{-7,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,62},{72,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,273},{72,92}}</string>
			<key>offset</key>
			<string>{-7,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,62},{72,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,273},{72,92}}</string>
			<key>offset</key>
			<string>{-7,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,62},{72,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/stand/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,201},{70,92}}</string>
			<key>offset</key>
			<string>{-8,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,62},{70,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,201},{70,102}}</string>
			<key>offset</key>
			<string>{-4,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,60},{70,102}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,195},{68,96}}</string>
			<key>offset</key>
			<string>{-8,21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,59},{68,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,127},{66,102}}</string>
			<key>offset</key>
			<string>{-11,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,60},{66,102}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,273},{72,96}}</string>
			<key>offset</key>
			<string>{-6,21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,59},{72,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,1},{62,96}}</string>
			<key>offset</key>
			<string>{-5,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,65},{62,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,63},{64,94}}</string>
			<key>offset</key>
			<string>{-3,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,61},{64,94}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,347},{76,98}}</string>
			<key>offset</key>
			<string>{-6,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,62},{76,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,1},{58,96}}</string>
			<key>offset</key>
			<string>{-5,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,62},{58,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,65},{66,92}}</string>
			<key>offset</key>
			<string>{-3,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,68},{66,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,129},{66,90}}</string>
			<key>offset</key>
			<string>{-3,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,68},{66,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,133},{66,90}}</string>
			<key>offset</key>
			<string>{-2,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,67},{66,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,133},{66,92}}</string>
			<key>offset</key>
			<string>{-3,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,68},{66,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,351},{78,90}}</string>
			<key>offset</key>
			<string>{-7,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,70},{78,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,1},{58,92}}</string>
			<key>offset</key>
			<string>{-6,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,68},{58,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,1},{62,92}}</string>
			<key>offset</key>
			<string>{-5,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{92,70},{62,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,133},{66,90}}</string>
			<key>offset</key>
			<string>{-4,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{91,68},{66,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,133},{66,92}}</string>
			<key>offset</key>
			<string>{-12,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,70},{66,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,67},{66,88}}</string>
			<key>offset</key>
			<string>{-9,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,69},{66,88}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,133},{66,92}}</string>
			<key>offset</key>
			<string>{-6,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,70},{66,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20066/walk/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,195},{68,88}}</string>
			<key>offset</key>
			<string>{-9,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,69},{68,88}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>m_20066@0.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b99c4e6dd79c24e0689c8f4d69b6cc0b:810563a6c284468caa5a78081422451c:fa5b5ffc287ef31ccb146dfe14bb5395$</string>
		<key>textureFileName</key>
		<string>m_20066@0.png</string>
	</dict>
</dict>
</plist>
