<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>20085/attack/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1007,491},{128,182}}</string>
			<key>offset</key>
			<string>{-12,22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,143},{128,182}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,485},{124,174}}</string>
			<key>offset</key>
			<string>{-15,21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,148},{124,174}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,243},{122,166}}</string>
			<key>offset</key>
			<string>{-17,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{178,153},{122,166}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,745},{134,172}}</string>
			<key>offset</key>
			<string>{-12,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{177,150},{134,172}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1191,491},{128,168}}</string>
			<key>offset</key>
			<string>{-13,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,158},{128,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,743},{132,180}}</string>
			<key>offset</key>
			<string>{-9,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{181,146},{132,180}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1313},{158,168}}</string>
			<key>offset</key>
			<string>{-10,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{167,143},{158,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,889},{140,160}}</string>
			<key>offset</key>
			<string>{-18,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{168,148},{140,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,879},{136,156}}</string>
			<key>offset</key>
			<string>{-24,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{164,151},{136,156}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1201,1033},{152,150}}</string>
			<key>offset</key>
			<string>{-16,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{164,158},{152,150}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/10004.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,1023},{152,148}}</string>
			<key>offset</key>
			<string>{-18,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{162,164},{152,148}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/10005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1335,889},{142,162}}</string>
			<key>offset</key>
			<string>{-22,25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{163,150},{142,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,1337},{166,164}}</string>
			<key>offset</key>
			<string>{-32,35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{141,139},{166,164}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,1341},{170,164}}</string>
			<key>offset</key>
			<string>{-27,38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{144,136},{170,164}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,1319},{164,158}}</string>
			<key>offset</key>
			<string>{-29,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{145,140},{164,158}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,889},{200,136}}</string>
			<key>offset</key>
			<string>{-18,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{138,169},{200,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/20004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1181,621},{198,130}}</string>
			<key>offset</key>
			<string>{-20,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{137,173},{198,130}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/20005.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,1165},{186,152}}</string>
			<key>offset</key>
			<string>{-25,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{138,155},{186,152}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,1019},{144,170}}</string>
			<key>offset</key>
			<string>{-15,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{169,142},{144,170}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,1027},{148,174}}</string>
			<key>offset</key>
			<string>{-13,40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{169,129},{148,174}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1161},{150,170}}</string>
			<key>offset</key>
			<string>{-17,42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{164,129},{150,170}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1361,491},{150,128}}</string>
			<key>offset</key>
			<string>{-14,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{167,178},{150,128}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/30004.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,117},{150,120}}</string>
			<key>offset</key>
			<string>{-15,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{166,185},{150,120}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/30005.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,877},{140,136}}</string>
			<key>offset</key>
			<string>{-18,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{168,165},{140,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,611},{128,156}}</string>
			<key>offset</key>
			<string>{-16,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{176,146},{128,156}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1163,243},{122,176}}</string>
			<key>offset</key>
			<string>{-16,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,129},{122,176}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,119},{120,174}}</string>
			<key>offset</key>
			<string>{-15,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{181,128},{120,174}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,743},{134,150}}</string>
			<key>offset</key>
			<string>{-8,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{181,167},{134,150}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/40004.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,487},{126,144}}</string>
			<key>offset</key>
			<string>{-5,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{188,172},{126,144}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/attack/40005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,741},{132,136}}</string>
			<key>offset</key>
			<string>{-7,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{183,173},{132,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/death/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,621},{130,190}}</string>
			<key>offset</key>
			<string>{-26,49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{165,112},{130,190}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/death/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,1017},{142,196}}</string>
			<key>offset</key>
			<string>{-32,52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{153,106},{142,196}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/death/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1063,1185},{154,204}}</string>
			<key>offset</key>
			<string>{-36,56}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{143,98},{154,204}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/death/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,1177},{152,190}}</string>
			<key>offset</key>
			<string>{-37,55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{143,106},{152,190}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,613},{128,168}}</string>
			<key>offset</key>
			<string>{-10,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{182,153},{128,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,613},{128,168}}</string>
			<key>offset</key>
			<string>{-10,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{182,153},{128,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,491},{126,168}}</string>
			<key>offset</key>
			<string>{-10,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{183,153},{126,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,619},{128,168}}</string>
			<key>offset</key>
			<string>{-10,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{182,153},{128,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,243},{122,160}}</string>
			<key>offset</key>
			<string>{-14,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{181,150},{122,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,619},{130,158}}</string>
			<key>offset</key>
			<string>{-18,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{173,150},{130,158}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,749},{134,158}}</string>
			<key>offset</key>
			<string>{-21,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{168,148},{134,158}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,615},{128,158}}</string>
			<key>offset</key>
			<string>{-17,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{175,150},{128,158}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,751},{134,162}}</string>
			<key>offset</key>
			<string>{-35,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{154,143},{134,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,753},{134,162}}</string>
			<key>offset</key>
			<string>{-36,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{153,143},{134,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,881},{136,162}}</string>
			<key>offset</key>
			<string>{-37,33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{151,142},{136,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1135,753},{134,162}}</string>
			<key>offset</key>
			<string>{-36,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{153,143},{134,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,119},{120,160}}</string>
			<key>offset</key>
			<string>{-21,35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{175,141},{120,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,1},{118,160}}</string>
			<key>offset</key>
			<string>{-19,35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{178,141},{118,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1163,1},{118,160}}</string>
			<key>offset</key>
			<string>{-19,35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{178,141},{118,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,1},{116,160}}</string>
			<key>offset</key>
			<string>{-18,35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,141},{116,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1325,1},{118,146}}</string>
			<key>offset</key>
			<string>{-12,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{185,144},{118,146}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,119},{120,146}}</string>
			<key>offset</key>
			<string>{-13,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{183,144},{120,146}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,119},{120,146}}</string>
			<key>offset</key>
			<string>{-12,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{184,144},{120,146}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/stand/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,121},{120,146}}</string>
			<key>offset</key>
			<string>{-13,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{183,144},{120,146}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,361},{122,178}}</string>
			<key>offset</key>
			<string>{-16,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,144},{122,178}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,363},{122,182}}</string>
			<key>offset</key>
			<string>{-16,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,139},{122,182}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,363},{122,186}}</string>
			<key>offset</key>
			<string>{-15,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,135},{122,186}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,363},{122,184}}</string>
			<key>offset</key>
			<string>{-14,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{181,138},{122,184}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1091,121},{120,178}}</string>
			<key>offset</key>
			<string>{-14,24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{182,143},{120,178}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1271,121},{120,180}}</string>
			<key>offset</key>
			<string>{-16,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,140},{120,180}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,239},{120,184}}</string>
			<key>offset</key>
			<string>{-18,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{178,136},{120,184}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,367},{122,184}}</string>
			<key>offset</key>
			<string>{-17,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{178,138},{122,184}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,491},{126,172}}</string>
			<key>offset</key>
			<string>{-17,30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{176,140},{126,172}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,367},{122,178}}</string>
			<key>offset</key>
			<string>{-20,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{175,135},{122,178}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,1},{116,182}}</string>
			<key>offset</key>
			<string>{-24,34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{174,131},{116,182}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1299,753},{134,172}}</string>
			<key>offset</key>
			<string>{-26,34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{163,136},{134,172}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/10004.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,1031},{148,164}}</string>
			<key>offset</key>
			<string>{-26,36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{156,138},{148,164}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/10005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033,1031},{148,166}}</string>
			<key>offset</key>
			<string>{-31,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{151,135},{148,166}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/10006.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,885},{136,168}}</string>
			<key>offset</key>
			<string>{-34,42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{154,130},{136,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/10007.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,487},{124,174}}</string>
			<key>offset</key>
			<string>{-30,35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{164,134},{124,174}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1355,1033},{156,164}}</string>
			<key>offset</key>
			<string>{-34,38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{144,136},{156,164}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1269,1199},{156,168}}</string>
			<key>offset</key>
			<string>{-37,40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{141,132},{156,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1313},{156,168}}</string>
			<key>offset</key>
			<string>{-37,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{141,131},{156,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,1331},{158,164}}</string>
			<key>offset</key>
			<string>{-37,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{140,135},{158,164}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/20004.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,1337},{158,162}}</string>
			<key>offset</key>
			<string>{-35,37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{142,138},{158,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/20005.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,1181},{154,166}}</string>
			<key>offset</key>
			<string>{-35,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{144,132},{154,166}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/20006.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,1161},{150,170}}</string>
			<key>offset</key>
			<string>{-35,43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{146,128},{150,170}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/20007.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,1181},{154,168}}</string>
			<key>offset</key>
			<string>{-37,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{142,131},{154,168}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1013},{142,164}}</string>
			<key>offset</key>
			<string>{-23,35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{162,139},{142,164}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1167,889},{140,166}}</string>
			<key>offset</key>
			<string>{-27,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{159,135},{140,166}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,877},{134,166}}</string>
			<key>offset</key>
			<string>{-30,42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{159,131},{134,166}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,241},{120,162}}</string>
			<key>offset</key>
			<string>{-27,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{169,136},{120,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/30004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1341,243},{122,162}}</string>
			<key>offset</key>
			<string>{-15,35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,140},{122,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/30005.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,1},{114,164}}</string>
			<key>offset</key>
			<string>{-13,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{186,135},{114,164}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/30006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{110,164}}</string>
			<key>offset</key>
			<string>{-22,44}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,130},{110,164}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/30007.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,487},{124,162}}</string>
			<key>offset</key>
			<string>{-24,43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{170,132},{124,162}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,241},{120,158}}</string>
			<key>offset</key>
			<string>{-13,33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{183,144},{120,158}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1105,367},{122,160}}</string>
			<key>offset</key>
			<string>{-16,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,138},{122,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,241},{120,160}}</string>
			<key>offset</key>
			<string>{-19,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{177,135},{120,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,113},{118,154}}</string>
			<key>offset</key>
			<string>{-17,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,141},{118,154}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/40004.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,1},{116,158}}</string>
			<key>offset</key>
			<string>{-18,33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,144},{116,158}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/40005.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,1},{116,160}}</string>
			<key>offset</key>
			<string>{-16,36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{182,140},{116,160}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/40006.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,241},{120,158}}</string>
			<key>offset</key>
			<string>{-16,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{180,136},{120,158}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20085/walk/40007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1267,367},{122,156}}</string>
			<key>offset</key>
			<string>{-14,40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{181,138},{122,156}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>m_20085@0.png</string>
		<key>size</key>
		<string>{1512,1512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:53cef54e835749b6c9c7865ae9e3a7db:9b8c2c4ed8f2e7dd882d2619e0b28c3b:e04d7a718a25e58c0f3e780ab84fbe5f$</string>
		<key>textureFileName</key>
		<string>m_20085@0.png</string>
	</dict>
</dict>
</plist>
