<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>20081/attack/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,513},{84,106}}</string>
			<key>offset</key>
			<string>{0,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{214,185},{84,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,551},{68,116}}</string>
			<key>offset</key>
			<string>{-6,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,186},{68,116}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,709},{86,108}}</string>
			<key>offset</key>
			<string>{-25,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{188,186},{86,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,417},{98,108}}</string>
			<key>offset</key>
			<string>{-35,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{172,183},{98,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,239},{66,92}}</string>
			<key>offset</key>
			<string>{-19,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{204,195},{66,92}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,189},{104,98}}</string>
			<key>offset</key>
			<string>{-4,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{200,188},{104,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,125},{78,110}}</string>
			<key>offset</key>
			<string>{-9,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{208,191},{78,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,709},{86,110}}</string>
			<key>offset</key>
			<string>{-11,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{202,194},{86,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,135},{104,114}}</string>
			<key>offset</key>
			<string>{-33,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{171,180},{104,114}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,1},{104,112}}</string>
			<key>offset</key>
			<string>{-32,24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{172,176},{104,112}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/10004.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,419},{106,92}}</string>
			<key>offset</key>
			<string>{7,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{210,197},{106,92}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/10005.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,89},{122,98}}</string>
			<key>offset</key>
			<string>{29,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{224,191},{122,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,307},{106,108}}</string>
			<key>offset</key>
			<string>{-25,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{178,190},{106,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,107},{114,102}}</string>
			<key>offset</key>
			<string>{-26,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{173,188},{114,102}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1},{118,124}}</string>
			<key>offset</key>
			<string>{-18,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{179,164},{118,124}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,1},{114,124}}</string>
			<key>offset</key>
			<string>{-18,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{181,162},{114,124}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/20004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,691},{130,76}}</string>
			<key>offset</key>
			<string>{37,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{228,211},{130,76}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/20005.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,411},{96,100}}</string>
			<key>offset</key>
			<string>{32,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{240,202},{96,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,1},{118,114}}</string>
			<key>offset</key>
			<string>{-35,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{162,176},{118,114}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,1},{118,122}}</string>
			<key>offset</key>
			<string>{-32,26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{165,169},{118,122}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{122,132}}</string>
			<key>offset</key>
			<string>{-12,34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{183,156},{122,132}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,279},{104,136}}</string>
			<key>offset</key>
			<string>{1,34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{205,154},{104,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/30004.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,215},{106,94}}</string>
			<key>offset</key>
			<string>{33,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{236,216},{106,94}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/30005.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,307},{70,110}}</string>
			<key>offset</key>
			<string>{15,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{236,213},{70,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,417},{100,132}}</string>
			<key>offset</key>
			<string>{-34,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{172,158},{100,132}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,1},{86,136}}</string>
			<key>offset</key>
			<string>{-27,33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{186,155},{86,136}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,551},{84,138}}</string>
			<key>offset</key>
			<string>{-11,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,159},{84,138}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,135},{108,142}}</string>
			<key>offset</key>
			<string>{1,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,157},{108,142}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/40004.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,251},{54,106}}</string>
			<key>offset</key>
			<string>{3,-21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{232,224},{54,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/attack/40005.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,117},{106,98}}</string>
			<key>offset</key>
			<string>{-15,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{188,220},{106,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/death/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,237},{68,90}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{222,209},{68,90}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/death/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,217},{68,88}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{220,215},{68,88}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/death/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,639},{74,68}}</string>
			<key>offset</key>
			<string>{-3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,237},{74,68}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/death/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,797},{74,46}}</string>
			<key>offset</key>
			<string>{2,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{221,259},{74,46}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,729},{72,100}}</string>
			<key>offset</key>
			<string>{-9,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{211,184},{72,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,615},{72,100}}</string>
			<key>offset</key>
			<string>{-8,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{212,184},{72,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,423},{74,98}}</string>
			<key>offset</key>
			<string>{-10,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{209,186},{74,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,423},{72,98}}</string>
			<key>offset</key>
			<string>{-11,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{209,186},{72,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,399},{84,106}}</string>
			<key>offset</key>
			<string>{-2,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{212,184},{84,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,507},{84,106}}</string>
			<key>offset</key>
			<string>{-1,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{213,185},{84,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,211},{84,104}}</string>
			<key>offset</key>
			<string>{-2,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{212,186},{84,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,395},{84,104}}</string>
			<key>offset</key>
			<string>{-4,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{210,186},{84,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,691},{76,106}}</string>
			<key>offset</key>
			<string>{-2,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,185},{76,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,211},{74,104}}</string>
			<key>offset</key>
			<string>{-1,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{218,187},{74,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,317},{76,104}}</string>
			<key>offset</key>
			<string>{-1,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{217,187},{76,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,621},{76,104}}</string>
			<key>offset</key>
			<string>{-2,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,186},{76,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,527},{70,112}}</string>
			<key>offset</key>
			<string>{-11,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{210,186},{70,112}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,527},{70,112}}</string>
			<key>offset</key>
			<string>{-12,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{209,187},{70,112}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,127},{68,110}}</string>
			<key>offset</key>
			<string>{-11,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{211,188},{68,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,641},{66,110}}</string>
			<key>offset</key>
			<string>{-10,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{213,188},{66,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,311},{74,110}}</string>
			<key>offset</key>
			<string>{-11,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{208,186},{74,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,307},{74,108}}</string>
			<key>offset</key>
			<string>{-12,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,188},{74,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,417},{72,108}}</string>
			<key>offset</key>
			<string>{-11,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{209,189},{72,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/stand/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,527},{72,110}}</string>
			<key>offset</key>
			<string>{-10,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{210,187},{72,110}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,307},{70,108}}</string>
			<key>offset</key>
			<string>{-10,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{211,186},{70,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,709},{70,104}}</string>
			<key>offset</key>
			<string>{-10,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{211,184},{70,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,417},{66,108}}</string>
			<key>offset</key>
			<string>{-11,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{212,186},{66,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,729},{70,106}}</string>
			<key>offset</key>
			<string>{-10,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{211,182},{70,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,717},{70,106}}</string>
			<key>offset</key>
			<string>{0,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{221,187},{70,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,523},{82,102}}</string>
			<key>offset</key>
			<string>{0,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{215,186},{82,102}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,117},{96,106}}</string>
			<key>offset</key>
			<string>{1,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{209,186},{96,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,501},{82,104}}</string>
			<key>offset</key>
			<string>{2,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{217,184},{82,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,523},{74,98}}</string>
			<key>offset</key>
			<string>{-5,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{214,192},{74,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,727},{74,100}}</string>
			<key>offset</key>
			<string>{6,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{225,190},{74,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,311},{100,98}}</string>
			<key>offset</key>
			<string>{11,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{217,190},{100,98}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,615},{78,100}}</string>
			<key>offset</key>
			<string>{7,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{224,190},{78,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,627},{84,100}}</string>
			<key>offset</key>
			<string>{-8,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{206,196},{84,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,317},{62,104}}</string>
			<key>offset</key>
			<string>{-7,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{218,195},{62,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,289},{74,108}}</string>
			<key>offset</key>
			<string>{2,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{221,194},{74,108}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,797},{64,106}}</string>
			<key>offset</key>
			<string>{-8,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{216,194},{64,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,641},{66,100}}</string>
			<key>offset</key>
			<string>{-12,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{211,196},{66,100}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,623},{70,104}}</string>
			<key>offset</key>
			<string>{-10,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{211,196},{70,104}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,527},{66,112}}</string>
			<key>offset</key>
			<string>{-10,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{213,197},{66,112}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
		<key>20081/walk/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,729},{70,106}}</string>
			<key>offset</key>
			<string>{-10,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{211,195},{70,106}}</string>
			<key>sourceSize</key>
			<string>{512,512}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>m_20081@0.png</string>
		<key>size</key>
		<string>{862,862}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0cc707805883fe1311b5d606f98cf798:261f916f6aaf415a416a21e2d4508a6c:12c6d3356746357841dfa2c3d5321a3b$</string>
		<key>textureFileName</key>
		<string>m_20081@0.png</string>
	</dict>
</dict>
</plist>
