<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>20094/attack/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,263},{54,42}}</string>
			<key>offset</key>
			<string>{1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,121},{54,42}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,383},{54,36}}</string>
			<key>offset</key>
			<string>{1,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,129},{54,36}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,101},{48,58}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{104,98},{48,58}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,211},{52,50}}</string>
			<key>offset</key>
			<string>{1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,112},{52,50}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,1},{64,46}}</string>
			<key>offset</key>
			<string>{-8,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,122},{64,46}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,81},{64,40}}</string>
			<key>offset</key>
			<string>{-10,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,128},{64,40}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,63},{62,60}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97,101},{62,60}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,1},{60,54}}</string>
			<key>offset</key>
			<string>{-7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91,113},{60,54}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,123},{56,34}}</string>
			<key>offset</key>
			<string>{-6,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,127},{56,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,367},{52,34}}</string>
			<key>offset</key>
			<string>{-11,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{91,127},{52,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,1},{64,48}}</string>
			<key>offset</key>
			<string>{9,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105,111},{64,48}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,57},{60,42}}</string>
			<key>offset</key>
			<string>{-2,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,119},{60,42}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,85},{62,36}}</string>
			<key>offset</key>
			<string>{-8,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,123},{62,36}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,85},{62,36}}</string>
			<key>offset</key>
			<string>{-9,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,122},{62,36}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,125},{62,42}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{97,118},{62,42}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,87},{60,34}}</string>
			<key>offset</key>
			<string>{-7,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{91,122},{60,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,307},{54,32}}</string>
			<key>offset</key>
			<string>{-1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,124},{54,32}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,181},{54,32}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,122},{54,32}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,309},{48,42}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{104,122},{48,42}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/attack/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,383},{52,36}}</string>
			<key>offset</key>
			<string>{0,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,123},{52,36}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/death/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,45},{64,34}}</string>
			<key>offset</key>
			<string>{-9,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,125},{64,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/death/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,123},{58,50}}</string>
			<key>offset</key>
			<string>{-12,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,101},{58,50}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/death/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{78,60}}</string>
			<key>offset</key>
			<string>{-15,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,94},{78,60}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/death/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,1},{76,42}}</string>
			<key>offset</key>
			<string>{-10,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,116},{76,42}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,215},{58,40}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,123},{58,40}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,341},{58,40}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,123},{58,40}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,341},{58,40}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,123},{58,40}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,305},{58,40}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{98,123},{58,40}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,191},{56,44}}</string>
			<key>offset</key>
			<string>{-4,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,124},{56,44}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,249},{56,44}}</string>
			<key>offset</key>
			<string>{-4,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,124},{56,44}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,261},{56,42}}</string>
			<key>offset</key>
			<string>{-4,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,125},{56,42}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,215},{56,44}}</string>
			<key>offset</key>
			<string>{-4,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,124},{56,44}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,215},{54,34}}</string>
			<key>offset</key>
			<string>{-5,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,127},{54,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,197},{54,34}}</string>
			<key>offset</key>
			<string>{-5,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,127},{54,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,253},{54,34}}</string>
			<key>offset</key>
			<string>{-5,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,127},{54,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,357},{54,34}}</string>
			<key>offset</key>
			<string>{-5,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,127},{54,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,49},{62,34}}</string>
			<key>offset</key>
			<string>{-8,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,125},{62,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,49},{62,34}}</string>
			<key>offset</key>
			<string>{-8,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,125},{62,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,51},{62,34}}</string>
			<key>offset</key>
			<string>{-8,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,125},{62,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,87},{62,34}}</string>
			<key>offset</key>
			<string>{-8,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,125},{62,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,177},{58,32}}</string>
			<key>offset</key>
			<string>{1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,124},{58,32}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,307},{58,32}}</string>
			<key>offset</key>
			<string>{1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,124},{58,32}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,301},{56,30}}</string>
			<key>offset</key>
			<string>{2,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,126},{56,30}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/stand/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,215},{58,32}}</string>
			<key>offset</key>
			<string>{1,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{100,124},{58,32}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,383},{58,36}}</string>
			<key>offset</key>
			<string>{-1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,124},{58,36}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,191},{64,50}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,106},{64,50}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,175},{58,38}}</string>
			<key>offset</key>
			<string>{-1,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,122},{58,38}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,257},{64,50}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,106},{64,50}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,359},{56,40}}</string>
			<key>offset</key>
			<string>{-4,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,124},{56,40}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,123},{62,52}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,110},{62,52}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,257},{56,42}}</string>
			<key>offset</key>
			<string>{-4,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,123},{56,42}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,125},{64,52}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{95,110},{64,52}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,309},{46,34}}</string>
			<key>offset</key>
			<string>{-2,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{103,127},{46,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,309},{50,48}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105,113},{50,48}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,151},{44,36}}</string>
			<key>offset</key>
			<string>{-3,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{103,126},{44,36}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,367},{50,48}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{105,113},{50,48}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,215},{58,34}}</string>
			<key>offset</key>
			<string>{-6,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,125},{58,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,323},{66,46}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,114},{66,46}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,359},{58,34}}</string>
			<key>offset</key>
			<string>{-6,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,125},{58,34}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,1},{66,46}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,114},{66,46}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,275},{58,32}}</string>
			<key>offset</key>
			<string>{1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,124},{58,32}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,123},{62,44}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,115},{62,44}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,333},{58,32}}</string>
			<key>offset</key>
			<string>{1,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,123},{58,32}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20094/walk/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,169},{62,44}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,115},{62,44}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>m_20094@0.png</string>
		<key>size</key>
		<string>{420,420}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0d790038cde1b98bd207152159d4b092:39706db26f9d852629900f3dc85b2478:21ad92a2276a12c12fd307ddf49e62a3$</string>
		<key>textureFileName</key>
		<string>m_20094@0.png</string>
	</dict>
</dict>
</plist>
