<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20038/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,51},{52,86}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,80},{52,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,211},{50,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,88},{50,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,461},{48,68}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,98},{48,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,331},{50,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,80},{50,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,383},{64,82}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,84},{64,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,409},{98,66}}</string>
                <key>offset</key>
                <string>{24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,101},{98,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,205},{98,56}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,111},{98,56}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,383},{68,80}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,86},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,233},{74,70}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,96},{74,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,335},{120,46}}</string>
                <key>offset</key>
                <string>{33,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,120},{120,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,283},{120,46}}</string>
                <key>offset</key>
                <string>{32,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,120},{120,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,445},{74,66}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,100},{74,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,209},{56,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,106},{56,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,335},{90,72}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,117},{90,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,335},{88,72}}</string>
                <key>offset</key>
                <string>{17,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,118},{88,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,271},{54,60}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,110},{54,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,397},{56,62}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,109},{56,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,103},{48,82}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,116},{48,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,105},{48,84}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,116},{48,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,85},{56,62}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,110},{56,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/death/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,379},{80,64}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,101},{80,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/death/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,291},{64,58}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,111},{64,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/death/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1},{82,52}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,113},{82,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/death/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,465},{74,46}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,119},{74,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,331},{50,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,80},{50,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,47},{54,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,80},{54,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,451},{56,90}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,76},{56,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,155},{54,86}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,80},{54,86}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,383},{68,80}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,86},{68,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,263},{66,82}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,85},{66,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,449},{62,84}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,83},{62,84}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,383},{66,82}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,85},{66,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,231},{74,66}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,100},{74,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,309},{76,68}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{76,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,157},{74,72}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,94},{74,72}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,155},{74,68}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,98},{74,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,333},{54,60}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,110},{54,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,273},{58,60}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,107},{58,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,211},{60,60}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,106},{60,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,149},{58,58}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,108},{58,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,335},{58,60}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,112},{58,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,395},{54,60}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,111},{54,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1},{50,60}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,112},{50,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,457},{54,60}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,112},{54,60}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1},{48,124}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,87},{48,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,157},{46,128}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,86},{46,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,53},{50,124}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,87},{50,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,425},{46,126}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,87},{46,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{154,96}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,98},{154,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,157},{138,104}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,95},{138,104}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,297},{124,108}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,95},{124,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1},{140,100}}</string>
                <key>offset</key>
                <string>{-14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,95},{140,100}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,107},{190,48}}</string>
                <key>offset</key>
                <string>{-19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,119},{190,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{196,50}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,117},{196,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,53},{188,52}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,115},{188,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,283},{194,50}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,117},{194,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,423},{132,78}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,103},{132,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,211},{144,70}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,109},{144,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,143},{154,66}}</string>
                <key>offset</key>
                <string>{-21,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,111},{154,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,211},{136,70}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,109},{136,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,105},{50,96}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,93},{50,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,465},{42,98}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,91},{42,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1},{44,94}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,95},{44,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20038/walk/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,157},{44,96}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,93},{44,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_20038@0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa6dfafe6783a7dc01ca498e52cedcf0:9eae760ecb6bd9b70d5882afeca842c1:562e92fab7e667cbf28298323e3b0da8$</string>
            <key>textureFileName</key>
            <string>m_20038@0.png</string>
        </dict>
    </dict>
</plist>
