<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>20113/attack/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,287},{108,96}}</string>
			<key>offset</key>
			<string>{-32,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,65},{108,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,607},{104,86}}</string>
			<key>offset</key>
			<string>{-28,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,79},{104,86}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,721},{54,80}}</string>
			<key>offset</key>
			<string>{-9,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{92,75},{54,80}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,305},{50,112}}</string>
			<key>offset</key>
			<string>{-8,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,50},{50,112}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,247},{102,112}}</string>
			<key>offset</key>
			<string>{-26,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,46},{102,112}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,509},{108,86}}</string>
			<key>offset</key>
			<string>{-32,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,73},{108,86}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,221},{118,82}}</string>
			<key>offset</key>
			<string>{34,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{103,77},{118,82}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,93},{120,98}}</string>
			<key>offset</key>
			<string>{10,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,61},{120,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,193},{90,120}}</string>
			<key>offset</key>
			<string>{-10,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{73,36},{90,120}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,711},{96,96}}</string>
			<key>offset</key>
			<string>{-23,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,62},{96,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{152,70}}</string>
			<key>offset</key>
			<string>{45,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{97,86},{152,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,73},{138,80}}</string>
			<key>offset</key>
			<string>{20,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,75},{138,80}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,1},{86,120}}</string>
			<key>offset</key>
			<string>{-3,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,39},{86,120}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,611},{78,100}}</string>
			<key>offset</key>
			<string>{-16,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,55},{78,100}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,97},{122,94}}</string>
			<key>offset</key>
			<string>{29,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,98},{122,94}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,611},{102,102}}</string>
			<key>offset</key>
			<string>{18,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,75},{102,102}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,505},{100,108}}</string>
			<key>offset</key>
			<string>{2,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,56},{100,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,713},{96,98}}</string>
			<key>offset</key>
			<string>{4,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,62},{96,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,241},{44,114}}</string>
			<key>offset</key>
			<string>{-5,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{101,93},{44,114}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/attack/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,447},{60,110}}</string>
			<key>offset</key>
			<string>{-12,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,77},{60,110}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/death/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,349},{96,112}}</string>
			<key>offset</key>
			<string>{-4,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,49},{96,112}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/death/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,77},{126,70}}</string>
			<key>offset</key>
			<string>{-40,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,86},{126,70}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/death/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,1},{138,74}}</string>
			<key>offset</key>
			<string>{-39,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,85},{138,74}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/death/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,1},{148,58}}</string>
			<key>offset</key>
			<string>{-43,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,101},{148,58}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,521},{66,98}}</string>
			<key>offset</key>
			<string>{-8,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,66},{66,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,621},{66,98}}</string>
			<key>offset</key>
			<string>{-8,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,66},{66,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,611},{66,98}}</string>
			<key>offset</key>
			<string>{-8,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,66},{66,98}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,479},{66,100}}</string>
			<key>offset</key>
			<string>{-8,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,65},{66,100}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,611},{96,96}}</string>
			<key>offset</key>
			<string>{15,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,64},{96,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,709},{96,96}}</string>
			<key>offset</key>
			<string>{16,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,66},{96,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,715},{98,94}}</string>
			<key>offset</key>
			<string>{17,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,66},{98,94}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,709},{96,96}}</string>
			<key>offset</key>
			<string>{15,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,64},{96,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,351},{112,90}}</string>
			<key>offset</key>
			<string>{16,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,66},{112,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,155},{114,90}}</string>
			<key>offset</key>
			<string>{16,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,66},{114,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,155},{114,90}}</string>
			<key>offset</key>
			<string>{16,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,66},{114,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,193},{114,90}}</string>
			<key>offset</key>
			<string>{14,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,66},{114,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,397},{82,108}}</string>
			<key>offset</key>
			<string>{8,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{95,70},{82,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,385},{86,108}}</string>
			<key>offset</key>
			<string>{6,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{91,70},{86,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,473},{80,108}}</string>
			<key>offset</key>
			<string>{9,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{97,70},{80,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,481},{80,108}}</string>
			<key>offset</key>
			<string>{8,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,69},{80,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,409},{64,108}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{88,74},{64,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,475},{64,108}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,74},{64,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,481},{64,108}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,74},{64,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/stand/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,541},{64,108}}</string>
			<key>offset</key>
			<string>{-8,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{88,73},{64,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,555},{64,96}}</string>
			<key>offset</key>
			<string>{-9,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,67},{64,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,375},{68,102}}</string>
			<key>offset</key>
			<string>{-9,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,63},{68,102}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,419},{66,100}}</string>
			<key>offset</key>
			<string>{-9,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,67},{66,100}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,269},{68,104}}</string>
			<key>offset</key>
			<string>{-9,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,63},{68,104}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/10000.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,715},{92,96}}</string>
			<key>offset</key>
			<string>{-1,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{81,65},{92,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/10001.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,247},{112,100}}</string>
			<key>offset</key>
			<string>{6,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,61},{112,100}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/10002.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,285},{110,96}}</string>
			<key>offset</key>
			<string>{-4,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,64},{110,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/10003.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,383},{108,96}}</string>
			<key>offset</key>
			<string>{-5,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,62},{108,96}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/20000.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,149},{120,90}}</string>
			<key>offset</key>
			<string>{-7,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,65},{120,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/20001.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,61},{142,92}}</string>
			<key>offset</key>
			<string>{2,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,64},{142,92}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/20002.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,1},{144,90}}</string>
			<key>offset</key>
			<string>{5,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,65},{144,90}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/20003.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,1},{130,94}}</string>
			<key>offset</key>
			<string>{-5,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,62},{130,94}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/30000.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,611},{100,100}}</string>
			<key>offset</key>
			<string>{-11,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,68},{100,100}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/30001.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,285},{112,110}}</string>
			<key>offset</key>
			<string>{-5,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,66},{112,110}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/30002.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,305},{112,102}}</string>
			<key>offset</key>
			<string>{7,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,67},{112,102}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/30003.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,123},{96,106}}</string>
			<key>offset</key>
			<string>{-4,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,65},{96,106}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/40000.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,611},{60,102}}</string>
			<key>offset</key>
			<string>{-11,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,70},{60,102}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/40001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,443},{60,112}}</string>
			<key>offset</key>
			<string>{-12,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,69},{60,112}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/40002.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,155},{64,112}}</string>
			<key>offset</key>
			<string>{-9,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,70},{64,112}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>20113/walk/40003.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,547},{62,108}}</string>
			<key>offset</key>
			<string>{-12,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,69},{62,108}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>m_20113@0.png</string>
		<key>size</key>
		<string>{810,810}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:862b2c1212d0df0b1c2ee6bf4de7a805:40b75174d69cd7571a8a193d2aadd3f9:59d8cfcb3cc98207b677ea114b7f6cfb$</string>
		<key>textureFileName</key>
		<string>m_20113@0.png</string>
	</dict>
</dict>
</plist>
