<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20036/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,737},{150,124}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{150,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,585},{86,160}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,21},{86,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1},{100,162}}</string>
                <key>offset</key>
                <string>{-23,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,19},{100,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,595},{144,136}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,20},{144,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,435},{86,128}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,33},{86,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,585},{84,130}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,33},{84,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,509},{78,114}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,57},{78,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,881},{112,142}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,37},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,171},{166,138}}</string>
                <key>offset</key>
                <string>{-32,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,30},{166,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{190,128}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,34},{190,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,591},{116,130}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,38},{116,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,153},{148,124}}</string>
                <key>offset</key>
                <string>{8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,36},{148,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,601},{130,122}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,37},{130,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,723},{130,108}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,61},{130,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,881},{120,142}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{120,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,205},{202,140}}</string>
                <key>offset</key>
                <string>{-27,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{202,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,144}}</string>
                <key>offset</key>
                <string>{-27,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{202,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,889},{124,134}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{124,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,601},{186,114}}</string>
                <key>offset</key>
                <string>{29,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,50},{186,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,409},{178,112}}</string>
                <key>offset</key>
                <string>{25,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,52},{178,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,331},{152,96}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,68},{152,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,601},{180,124}}</string>
                <key>offset</key>
                <string>{-38,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{180,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1},{168,166}}</string>
                <key>offset</key>
                <string>{-29,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,385},{144,174}}</string>
                <key>offset</key>
                <string>{-28,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{144,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,789},{184,130}}</string>
                <key>offset</key>
                <string>{-31,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,39},{184,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,891},{138,132}}</string>
                <key>offset</key>
                <string>{23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,58},{138,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,453},{146,126}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,57},{146,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1555,145},{116,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,74},{116,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,341},{166,146}}</string>
                <key>offset</key>
                <string>{-45,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{166,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,205},{110,178}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{110,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1},{108,178}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{108,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,589},{174,162}}</string>
                <key>offset</key>
                <string>{-41,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{174,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,319},{84,150}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{84,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,165},{88,152}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,55},{88,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/attack/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,291},{68,120}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,75},{68,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/death/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,585},{150,128}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,49},{150,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/death/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1},{150,144}}</string>
                <key>offset</key>
                <string>{-15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{150,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/death/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,603},{132,102}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,78},{132,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/death/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,509},{154,74}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,103},{154,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,171},{100,168}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,3},{100,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1},{100,168}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,3},{100,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1},{100,168}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,3},{100,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1},{100,168}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,3},{100,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,917},{106,150}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,14},{106,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,585},{106,150}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,14},{106,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,585},{106,150}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,14},{106,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,585},{106,150}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,14},{106,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,733},{96,146}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,24},{96,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,297},{96,146}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,24},{96,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,297},{96,146}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,24},{96,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,297},{96,146}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,24},{96,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,147},{112,142}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,27},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1},{112,142}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,27},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1},{112,142}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,27},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1},{112,142}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,27},{112,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,585},{120,152}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{120,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,585},{120,152}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{120,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,585},{120,152}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{120,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/hurt/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,585},{120,152}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{120,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{106,164}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,7},{106,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,765},{106,164}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,7},{106,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,765},{106,164}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,7},{106,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,589},{106,164}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,7},{106,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,149},{106,146}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,13},{106,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,1},{106,146}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,14},{106,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,447},{106,146}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,13},{106,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,303},{106,148}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,12},{106,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,931},{92,148}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,17},{92,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,931},{92,148}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,17},{92,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,491},{92,148}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,17},{92,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,303},{92,148}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,17},{92,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,485},{98,148}}</string>
                <key>offset</key>
                <string>{-21,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,17},{98,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,153},{100,148}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,17},{100,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1},{98,148}}</string>
                <key>offset</key>
                <string>{-21,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,17},{98,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,453},{96,148}}</string>
                <key>offset</key>
                <string>{-20,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,17},{96,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,151},{118,146}}</string>
                <key>offset</key>
                <string>{-30,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{118,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1},{118,146}}</string>
                <key>offset</key>
                <string>{-30,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{118,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,737},{118,146}}</string>
                <key>offset</key>
                <string>{-30,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{118,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,733},{116,146}}</string>
                <key>offset</key>
                <string>{-29,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{116,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{94,162}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,19},{94,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,331},{102,158}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,26},{102,158}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,737},{104,150}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,38},{104,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,339},{100,164}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,19},{100,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,149},{144,136}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,41},{144,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,881},{140,142}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,38},{140,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,739},{150,140}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,40},{150,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,885},{138,140}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,38},{138,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,755},{160,124}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,40},{160,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,181},{170,128}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,37},{170,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,783},{176,126}}</string>
                <key>offset</key>
                <string>{-15,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,40},{176,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,167},{162,128}}</string>
                <key>offset</key>
                <string>{-4,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,37},{162,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1},{108,144}}</string>
                <key>offset</key>
                <string>{-18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{108,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,299},{112,146}}</string>
                <key>offset</key>
                <string>{-24,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,36},{112,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1},{122,144}}</string>
                <key>offset</key>
                <string>{-26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,39},{122,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,445},{106,144}}</string>
                <key>offset</key>
                <string>{-22,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{106,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,295},{102,144}}</string>
                <key>offset</key>
                <string>{-21,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,38},{102,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,733},{104,146}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{104,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,291},{100,142}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,38},{100,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20036/walk/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,441},{106,142}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,37},{106,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_20036@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16d892271e111997a4fd1834aac43e5a:3f15264660611e6192310804ab5b45ad:6948a22e8ed93af3c8fc491a87a0f14e$</string>
            <key>textureFileName</key>
            <string>m_20036@0.png</string>
        </dict>
    </dict>
</plist>
