<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20037/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,335},{104,116}}</string>
                <key>offset</key>
                <string>{-20,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,176},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,747},{126,116}}</string>
                <key>offset</key>
                <string>{-11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,179},{126,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,253},{76,136}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,165},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,95},{76,136}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,166},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{92,160}}</string>
                <key>offset</key>
                <string>{-12,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,159},{92,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1},{84,148}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,154},{84,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,557},{138,114}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,177},{138,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,695},{110,112}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,182},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,173},{76,128}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,173},{76,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,253},{90,134}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,167},{90,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{102,152}}</string>
                <key>offset</key>
                <string>{-28,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,158},{102,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{92,148}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,159},{92,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,459},{116,116}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,178},{116,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,291},{94,120}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,182},{94,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,387},{104,118}}</string>
                <key>offset</key>
                <string>{-22,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,176},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,507},{116,130}}</string>
                <key>offset</key>
                <string>{-24,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,165},{116,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{140,130}}</string>
                <key>offset</key>
                <string>{-39,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,165},{140,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,889},{116,124}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,173},{116,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,253},{98,134}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,175},{98,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,99},{114,124}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,182},{114,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,823},{106,114}}</string>
                <key>offset</key>
                <string>{-24,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,173},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,639},{106,130}}</string>
                <key>offset</key>
                <string>{-24,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,161},{106,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,171},{122,118}}</string>
                <key>offset</key>
                <string>{-32,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,173},{122,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,571},{112,114}}</string>
                <key>offset</key>
                <string>{-24,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,179},{112,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,697},{112,134}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,175},{112,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,133},{138,118}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,181},{138,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,507},{98,130}}</string>
                <key>offset</key>
                <string>{-27,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,163},{98,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1},{82,138}}</string>
                <key>offset</key>
                <string>{-20,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,156},{82,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,639},{66,122}}</string>
                <key>offset</key>
                <string>{-14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,171},{66,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,931},{82,122}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,176},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/death/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,251},{98,134}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,175},{98,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/death/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,879},{112,120}}</string>
                <key>offset</key>
                <string>{-23,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,175},{112,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/death/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,507},{126,82}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,208},{126,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/death/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,639},{132,64}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,231},{132,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,543},{102,134}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,173},{102,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,173},{78,116}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,194},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,133},{84,118}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,192},{84,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,389},{74,116}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,194},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{136,120}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,175},{136,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,453},{116,108}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,194},{116,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,679},{122,102}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,199},{122,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,685},{112,110}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,195},{112,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,507},{122,126}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,177},{122,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,803},{126,100}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,197},{126,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,631},{122,92}}</string>
                <key>offset</key>
                <string>{-20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,208},{122,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,731},{128,98}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,197},{128,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,635},{94,130}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,178},{94,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,797},{94,108}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,199},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,893},{92,96}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,211},{92,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,831},{98,106}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,200},{98,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,755},{94,122}}</string>
                <key>offset</key>
                <string>{-22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,175},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,931},{82,106}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,196},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,893},{84,96}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,204},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/walk/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,309},{76,108}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,195},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,931},{80,124}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,174},{80,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,87},{84,124}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,174},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,85},{84,124}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,174},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,763},{80,124}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,174},{80,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,387},{118,116}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,175},{118,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,217},{120,116}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,175},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,337},{120,116}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,175},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,577},{116,116}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,175},{116,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,833},{132,116}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,178},{132,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,389},{132,116}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,178},{132,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,705},{130,116}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,178},{130,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,387},{130,118}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,176},{130,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,865},{120,122}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,177},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,507},{118,122}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,177},{118,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,99},{116,122}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,177},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,215},{120,120}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,178},{120,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1},{96,136}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,175},{96,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,173},{100,134}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,177},{100,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,407},{100,134}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,176},{100,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20037/stand/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1},{96,134}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,176},{96,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m_20037@0.png</string>
            <key>size</key>
            <string>{1014,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:395a889f7330258bcaec003d4066ba96:fc5ed83f4bd65ccfb0dcc4de14c9a7de:e20547a0bd87cde4577207041c4a2e63$</string>
            <key>textureFileName</key>
            <string>m_20037@0.png</string>
        </dict>
    </dict>
</plist>
