<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1006/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,361},{116,74}}</string>
                <key>offset</key>
                <string>{53,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,285},{116,74}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,265},{176,104}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,271},{176,104}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,657},{118,122}}</string>
                <key>offset</key>
                <string>{-27,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,275},{118,122}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,447},{130,152}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,248},{130,152}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,849},{172,276}}</string>
                <key>offset</key>
                <string>{26,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,173},{172,276}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,1},{186,262}}</string>
                <key>offset</key>
                <string>{7,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,133},{186,262}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,777},{126,246}}</string>
                <key>offset</key>
                <string>{5,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,139},{126,246}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,657},{118,178}}</string>
                <key>offset</key>
                <string>{5,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,199},{118,178}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,167},{94,144}}</string>
                <key>offset</key>
                <string>{3,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,221},{94,144}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,361},{76,82}}</string>
                <key>offset</key>
                <string>{17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,297},{76,82}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1},{168,104}}</string>
                <key>offset</key>
                <string>{-56,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,264},{168,104}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,427},{142,108}}</string>
                <key>offset</key>
                <string>{-70,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,259},{142,108}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,265},{160,124}}</string>
                <key>offset</key>
                <string>{-46,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,254},{160,124}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1},{296,188}}</string>
                <key>offset</key>
                <string>{-4,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,197},{296,188}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,813},{306,210}}</string>
                <key>offset</key>
                <string>{28,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,171},{306,210}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,579},{216,194}}</string>
                <key>offset</key>
                <string>{80,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,184},{216,194}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,579},{128,170}}</string>
                <key>offset</key>
                <string>{52,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,201},{128,170}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,751},{102,138}}</string>
                <key>offset</key>
                <string>{53,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,220},{102,138}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,361},{116,72}}</string>
                <key>offset</key>
                <string>{-29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,299},{116,72}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1},{140,126}}</string>
                <key>offset</key>
                <string>{-77,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,231},{140,126}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,167},{120,94}}</string>
                <key>offset</key>
                <string>{-74,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,235},{120,94}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,579},{170,90}}</string>
                <key>offset</key>
                <string>{-69,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,243},{170,90}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,445},{366,266}}</string>
                <key>offset</key>
                <string>{13,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,161},{366,266}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1},{356,248}}</string>
                <key>offset</key>
                <string>{35,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,172},{356,248}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,777},{246,240}}</string>
                <key>offset</key>
                <string>{113,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,177},{246,240}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,777},{186,236}}</string>
                <key>offset</key>
                <string>{86,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,178},{186,236}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,1},{164,158}}</string>
                <key>offset</key>
                <string>{86,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,233},{164,158}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,359},{142,70}}</string>
                <key>offset</key>
                <string>{-60,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,285},{142,70}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,891},{132,126}}</string>
                <key>offset</key>
                <string>{-65,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,199},{132,126}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,263},{84,98}}</string>
                <key>offset</key>
                <string>{-35,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,214},{84,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,443},{134,92}}</string>
                <key>offset</key>
                <string>{-62,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,213},{134,92}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,435},{340,316}}</string>
                <key>offset</key>
                <string>{21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,159},{340,316}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1},{358,304}}</string>
                <key>offset</key>
                <string>{63,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,170},{358,304}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,359},{262,296}}</string>
                <key>offset</key>
                <string>{108,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,175},{262,296}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1},{180,292}}</string>
                <key>offset</key>
                <string>{74,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,169},{180,292}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,775},{170,190}}</string>
                <key>offset</key>
                <string>{80,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,248},{170,190}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,417},{116,98}}</string>
                <key>offset</key>
                <string>{-55,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,247},{116,98}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,265},{180,106}}</string>
                <key>offset</key>
                <string>{-10,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,190},{180,106}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,171},{116,92}}</string>
                <key>offset</key>
                <string>{27,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,215},{116,92}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,571},{124,108}}</string>
                <key>offset</key>
                <string>{-3,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,187},{124,108}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,445},{198,402}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,125},{198,402}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{262,442}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,129},{262,442}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,295},{188,282}}</string>
                <key>offset</key>
                <string>{-27,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,250},{188,282}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,775},{160,202}}</string>
                <key>offset</key>
                <string>{-17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,289},{160,202}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>1006/attack/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,263},{114,152}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,313},{114,152}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_1006@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c6f1b2c960b8fa1aa4963c3edd5849b:f886e74b59675c051e281409d2c6554c:248b64839aae154430991d17af502222$</string>
            <key>textureFileName</key>
            <string>s_1006@0.png</string>
        </dict>
    </dict>
</plist>
