<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1010/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{68,68}}</string>
                <key>offset</key>
                <string>{63,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,261},{68,68}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{152,58}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,278},{152,58}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,419},{48,82}}</string>
                <key>offset</key>
                <string>{-55,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,253},{48,82}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{58,72}}</string>
                <key>offset</key>
                <string>{-60,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,254},{58,72}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,209},{152,58}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,282},{152,58}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,419},{62,58}}</string>
                <key>offset</key>
                <string>{86,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,296},{62,58}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,317},{82,46}}</string>
                <key>offset</key>
                <string>{67,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,308},{82,46}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,419},{54,76}}</string>
                <key>offset</key>
                <string>{-14,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,246},{54,76}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,345},{44,68}}</string>
                <key>offset</key>
                <string>{-27,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,239},{44,68}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,127},{148,114}}</string>
                <key>offset</key>
                <string>{31,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,259},{148,114}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,409},{76,68}}</string>
                <key>offset</key>
                <string>{51,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,325},{76,68}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,269},{72,72}}</string>
                <key>offset</key>
                <string>{64,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,321},{72,72}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,327},{80,82}}</string>
                <key>offset</key>
                <string>{34,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,252},{80,82}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,353},{62,62}}</string>
                <key>offset</key>
                <string>{13,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,237},{62,62}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1},{124,156}}</string>
                <key>offset</key>
                <string>{66,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,254},{124,156}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,269},{78,82}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,332},{78,82}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,239},{130,86}}</string>
                <key>offset</key>
                <string>{32,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,334},{130,86}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,327},{80,90}}</string>
                <key>offset</key>
                <string>{66,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,273},{80,90}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,411},{70,66}}</string>
                <key>offset</key>
                <string>{55,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,251},{70,66}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1},{118,162}}</string>
                <key>offset</key>
                <string>{67,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,271},{118,162}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,243},{72,104}}</string>
                <key>offset</key>
                <string>{-62,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,308},{72,104}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,121},{160,116}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,312},{160,116}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,243},{46,100}}</string>
                <key>offset</key>
                <string>{57,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,290},{46,100}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,353},{56,74}}</string>
                <key>offset</key>
                <string>{59,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,273},{56,74}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
            <key>1010/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,146}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,292},{156,146}}</string>
                <key>sourceSize</key>
                <string>{800,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_1010@0.png</string>
            <key>size</key>
            <string>{480,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18148422bbff446c3fdb3a178ac0a2a6:0f2d73aa8bc5b4fdad8e1f2f9dbf6f6a:eb7c2b742269a59c4d09e54f8fbd2ea8$</string>
            <key>textureFileName</key>
            <string>s_1010@0.png</string>
        </dict>
    </dict>
</plist>
