<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1102/attack/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,311},{176,72}}</string>
                <key>offset</key>
                <string>{16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,345},{176,72}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,323},{328,312}}</string>
                <key>offset</key>
                <string>{142,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,130},{328,312}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{318,320}}</string>
                <key>offset</key>
                <string>{111,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,254},{318,320}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,1},{320,308}}</string>
                <key>offset</key>
                <string>{93,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,278},{320,308}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,311},{174,328}}</string>
                <key>offset</key>
                <string>{3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,316},{174,328}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_1102@1.png</string>
            <key>size</key>
            <string>{642,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7514b1cfbeb6855fb019bc9ef8a044c5:9a104695eec5b21ee1b8839501990c5c:831b3516b98a513a9ac2b4f2d9aadb61$</string>
            <key>textureFileName</key>
            <string>s_1102@1.png</string>
        </dict>
    </dict>
</plist>
