<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1102/attack/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,213},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,398.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1193},{254,372}}</string>
                <key>offset</key>
                <string>{-35,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,214},{254,372}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,851},{194,278}}</string>
                <key>offset</key>
                <string>{32,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,201},{194,278}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,465},{186,442}}</string>
                <key>offset</key>
                <string>{-1,179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,0},{186,442}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1051},{204,376}}</string>
                <key>offset</key>
                <string>{-7,179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,33},{204,376}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1435},{210,360}}</string>
                <key>offset</key>
                <string>{4,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,54},{210,360}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1449},{212,346}}</string>
                <key>offset</key>
                <string>{-6,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,60},{212,346}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,975},{218,330}}</string>
                <key>offset</key>
                <string>{-6,181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,54},{218,330}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1431},{136,300}}</string>
                <key>offset</key>
                <string>{7,171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,79},{136,300}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,655},{130,268}}</string>
                <key>offset</key>
                <string>{10,165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,101},{130,268}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,683},{100,166}}</string>
                <key>offset</key>
                <string>{-3,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,197},{100,166}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,213},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,398.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,441},{240,100}}</string>
                <key>offset</key>
                <string>{-84,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,327},{240,100}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,465},{188,82}}</string>
                <key>offset</key>
                <string>{-116,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,331},{188,82}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1211},{362,224}}</string>
                <key>offset</key>
                <string>{-22,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,249},{362,224}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,297},{480,380}}</string>
                <key>offset</key>
                <string>{110,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,97},{480,380}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1},{426,308}}</string>
                <key>offset</key>
                <string>{134,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,132},{426,308}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1437},{342,292}}</string>
                <key>offset</key>
                <string>{126,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,132},{342,292}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1257},{368,296}}</string>
                <key>offset</key>
                <string>{121,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,129},{368,296}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,679},{374,294}}</string>
                <key>offset</key>
                <string>{112,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,142},{374,294}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,823},{264,270}}</string>
                <key>offset</key>
                <string>{118,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,150},{264,270}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1555},{280,238}}</string>
                <key>offset</key>
                <string>{92,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,181},{280,238}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,213},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,398.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1569},{190,156}}</string>
                <key>offset</key>
                <string>{-111,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,254},{190,156}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,679},{146,90}}</string>
                <key>offset</key>
                <string>{-109,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,262},{146,90}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1131},{202,62}}</string>
                <key>offset</key>
                <string>{-121,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,316},{202,62}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{588,318}}</string>
                <key>offset</key>
                <string>{38,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,152},{588,318}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,1},{564,294}}</string>
                <key>offset</key>
                <string>{68,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,190},{564,294}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,827},{362,282}}</string>
                <key>offset</key>
                <string>{155,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,190},{362,282}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,775},{388,274}}</string>
                <key>offset</key>
                <string>{148,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,196},{388,274}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,653},{394,282}}</string>
                <key>offset</key>
                <string>{136,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,189},{394,282}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,937},{372,254}}</string>
                <key>offset</key>
                <string>{125,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,222},{372,254}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,1795},{304,218}}</string>
                <key>offset</key>
                <string>{147,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,251},{304,218}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1195},{320,214}}</string>
                <key>offset</key>
                <string>{129,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,253},{320,214}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,213},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,398.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,1569},{186,144}}</string>
                <key>offset</key>
                <string>{-108,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,207},{186,144}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,321},{104,118}}</string>
                <key>offset</key>
                <string>{-43,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,215},{104,118}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1555},{178,72}}</string>
                <key>offset</key>
                <string>{-104,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,257},{178,72}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,321},{482,452}}</string>
                <key>offset</key>
                <string>{63,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,116},{482,452}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,429},{446,392}}</string>
                <key>offset</key>
                <string>{58,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,172},{446,392}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1431},{340,320}}</string>
                <key>offset</key>
                <string>{122,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,260},{340,320}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1449},{344,326}}</string>
                <key>offset</key>
                <string>{112,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,253},{344,326}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,1773},{274,274}}</string>
                <key>offset</key>
                <string>{119,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,284},{274,274}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,1761},{258,268}}</string>
                <key>offset</key>
                <string>{114,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,287},{258,268}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,213},{3,3}}</string>
                <key>offset</key>
                <string>{-398.5,398.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,925},{284,122}}</string>
                <key>offset</key>
                <string>{-17,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,192},{284,122}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,1191},{158,110}}</string>
                <key>offset</key>
                <string>{71,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,217},{158,110}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1797},{248,314}}</string>
                <key>offset</key>
                <string>{-2,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,105},{248,314}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1},{210,580}}</string>
                <key>offset</key>
                <string>{12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,139},{210,580}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,213},{250,526}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,193},{250,526}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1797},{230,338}}</string>
                <key>offset</key>
                <string>{10,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,331},{230,338}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1797},{242,350}}</string>
                <key>offset</key>
                <string>{-3,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,325},{242,350}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,1089},{268,340}}</string>
                <key>offset</key>
                <string>{-6,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,326},{268,340}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1781},{174,266}}</string>
                <key>offset</key>
                <string>{6,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,373},{174,266}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>1102/attack/40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1195},{194,238}}</string>
                <key>offset</key>
                <string>{-12,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,400},{194,238}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_1102@0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7514b1cfbeb6855fb019bc9ef8a044c5:9a104695eec5b21ee1b8839501990c5c:831b3516b98a513a9ac2b4f2d9aadb61$</string>
            <key>textureFileName</key>
            <string>s_1102@0.png</string>
        </dict>
    </dict>
</plist>
