<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>2005/hit/00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,1},{92,62}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{254,285},{92,62}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,305},{252,152}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{176,234},{252,152}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,317},{254,154}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{171,226},{254,154}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{258,158}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{171,213},{258,158}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,161},{256,154}}</string>
			<key>offset</key>
			<string>{0,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{172,211},{256,154}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,1},{256,152}}</string>
			<key>offset</key>
			<string>{-1,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{171,207},{256,152}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,155},{256,148}}</string>
			<key>offset</key>
			<string>{0,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{172,199},{256,148}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,473},{250,140}}</string>
			<key>offset</key>
			<string>{-4,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{171,193},{250,140}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,459},{218,130}}</string>
			<key>offset</key>
			<string>{4,48}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{195,187},{218,130}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
		<key>2005/hit/00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,305},{174,100}}</string>
			<key>offset</key>
			<string>{5,61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{218,189},{174,100}}</string>
			<key>sourceSize</key>
			<string>{600,600}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>s_2005@0.png</string>
		<key>size</key>
		<string>{614,614}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1106136792a14209c2422a5063cc88a2:9a496cb42b4b8da699e94ab661f658f6:8a8cc9f8b436a8fbe8c11bc342e006aa$</string>
		<key>textureFileName</key>
		<string>s_2005@0.png</string>
	</dict>
</dict>
</plist>
