<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2004/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,651},{96,62}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,71},{96,62}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,119},{106,82}}</string>
                <key>offset</key>
                <string>{0,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,70},{106,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1},{116,112}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,70},{116,112}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,553},{124,138}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,70},{124,138}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,553},{132,166}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,71},{132,166}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,553},{138,192}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,70},{138,192}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{166,216}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,435},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,169},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,169},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,337},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,337},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2004/loop/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,337},{166,214}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{166,214}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_2004@0.png</string>
            <key>size</key>
            <string>{714,714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed0f77571e553b9926684fcba5dbce07:77cb2eb4d1f2318816dc8125b0f4a6cd:385b68f859dfd5f2a7f1439022b751df$</string>
            <key>textureFileName</key>
            <string>s_2004@0.png</string>
        </dict>
    </dict>
</plist>
