<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2010/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,487},{166,124}}</string>
                <key>offset</key>
                <string>{-2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{555,648},{166,124}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1},{288,150}}</string>
                <key>offset</key>
                <string>{-3,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{493,650},{288,150}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,291},{278,152}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,646},{278,152}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,451},{256,162}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,629},{256,162}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,833},{254,176}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,626},{254,176}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{194,636}}</string>
                <key>offset</key>
                <string>{-13,210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{530,112},{194,636}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{196,612}}</string>
                <key>offset</key>
                <string>{-12,222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{530,112},{196,612}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{198,484}}</string>
                <key>offset</key>
                <string>{-14,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,241},{198,484}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,639},{390,374}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,437},{390,374}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1},{448,302}}</string>
                <key>offset</key>
                <string>{-9,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,537},{448,302}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,615},{440,336}}</string>
                <key>offset</key>
                <string>{-24,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,503},{440,336}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,615},{312,280}}</string>
                <key>offset</key>
                <string>{-32,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,559},{312,280}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1},{254,248}}</string>
                <key>offset</key>
                <string>{-19,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{494,568},{254,248}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/hit/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,577},{254,186}}</string>
                <key>offset</key>
                <string>{-10,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{503,620},{254,186}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>2010/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,929},{86,88}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,227},{86,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,445},{106,106}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,207},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,929},{86,114}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,196},{86,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,487},{110,114}}</string>
                <key>offset</key>
                <string>{18,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,182},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,929},{106,86}}</string>
                <key>offset</key>
                <string>{17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,180},{106,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,445},{130,104}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,159},{130,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>2010/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,445},{130,128}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,131},{130,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_2010@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:008d56212ea4e3da247d5c7d92bee26c:6c81ec273b3854584c44d2069f48bd27:c8e72e4ecf252e88b01564ca411583ea$</string>
            <key>textureFileName</key>
            <string>s_2010@0.png</string>
        </dict>
    </dict>
</plist>
