<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2007/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,133},{86,116}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,49},{86,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,129},{90,124}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,43},{90,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{90,126}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,39},{90,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{86,130}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,37},{86,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,273},{90,132}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,34},{90,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,139},{92,132}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,33},{92,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,136}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,30},{90,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{86,134}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,31},{86,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,139},{86,136}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,30},{86,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>2007/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{86,122}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,46},{86,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_2007@0.png</string>
            <key>size</key>
            <string>{364,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a15dbdf75f0a166a8714a516414d3ee:79dfdb72f2a41f9d9a10885da15e6702:5dcaac4cd4bb750afcc94bdaa7061459$</string>
            <key>textureFileName</key>
            <string>s_2007@0.png</string>
        </dict>
    </dict>
</plist>
