<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2011/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,1249},{304,304}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,109},{304,304}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,1555},{324,326}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,93},{324,326}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,347},{354,354}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,69},{354,354}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,1},{360,342}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,87},{360,342}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{370,356}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,70},{370,356}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,735},{360,338}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,88},{360,338}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,345},{348,338}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,86},{348,338}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,905},{338,330}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{338,330}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1561},{332,332}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,97},{332,332}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,695},{338,336}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,92},{338,336}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1457},{342,334}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,98},{342,334}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{340,374}}</string>
                <key>offset</key>
                <string>{-7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,61},{340,374}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1},{344,362}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,67},{344,362}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1459},{356,346}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,80},{356,346}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1117},{346,338}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,90},{346,338}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,1},{344,360}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,67},{344,360}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,347},{356,346}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,84},{356,346}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1},{360,352}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,74},{360,352}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1097},{360,336}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,86},{360,336}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/casting/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1237},{334,322}}</string>
                <key>offset</key>
                <string>{20,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,90},{334,322}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1555},{360,196}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,237},{360,196}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,887},{360,198}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,233},{360,198}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1033},{362,200}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,232},{362,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1235},{366,198}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,233},{366,198}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,685},{362,200}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,231},{362,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,703},{368,200}}</string>
                <key>offset</key>
                <string>{11,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,231},{368,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1033},{366,200}}</string>
                <key>offset</key>
                <string>{12,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,232},{366,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,745},{370,200}}</string>
                <key>offset</key>
                <string>{14,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,233},{370,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,359},{384,200}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,233},{384,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1435},{366,198}}</string>
                <key>offset</key>
                <string>{11,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,235},{366,198}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,355},{378,200}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,233},{378,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1635},{366,196}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,234},{366,196}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,1555},{360,196}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,237},{360,196}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1597,887},{360,198}}</string>
                <key>offset</key>
                <string>{7,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,233},{360,198}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1033},{362,200}}</string>
                <key>offset</key>
                <string>{8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,232},{362,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1235},{366,198}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,233},{366,198}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,685},{362,200}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,231},{362,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,703},{368,200}}</string>
                <key>offset</key>
                <string>{11,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,231},{368,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,1033},{366,200}}</string>
                <key>offset</key>
                <string>{12,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,232},{366,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,745},{370,200}}</string>
                <key>offset</key>
                <string>{14,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,233},{370,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,359},{384,200}}</string>
                <key>offset</key>
                <string>{3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,233},{384,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1435},{366,198}}</string>
                <key>offset</key>
                <string>{11,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,235},{366,198}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,355},{378,200}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,233},{378,200}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
            <key>2011/hit/00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1635},{366,196}}</string>
                <key>offset</key>
                <string>{11,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,234},{366,196}}</string>
                <key>sourceSize</key>
                <string>{546,546}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_2011@0.png</string>
            <key>size</key>
            <string>{1916,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdf4fb409654da65743c3c21cf4196fd:d01c8147a3a6a267469f9fec66392e16:2372e427f8a6c4b91c0638320f05d059$</string>
            <key>textureFileName</key>
            <string>s_2011@0.png</string>
        </dict>
    </dict>
</plist>
