<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2009/loop/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,403},{136,108}}</string>
                <key>offset</key>
                <string>{-6,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,57},{136,108}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,451},{190,216}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,57},{190,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{204,220}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,58},{204,220}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{202,222}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,57},{202,222}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,223},{198,224}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,57},{198,224}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,224}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,58},{202,224}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{200,212}}</string>
                <key>offset</key>
                <string>{-9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{200,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,451},{192,212}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,88},{192,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,449},{190,200}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,108},{190,200}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>2009/loop/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,215},{192,186}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,122},{192,186}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_2009@0.png</string>
            <key>size</key>
            <string>{688,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c94b7f1ebc25db1f5b9dea2c666d201b:8fc90e531e41e6106b65eeb9fdfdccba:ca1cb5e302f75d55356b98e2d43a06d5$</string>
            <key>textureFileName</key>
            <string>s_2009@0.png</string>
        </dict>
    </dict>
</plist>
