<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2001/track/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,429},{142,78}}</string>
                <key>offset</key>
                <string>{-26,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,54},{142,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2001/track/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,409},{144,76}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{144,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2001/track/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,439},{142,70}}</string>
                <key>offset</key>
                <string>{-29,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{142,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2001/track/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,439},{144,70}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{144,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2001/track/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,409},{144,64}}</string>
                <key>offset</key>
                <string>{-28,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{144,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>2001/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,215},{200,212}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,44},{200,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2001/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{204,218}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,39},{204,218}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2001/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{206,216}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,39},{206,216}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2001/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{204,212}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,42},{204,212}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2001/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,215},{190,192}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,42},{190,192}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2001/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1},{168,168}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,54},{168,168}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>2001/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{144,142}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,69},{144,142}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_2001@0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f01125f4b7c9cd6be1318205a1a03422:aeb2af0ca131b23556eacb95a568c787:bdb2f8af777ba5d73b13f9e95537551a$</string>
            <key>textureFileName</key>
            <string>s_2001@0.png</string>
        </dict>
    </dict>
</plist>
