<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2202/track/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,997},{118,104}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{118,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2202/track/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,709},{114,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,38},{114,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2202/track/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1001},{98,92}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{98,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2202/track/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,85},{142,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{142,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2202/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,239},{48,34}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,106},{48,34}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,997},{90,86}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,83},{90,86}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,485},{204,202}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,33},{204,202}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1},{236,232}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{236,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{240,246}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{240,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{244,250}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,505},{246,244}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{246,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,501},{246,240}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{246,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{246,244}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{246,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,253},{246,242}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{246,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,749},{246,232}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{246,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,749},{246,230}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{246,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{240,224}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,13},{240,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,243},{240,218}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{240,218}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,501},{242,216}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{242,216}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,249},{242,206}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{242,206}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,689},{220,194}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,31},{220,194}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,911},{214,188}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{214,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,393},{202,152}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,43},{202,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/hit/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1},{142,82}}</string>
                <key>offset</key>
                <string>{-46,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,54},{142,82}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>2202/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,785},{90,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{90,74}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,785},{88,88}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{88,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,997},{92,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{92,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,997},{94,106}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{94,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1001},{98,122}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{98,122}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1001},{96,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,1},{96,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,597},{110,128}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{110,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,281},{110,130}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{110,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,167},{112,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>2202/casting/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,875},{88,82}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{88,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_2202@0.png</string>
            <key>size</key>
            <string>{1102,1102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aaf79647f4d165fd277d57996fc0d5f:d0afd75f7f356054ede95c4256633b4f:b45033ea62f4cc71c2b2e16f283cf06e$</string>
            <key>textureFileName</key>
            <string>s_2202@0.png</string>
        </dict>
    </dict>
</plist>
