<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3003/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,713},{310,222}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,109},{310,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,825},{346,248}}</string>
                <key>offset</key>
                <string>{15,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,82},{346,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,1123},{316,266}}</string>
                <key>offset</key>
                <string>{16,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,76},{316,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,367},{344,274}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,72},{344,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,569},{348,266}}</string>
                <key>offset</key>
                <string>{16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,73},{348,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,569},{350,254}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,84},{350,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1},{364,260}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,82},{364,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,293},{358,274}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,72},{358,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,599},{358,304}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,51},{358,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{372,296}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,54},{372,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{378,276}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,79},{378,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{392,298}}</string>
                <key>offset</key>
                <string>{-4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,51},{392,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{360,290}}</string>
                <key>offset</key>
                <string>{12,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,54},{360,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,279},{360,288}}</string>
                <key>offset</key>
                <string>{11,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,53},{360,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,905},{356,298}}</string>
                <key>offset</key>
                <string>{4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,52},{356,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,837},{330,284}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,58},{330,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1075},{326,298}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{326,298}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,937},{304,234}}</string>
                <key>offset</key>
                <string>{-19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,94},{304,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1173},{262,222}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,113},{262,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3003/hit/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1205},{162,188}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,125},{162,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_3003@0.png</string>
            <key>size</key>
            <string>{1398,1398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60dacd93b60436d21b1717988fe3eaa7:426ca30de32653ac759fce2c29849530:cc5a57962f34b5f2992d0bb416098801$</string>
            <key>textureFileName</key>
            <string>s_3003@0.png</string>
        </dict>
    </dict>
</plist>
