<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3012/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,549},{118,124}}</string>
                <key>offset</key>
                <string>{-3,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,40},{118,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,423},{124,170}}</string>
                <key>offset</key>
                <string>{-4,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,36},{124,170}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,303},{118,194}}</string>
                <key>offset</key>
                <string>{-6,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,43},{118,194}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,423},{126,168}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,94},{126,168}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{212,212}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,74},{212,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,261},{232,236}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,55},{232,236}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{252,258}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,36},{252,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1},{150,216}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,54},{150,216}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,497},{150,178}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,92},{150,178}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,499},{150,234}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,36},{150,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,261},{148,234}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,36},{148,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,153},{148,212}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,57},{148,212}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3012/hit/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,215},{142,82}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,185},{142,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_3012@0.png</string>
            <key>size</key>
            <string>{688,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be6c3a6036808fcdcbd11b38a435f139:539fe445b0cab708d3ee10e211db3321:4711f22bca1811c139107960e5c8739d$</string>
            <key>textureFileName</key>
            <string>s_3012@0.png</string>
        </dict>
    </dict>
</plist>
