<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3001/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,1},{288,218}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,127},{288,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,443},{290,224}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,127},{290,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,219},{292,222}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,128},{292,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,443},{292,224}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,128},{292,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,219},{286,222}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,129},{286,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1},{288,216}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,133},{288,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,221},{288,222}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,128},{288,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,221},{290,222}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,128},{290,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,445},{284,224}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,128},{284,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,445},{282,224}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,128},{282,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,445},{284,224}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,127},{284,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,221},{288,222}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,129},{288,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,441},{286,222}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,128},{286,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1},{286,216}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,128},{286,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{276,210}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,129},{276,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,1},{272,218}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,128},{272,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,219},{278,220}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,131},{278,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,211},{278,218}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,130},{278,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,1},{278,216}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,132},{278,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3001/hit/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{278,208}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,134},{278,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_3001@0.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c8ece7bf3d68cf0d52d9cd9859c1784:863ae6bd82a203595246ea4f862b9db6:7e9b5df09e69ae1393f0741b2490f72d$</string>
            <key>textureFileName</key>
            <string>s_3001@0.png</string>
        </dict>
    </dict>
</plist>
