<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3007/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,417},{210,106}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,42},{210,106}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{210,146}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{210,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,581},{210,142}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{210,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,581},{182,138}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{182,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,549},{150,114}}</string>
                <key>offset</key>
                <string>{5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,43},{150,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,629},{126,126}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,32},{126,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,665},{98,114}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,57},{98,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,701},{86,82}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,80},{86,82}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,701},{74,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,93},{74,70}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,317},{58,74}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,84},{58,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,209},{106,58}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,118},{106,58}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{230,134}}</string>
                <key>offset</key>
                <string>{2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,94},{230,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{246,210}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{246,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{246,206}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{246,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{242,210}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{242,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,209},{238,206}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{238,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,213},{238,202}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{238,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,213},{238,190}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{238,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,405},{214,174}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{214,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3007/hit/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,417},{190,130}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,57},{190,130}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_3007@0.png</string>
            <key>size</key>
            <string>{792,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abdeeaf32cbed5d9d94e31f27124ea40:82c59312ffa5e5a3824ea3bf3fc2badc:76617a9a251ae91c738f24c6e9854e30$</string>
            <key>textureFileName</key>
            <string>s_3007@0.png</string>
        </dict>
    </dict>
</plist>
