<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3010/loop/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1},{136,168}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,148},{136,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1},{134,168}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,148},{134,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,171},{134,168}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,148},{134,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1},{134,168}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,148},{134,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,171},{134,168}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,148},{134,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1},{136,168}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,147},{136,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{134,170}}</string>
                <key>offset</key>
                <string>{-5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,145},{134,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,171},{134,170}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,144},{134,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,172}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,144},{134,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3010/loop/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,171},{132,170}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,146},{132,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_3010@0.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb37ba313104d66dcd9e706155dd8228:2eea9656cfd6acd35b9c588586181667:31f3460c541ae663922aa00fc0f79920$</string>
            <key>textureFileName</key>
            <string>s_3010@0.png</string>
        </dict>
    </dict>
</plist>
