<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3002/track/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,431},{80,36}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{80,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>3002/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,585},{104,110}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,70},{104,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,585},{166,174}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,34},{166,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,253},{160,168}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,40},{160,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,423},{160,168}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,40},{160,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{160,164}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{160,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{148,152}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,44},{148,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,351},{128,128}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{128,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{114,142}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,42},{114,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{102,152}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,34},{102,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,481},{100,94}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,73},{100,94}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,163},{164,88}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,116},{164,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,481},{156,90}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,116},{156,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,585},{166,98}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,112},{166,98}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,585},{180,188}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,27},{180,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,343},{194,190}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{194,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{210,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{210,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1},{198,196}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{198,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,199},{198,150}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,71},{198,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,173},{198,168}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,53},{198,168}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1},{198,170}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,51},{198,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,585},{180,110}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,105},{180,110}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,585},{182,96}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,114},{182,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3002/casting/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,351},{132,78}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,124},{132,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_3002@0.png</string>
            <key>size</key>
            <string>{778,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2002bc94ef04b04b851d108b973a45cc:3827d0fddad9ab76b7fcd8757eb486c9:f5b45b661f69819e7ab60483f5119970$</string>
            <key>textureFileName</key>
            <string>s_3002@0.png</string>
        </dict>
    </dict>
</plist>
