<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3006/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,521},{66,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{66,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>3006/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,369},{194,100}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,216},{194,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,369},{198,108}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,210},{198,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,217},{204,114}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,204},{204,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,127},{206,122}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,196},{206,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{214,128}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,190},{214,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,391},{212,128}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,189},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{218,126}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,190},{218,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{214,124}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,191},{214,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{210,130}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,188},{210,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1},{214,124}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,189},{214,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>3006/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,251},{206,116}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,190},{206,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_3006@0.png</string>
            <key>size</key>
            <string>{568,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb65c1f85a496c367541bf0572d244ac:67b1fbd10b6a364caa19ece677d17215:3c9e96e7cc626e42e61e1570ce8cb927$</string>
            <key>textureFileName</key>
            <string>s_3006@0.png</string>
        </dict>
    </dict>
</plist>
