<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3008/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,565},{222,198}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,106},{222,198}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3008/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,511},{238,234}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,71},{238,234}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3008/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,519},{248,244}}</string>
                <key>offset</key>
                <string>{-13,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,61},{248,244}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3008/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,269},{248,248}}</string>
                <key>offset</key>
                <string>{-13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,57},{248,248}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3008/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,259},{246,250}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,55},{246,250}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3008/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{246,256}}</string>
                <key>offset</key>
                <string>{-12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,49},{246,256}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3008/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{242,266}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,39},{242,266}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3008/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,289},{236,274}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{236,274}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>3008/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{240,286}}</string>
                <key>offset</key>
                <string>{-9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,19},{240,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s_3008@0.png</string>
            <key>size</key>
            <string>{764,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35cb2208fcf1ca4c1b84ab19df4ff7bb:76e2afe79058852542b06a221804a44b:56fc4f0dd7b73913bcad85faa3c2997c$</string>
            <key>textureFileName</key>
            <string>s_3008@0.png</string>
        </dict>
    </dict>
</plist>
