<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3011/track/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,867},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,100}</string>
            </dict>
            <key>3011/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,277},{40,54}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,79},{40,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,661},{130,116}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,59},{130,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,409},{126,132}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,39},{126,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{136,154}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,11},{136,154}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,139},{136,152}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,14},{136,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,277},{130,132}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,18},{130,132}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,537},{126,122}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,24},{126,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,753},{118,102}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,43},{118,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,779},{118,102}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,43},{118,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,731},{122,108}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,43},{122,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/hit/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,731},{134,120}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{134,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,237},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,237},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,473},{254,234}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,709},{254,234}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{254,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,237},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,473},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3011/casting/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,495},{256,234}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_3011@0.png</string>
            <key>size</key>
            <string>{944,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a032e3ed463c0bbc6582ec19aa33dfe4:057c1b7f2164c1e3af67ee90cef0fa01:f08899e87a926f8b036f0e8d5e966a5d$</string>
            <key>textureFileName</key>
            <string>s_3011@0.png</string>
        </dict>
    </dict>
</plist>
