<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3303/track/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,626},{175,103}}</string>
                <key>offset</key>
                <string>{10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{175,103}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>3303/track/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,604},{159,131}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,11},{159,131}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>3303/track/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,509},{163,115}}</string>
                <key>offset</key>
                <string>{10,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{163,115}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>3303/track/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,499},{145,103}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{145,103}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>3303/track/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,757},{129,99}}</string>
                <key>offset</key>
                <string>{-12,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,18},{129,99}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>3303/track/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,726},{127,105}}</string>
                <key>offset</key>
                <string>{-15,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,14},{127,105}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>3303/track/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,613},{127,111}}</string>
                <key>offset</key>
                <string>{-14,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{127,111}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>3303/hit/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,857},{92,80}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,194},{92,80}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/hit/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,825},{174,150}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,145},{174,150}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/hit/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,827},{192,150}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,138},{192,150}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/hit/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,271},{226,158}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,136},{226,158}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/hit/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,261},{220,188}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,122},{220,188}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/hit/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,301},{240,182}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,145},{240,182}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,1},{108,78}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,211},{108,78}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,857},{132,100}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,202},{132,100}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,483},{166,128}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,188},{166,128}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,637},{186,122}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,191},{186,122}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,637},{174,188}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,132},{174,188}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,281},{184,226}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,100},{184,226}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1},{204,258}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,68},{204,258}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{234,278}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,48},{234,278}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,298}}</string>
                <key>offset</key>
                <string>{7,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,28},{256,298}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{234,316}}</string>
                <key>offset</key>
                <string>{6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,10},{234,316}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,619},{214,292}}</string>
                <key>offset</key>
                <string>{5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,34},{214,292}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{196,268}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,58},{196,268}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,543},{92,216}}</string>
                <key>offset</key>
                <string>{-1,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,51},{92,216}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,765},{90,142}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,125},{90,142}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,613},{88,142}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,124},{88,142}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,888},{88,138}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,124},{88,138}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>3303/casting/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,281},{4,4}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,257},{4,4}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>s_3303@0.png</string>
            <key>size</key>
            <string>{978,978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec6439c84b603491b2ded89a7d67f392:833e8ec7459286db10da86861b5d3b48:c11774beee1ece5a6b64a3174358dddf$</string>
            <key>textureFileName</key>
            <string>s_3303@0.png</string>
        </dict>
    </dict>
</plist>
